<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="header">
	<ul class="menu_nav">
		<li><a href="#">추천와인</a></li>
		<li><a href="#">상품</a></li>
		<li><a href="/notice/main">공지사항</a></li>
	</ul>

	<div class="main_logo">
		<a href="/home"> <img alt="logo" src="/images/main_logo.png">
		</a>
	</div>

	<ul class="member_nav">
		<li><a href="#장바구니"> <img alt="logo" class="shopping_cart"
				src="/images/shopping-cart.png">
		</a></li>
		<li><img alt="logo" class="login_icon" src="/images/loginIcon.png">
			<ul class="member_sub submenu">
				<th:block sec:authorize="isAnonymous()">
					<li><a href="/member/login">로그인</a></li>
					<li><a href="/member/joinConfirm">회원가입</a></li>
				</th:block>
				<th:block sec:authorize="isAuthenticated()">
					<li><a href="/member/logout">로그아웃</a></li>
					<th:block sec:authorize="hasRole('MEMBER')">
						<li><a href="#마이페이지">마이페이지</a></li>
					</th:block>
					<th:block sec:authorize="hasRole('ADMIN')">
						<li><a href="#관리자페이지">관리자페이지</a></li>
					</th:block>
				</th:block>
			</ul></li>
	</ul>
</header>
</html>