@charset "UTF-8";
 * {
          font-family: 'Gowun Batang', serif;
       }
    
  .content {
	width: 1100px;
	height: 100%;
	margin: auto;
}

.inner {
    height: 100%;
    margin: auto;
    width: 1100px;
}

    #noticeform{
	    justify-content: center;
	    align-items: center;   
    }
    .dateArea{
    	margin-left: 885px;
    }
    
    .categoryArea{
    	font-size: 23px;
    }

    #titleLabel{
        margin-right: 38px;
    }


    label{
        margin-right: 5px;
    }


    #title{
        height: 30px;
	    width: 600px;
	    border: none;
	    font-size: 25px;
	    text-align: center;
	    margin-left: 30px;
    }
    
    .titleArea{
    margin-left: 137px;
    }

    #summernote{
        text-align: center;
        border: lightgray 1px solid;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 137px;
        width: 800px;
        height: auto;
    }

    .btnArea{
        text-align: center;
        border-top: 1px solid #282A35;
        padding: 30px;
        width: 900px;
        margin-left: 70px;
    }
    
    #backBtn{
            background: white ;
            border: 1px solid #83131E ;
            color: #83131E;
            width:150px;
            height: 25px;
            border-radius: 5%;
            margin-right: 30px;
        }

    #modifyBtn{
          
            background: #83131E ;
            border: none;
            color:white;
            width:150px;
            height: 25px;
            border-radius: 5%;
            margin-right: 30px;
        }

