<!DOCTYPE html>
<html xmlns:th="http://http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>product regist</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="/css/common/common.css" rel="stylesheet">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<style>
	.input_area {
		display: flex;
		margin-bottom: 20px;
	}
	.label_area {
		width: 200px;
	}
	
	.text_area {
		resize: none;
		width: 400px;
		height: 300px;
		overflow-y: scroll;
	}
	
	input[type=range] {
		display: inline;
		background: #c4c4c4;
		-webkit-appearance: none;
		border-radius: 5px;
		height: 0.5em;
	}
	
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: #83131E;
		cursor: pointer;
		border: 1px solid #000000;
		height: 1em;
		width: 1em;
		border-radius: 50%;
	}
	.image_area {
		width: 350px;
		height: 350px;
		border: 1px solid black;
	}
	
	.cancle_btn {
		border: 1px solid #83131E;
		border-radius: 5px;
		background: white;
		color: #83131E;
	}
	
	.regist_btn {
		border: 1px solid #83131E;
		border-radius: 5px;
		background: #83131E;
		color: white;
	}
	
	.btn {
		height: 44px;
		width: 98.9552230834961px;
		left: 0px;
		top: 0px;
		border-radius: 5px;
	}
	
	#registForm {
		width: 800px;
	}
	
	#btn_area {
		width: 500px;
		text-align: center;
	}
	
	#hash_btn {
		background: #83131E;
		color: white;
		margin-left: 20px;
		border-radius: 5px;
		border: 1px solid #83131E;
	}
	.category > select {
		width: 140px;
	}
	.name_area {
		width: 400px;
	}
	.img {
		width: 350px;
		height: 350px;
	}
</style>    
</head>
<body>
	<header th:include="common/header :: header"></header>
    <h1>상품 등록</h1>
    <hr>
    <form id="registForm" th:action="@{/product/regist}" method="post" encType="multipart/form-data" onsubmit="return validate()">
        <h3>상품 기본 정보</h3>
        <div class="input_area">
            <div class="label_area">카테고리</div>
            <div class="category">
                <select name="typeNo" id="type" required></select><br>
                <select name="countryNo" id="country" required></select><br>
                <select name="varietyNo" id="variety" required></select>
            </div>
        </div>
        <div class="input_area">
            <div class="label_area">상품명</div>
            <div>
                <input class="name_area" type="text" name="kname" placeholder="한글명" required>
                <button type="button" id="nameCheck" onclick="return productNameCheck()">중복확인</button><br>
                <input class="name_area" type="text" name="ename" placeholder="영문명" required>
            </div>
        </div>
        <div class="input_area">
            <div class="label_area">원가</div>
            <div><input type="number" name="costPrice" min="0" required></div>
        </div>
        <div class="input_area">
            <div class="label_area">판매가</div>
            <div><input type="number" name="salePrice" min="0" required></div>
        </div>
        <div class="input_area">
            <div class="label_area">대표 이미지</div>
            <div>
                <input name="thumbnail" type="file" accept=".gif, .jpg, .png" required>
                <div class="image_area"></div>
            </div>
        </div>
        <div class="input_area">
            <div class="label_area">수량</div>
            <div><input type="number" name="productCount" required></div>
        </div>

        <br>
        <h3>상품 상세설명</h3>
        <div class="input_area">
            <div class="label_area">와이너리</div>
            <div><input type="text" name="winary" required></div>
        </div>
        <div class="input_area">
            <div class="label_area">용량 / 도수</div>
            <div><input type="number" name="capacity" min="0" required>ml / <input type="number" name="abv" min="0" required>%</div>
        </div>
        <div class="input_area">
            <div class="label_area">해시태그</div>
            <div>
                <select name="mood1" id="mood1" required></select>
                <select name="mood2" id="mood2" required></select>
                <select name="food1" id="food1" required></select>
                <select name="food2" id="food2" required></select>
            </div>
            <button id="hash_btn" onclick="openHashForm()">해시태그 관리</button> <!-- onclick="location.href='/hashtag/form'" -->
        </div>
        <div class="input_area">
            <div class="label_area">맛 그래프</div>
            <div>
                <label>당도</label><input type="range" name="sweetness" min="0" max="5" value="0" required><br>
                <label>산도</label><input type="range" name="acidity" min="0" max="5" value="0" required><br>
                <label>바디</label><input type="range" name="body" min="0" max="5" value="0" required><br>
                <label>탄닌</label><input type="range" name="tannin" min="0" max="5" value="0" required>
            </div>
        </div>
        <div class="input_area">
            <div class="label_area">INFORMATION</div>
            <div><textarea class="text_area" name="information" required></textarea></div>
        </div>
        <div class="input_area">
            <div class="label_area">AWARD</div>
            <div><textarea class="text_area" name="award" required></textarea></div>
        </div>
        <div class="input_area">
            <div class="label_area">TIP</div>
            <div><textarea class="text_area" name="tip" required></textarea></div>
        </div>
        <div class="input_area">
            <div class="label_area">LABEL IMAGE</div>
            <div>
                <input name="labelImg" type="file" accept=".gif, .jpg, .png" required>
                <div class="image_area"></div>
            </div>
        </div>
        <div id="btn_area">
            <button class="cancle_btn btn" type="button" onclick="location.href='/product/list'">취소</button>
            <button class="regist_btn btn">등록</button>
        </div>
    </form>
	
    <footer th:include="common/footer :: footer"></footer>

    <script>
	    var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
    
    	// input range css
        $('input[type=range]').on('input', function(){
            var val = $(this).val();
            $(this).css('background', 'linear-gradient(to right, #83131E 0%, #83131E '+ val*20 +'%, #c4c4c4 ' + val + '%, #c4c4c4 100%)');
        });
        
    	// 와인 종류, 포도 품종, 국가 카테고리 가져오기
        $(function(){
        	$.get("/product/category", function(map) {
        		var type = $("#type");
        		var country = $("#country");
        		var variety = $("#variety");
        		
        		$.each(map['type'], function(index, value){
        			type.append($("<option>").val(value.typeNo).text(value.typeName));
					});
        		
        		$.each(map['country'], function(index, value){
        			country.append($("<option>").val(value.countryNo).text(value.countryName));
					});
        		
        		$.each(map['variety'], function(index, value){
        			variety.append($("<option>").val(value.varietyNo).text(value.varietyName));
        		});
        	});
        	
        	// 해시태그 가져오기
        	$.get("/hashtag/hashList", function(map) {
        		var mood1 = $("#mood1");
        		var mood2 = $("#mood2");
        		var food1 = $("#food1");
        		var food2 = $("#food2");
        		
        		$.each(map['mood'], function(index, value){
        			mood1.append($("<option>").val(value.hashNo).text(value.hashName));
        			mood2.append($("<option>").val(value.hashNo).text(value.hashName));
				});
        		
        		$.each(map['food'], function(index, value){
        			food1.append($("<option>").val(value.hashNo).text(value.hashName));
        			food2.append($("<option>").val(value.hashNo).text(value.hashName));
				});
        	});
        })
    	
     	
		function validate() {
        	// 해시태그 중복 안되게 처리
			var mood1 = $("#mood1");
			var mood2 = $("#mood2");
			var food1 = $("#food1");
			var food2 = $("#food2");
			
    		if(mood1.val() == mood2.val() && food1.val() == food2.val()) {
				alert("mood와 food 해시태그가 중복됩니다.");
				return false;
			} else if(mood1.val() == mood2.val()) {
				alert("mood 해시태그가 중복됩니다.");
				return false;
			} else if(food1.val() == food2.val()) {
				alert("food 해시태그가 중복됩니다.");
				return false;
			}
			
    		// 한글명, 영문명 데이터 유효성 체크 
    		let regExp1 = /^[가-힣\d]+$/;
    		if(!regExp1.test($("input[name=kname]").val())) {
    			alert("한글명은 한글, 숫자만 입력 가능합니다.");
    			$("input[name=kname]").focus();
    			return false;
    		}
    		
    		let regExp2 = /^[a-zA-Z\d]+$/;
    		if(!regExp2.test($("input[name=ename]").val())) {
    			alert("영문명은 대소문자, 숫자만 입력 가능합니다.");
    			$("input[name=ename]").focus();
    			return false;
    		}
    		
			return true;
		}
    	
    	$(".regist_btn").attr("disabled", true);
    	
    	function productNameCheck(){
    		var kname = $("input[name=kname]").val();
    		console.log(kname);
    		isUsable = false;
    		
    		if(!kname) {
    			$("input[name=kname]").focus();
    			alert("상품명을 입력해주세요.");
    		} else {
    			$.ajax({
    				url : "/product/productNameCheck",
    				data : {kname :  kname},
    				type : "post",
    				success : function(result) {
    					if(result > 0) {
    						alert("중복 된 상품명이 있습니다.");
    						$("input[name=kname]").focus();
    					} else {
    						if(confirm('사용 가능한 상품명입니다. 사용하시겠습니까?')) {
    							$("input[name=kname]").attr('readonly', true);
    							isUsable = true; // 사용 가능한 아이디라는 flag 값
    						} else {
    							$("input[name=kname]").attr('readonly', false);
    							isUsable = false;
    						}
    					}
    					if(isUsable) {
    						$(".regist_btn").removeAttr("disabled");
    					} else {
    						$(".regist_btn").attr("disabled", true);
    					}
    				}, 
    				error : function(e) {
    					console.log(e);
    				}
    			});
    		}
    	}
    	
    	
    	// 해시태그 관리 팝업
        function openHashForm(){
            window.open("/hashtag/form", "popup", "width=800, height=600");
        }
      
        // 이미지 프리뷰
        let fileElements = document.querySelectorAll("[type=file]");
		let imageArea = document.querySelectorAll(".image_area");
		fileElements.forEach(item => item.addEventListener('change', preview));
		function preview(){
			
			let index = Array.from(fileElements).indexOf(this);
			//세개의 경로에서  파일이 어디서 첨부되었는지 알아야함
			if(this.files&&this.files[0]){
				let reader = new FileReader();
				reader.readAsDataURL(this.files[0]);
				reader.onload = function(){
					imageArea[index].innerHTML = '<img class="img" src="' + reader.result + '">';
				}
			}
		}
    </script>
</body>
</html>