@charset "UTF-8";
#ulwrapper {
	list-style: none;
	padding: 0%;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.cart {
	width: 1000px;
	margin: 0 auto;
}

.cart_main {
	border-top: 3px solid black;
	padding-top: 20px;
}

.pickUp_count {
	font-size: 20px;
	font-weight: bold;
}

#ulwrapper li {
	display: flex;
	padding: 25px 15px;
}

.all_product {
	height: 40px;
	line-height: 40px;
}

.all_selectBox {
	width: 20px;
	height: 20px;
}

.wine_info {
	display: flex;
	width: 80%;
}

.wine_img {
	width: 90px;
	height: 90px;
}

.product_checkbox {
	position: absolute;
	width: 20px;
	height: 20px;
}

.wine_name {
	padding-left: 20px;
}

.order_value {
	line-height: 92px;
	width: 45%;
}

.icons {
	height: 92px;
	line-height: 92px;
	text-align: right;
	width: 20%;
}

.icons .far {
	font-size: 35px;
	margin: 10px;
}

.price {
	font-size: 20px;
	padding: 0 0 0 15px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
}

.price_count {
	display: flex;
}

.price_count button {
	background-color: #ffffff;
	border: none;
	font-size: 20px;
	width: 40px;
	height: 40px;
	box-shadow: none;
	display: block;
}

.soldout {
	color: red;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	padding-left: 40px;
}

.pCount {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.order {
	margin: 50px 0 100px;
	width: 300px;
	margin-left: 700px;
}

.order_info {
	text-align: right;
	display: flex;
}

.payment_price {
	font-size: 20px;
	line-height: 40px;
	color: rgb(255, 91, 89);
	margin: 0;
	font-weight: 600;
}

.total_price {
	font-size: 30px;
	color: rgb(255, 91, 89);
	margin: 0;
	font-weight: 600;
}

.order_btn button {
	width: 300px;
	height: 60px;
	background-color: rgb(247, 81, 26);
	border: none;
	color: #ffff;
	margin-top: 5px;
}

.p_price {
	margin-left: 100px;
	width: 300px;
	line-height: 92px;
}

.product_price {
	margin-left: 100px;
	width: 300px;
	line-height: 92px;
}