<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/mypage/memberDel.css" rel="stylesheet">
<title>회원탈퇴</title>
</head>
<body>
<header th:include="common/header :: header"></header>
	<div id="container">
        <nav class="snb" th:replace="/mypage/mypageSubmenu.html">
        </nav>
        <script>
        $(document).ready(function () { 
            $('.memberD').css('background-color', 'rgba(131, 19, 30, 0.2)'); 
            $('.memberD').css('color', 'rgb(131,19,30)'); 
            $('.memberD').css('font-weight', 'bold'); 
        });
        </script>
        <div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px;">회원탈퇴</h3>
                </div>
                <hr style="width: 700px; padding-right: 130px;">
                <h4>탈퇴 전 유의사항</h4>
                <div>
                    <p>회원탈퇴 전, 유의사항을 확인해 주시기 바랍니다.</p>
                    <ol>
                        <li>회원탈퇴 시 회원전용 웹 서비스 이용이 불가합니다.
                            거래정보가 있는 경우, 전자상거래 등에서의 소비자 보호에 관한 법률에 따라 계약 또는 
                            청약철회에 관한 기록, 대금결제 및 재화 등의 공급에 관한 기록은 5년동안 보존됩니다.
                        </li>
                        <li>
                            회원탈퇴 후 D.WINE 서비스에 입력하신 상품문의 및 후기, 댓글은 삭제되지 않으며, 
                            회원정보 삭제로 인해 작성자 본인을 확인할 수 없어 편집 및 삭제처리가 원천적으로 불가능 합니다.
                        </li>
                        <li>상품문의 및 후기, 댓글 삭제를 원하시는 경우에는 
                            먼저 해당 게시물을 삭제하신 후 탈퇴를 신청하시기 바랍니다.
                        </li>
                        <li>이미 결제가 완료된 건은 탈퇴로 취소되지 않습니다.</li>
                    </ol>
                </div>

                <form th:action="@{/mypage/memberDel}" method="post">
                	<input type="hidden" name="user_no" th:value="${m.user_no}"/>
                    <div class="modifyArea">
                        <span class="idArea">
                            <label>아이디 : </label>
                            <input type="text" readonly id="userId" th:value="${m.user_id}">
                        </span>
                        <span>
                            <label>비밀번호 : </label>
                            <input type="password" name="user_pwd">
                        </span>
                    </div>
                    <div class="cmd">
                        <input type="submit" name="save" id="save" value="탈퇴하기" onclick="confirmAccountDelete()">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <footer th:include="common/footer :: footer"></footer>
</body>
</html>