<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymelaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta charset="UTF-8">
<title>정보수정</title>
<script>
	const successMessgae = '[[${ message }]]';
	
	if(successMessgae){
		alert(successMessgae);
		opener.window.location.reload();
		self.close();
	}
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/mypage/memberModify.css" rel="stylesheet">
</head>
<body>
<header th:include="common/header :: header"></header>
	<div id="container">
        <nav class="snb" th:replace="/mypage/mypageSubmenu.html">
        </nav>
        <script>
        $(document).ready(function () { 
            $('.memberM').css('background-color', 'rgba(131, 19, 30, 0.2)'); 
            $('.memberM').css('color', 'rgb(131,19,30)'); 
            $('.memberM').css('font-weight', 'bold'); 
        });
        </script>
        <div class="contents">
            <div class="inner">
                
                <div>
                    <h3 style="font-size: 24px;">정보수정</h3>
                </div>
                <hr style="width: 700px; padding-right: 130px;">
                <form style="margin-left: 150px;" th:action="@{/mypage/memberModify}" method="post">
                	<input type="hidden" id="user_no" name="user_no" th:value=${m.user_no}>
                    <p style="font-size: 18px;">아이디</p>
                    <input type="text" name="user_id" class="inputbox" readonly th:value="${m.user_id}">
                    <p style="font-size: 18px;">비밀번호</p>
                    <input type="password" name="user_pw" class="inputbox" th:value="${m.user_pw}"> 
                    <button onclick="modifyPwd()">변경</button>
                    <p style="font-size: 18px;">닉네임</p>
                    <input type="text" name="user_nickname" id="user_nickname" class="inputbox" th:value="${m.user_nickname}"> 
                    <!-- <button type="button" id="nickname_check" name="nickname_check">중복확인</button> -->
                    <input type="button" id="check_nickName" name="check_nickName" value="중복 확인" onclick="nicknameCheck()">
                    <p style="font-size: 18px;">이름</p>
                    <input type="text" name="user_name" class="inputbox" th:value="${m.user_name}">
                    <p style="font-size: 18px;">생년월일</p>
                    <input type="text" name="user_birth" class="inputbox" readonly th:value="${#dates.format(m.user_birth, 'yyyy-MM-dd')}">
                    <p style="font-size: 18px;">전화번호</p>
                    <input type="tel" name="user_phone" class="inputbox" th:value="${m.user_phone}">

                    <div class="cmd">
                        <!-- <input type="submit" name="save" id="save" value="저장"> -->
                        <button name="save" id="save" type="submit">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	<!-- 닉네임 중복 검사 -->
    <script>
    var header = $("meta[name='_csrf_header']").attr('content');
	var token = $("meta[name='_csrf']").attr('content');
	var nickname_check = false;
	var preNicknaem;
	function nicknameCheck(){
		var nickname = $("[name=user_nickname]").val();
		console.log(nickname);
    	
    	$.ajax({
			type:"post",
			url:"/mypage/nicknameCheck",
			beforeSend: function(xhr){
		        xhr.setRequestHeader(header, token);
		    },
			data:{user_nickname:nickname},
			success : function(data){
				if(data<1){
					alert('사용 가능한 닉네임 입니다.');
					nickname_check = true;
					preNickname = nickname;
				}else{
					alert('사용중인 닉네임 입니다. 다시 입력하세요');
				}
			},
			error : function(e){
				alert('다시 시도해주세요');
			}
		});
    }
    </script>

    <script>
        function modifyPwd(){
            window.open("/mypage/pwdModify", "popup1", "width=500, height=600");
        }
    </script>
    <footer th:include="common/footer :: footer"></footer>
</body>
</html>