<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" /> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/mypage/orderlist.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic&display=swap" rel="stylesheet">
<style>
*{
	font-family: 'Gowun Batang', serif;
}
.sub_inner>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
}

.sub_ul>li a {
	display: block;
	color: #000;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
.ahover:hover {
	background-color: rgba(131, 19, 30, 0.2);
	color: #83131E;
	font-weight: bold;
}

.snb_inner>ul>li span {
	background: no-repeat 0 0/20px url(/images/mypage/order.png);
	/*주문목록*/
	padding-left: 30px;
	font-size: 14px;
	
}

.snb_inner>ul>li:nth-child(2) span {
	background-image: url(/images/mypage/wish.png);
	/*찜*/
}

.snb_inner>ul>li:nth-child(3) span {
	background-image: url(/images/mypage/sub_review.png);
	/*리뷰관리*/
}

.snb_inner>ul>li:nth-child(4) span {
	background-image: url(/images/mypage/point.png);
}

.snb_inner>ul>li:nth-child(5) span {
	background-image: url(/images/mypage/member.png);
}

.snb_inner>ul>li:nth-child(6) span {
	background-image: url(/images/mypage/member.png);
}

.snb_inner>ul>li:nth-child(7) span {
	background-image: url(/images/mypage/member.png);
}

.sub_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	margin-top:10px;
}
</style>
<script>
	const successMessgae = '[[${ message }]]';
	
	if(successMessgae){
		alert(successMessgae);
	}
</script>
<title>주문목록</title>
</head>
<body>
<header th:include="common/header :: header"></header>
<div class="wrapper">
	<div id="container">
        <!-- <nav class="snb" th:replace="/mypage/mypageSubmenu.html">
        </nav> -->
        <nav class="snb">
        	<div class="snb_inner">
				<span style="padding-left: 17px; font-size: 19px;">MYPAGE</span>
				<ul class="sub_ul">
					<li><a style="background-color: rgba(131, 19, 30, 0.2); color:rgb(131,19,30); font-weight:bold;" class="ahover" href="/mypage/orderlist"><span>주문목록</span></a></li>
					<li><a class="ahover" href="/mypage/wish"><span>찜리스트</span></a></li>
					<li><a class="ahover" href="/mypage/review"><span>나의리뷰</span></a></li>
					<li><a class="ahover" href="/mypage/point"><span>내 포인트</span></a></li>
					<li><a class="ahover mypoint" href="/qna/userqnaList"><span>나의1:1문의</span></a></li>
					<li><a class="ahover" href="/mypage/memberModify"><span>회원정보수정</span></a></li>
		            <li><a class="ahover" href="/mypage/memberDel"><span>회원탈퇴</span></a></li>
				</ul>
			</div>
        </nav>
        <div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px;">주문내역조회</h3>
                </div>
                <div class="order_list">
                    <ul class="order_header">
                        <li class="order_date dateul"> 주문일자<br><p class="fsmall">[주문번호]</p></li>
                        <li class="pname nameul">상품명<br><p class="fsmall">[수령점]</p></li>
                        <li class="count csul">수량</li>
                        <li class="sum csul">금액</li>
                        <li class="status stul">주문처리상태</li>
                    </ul>
                    <div th:each="p : ${purchaseList}" class="rediv" style="display:inline-block; width: 830px;">
                        <ul  class="order_ul openBtn" style="display: flex;justify-content: space-around; align-items: center;">
                            <li class="order_date"><p th:text="${#dates.format(p.purchase_date, 'yyyy-MM-dd')}"><p class="fsmall">[<label class="labelArea" th:text="${p.purchase_no}"></label>]</p></li>
                            <li class="pname pnameSize" style="margin:0px; padding: 0px; text-align:center; word-break:break-all; ">
                              <strong th:text="${p.product_kname}"></strong> <br><p class="fsmall labelp">[수령점 : <label class="labelArea" th:text=${p.pickup_place}></label>]</p>
                            </li>
                            <li class="count countSize" th:text="${p.od_count}"></li>
                            <li class="sum sumSize" th:text="${p.od_price}"></li>
                            <li class="status statusli" style="margin-right: -10px;">
                            <th:block th:if="${p.review_no} == 0">
                            	<th:block th:switch="${p.order_status}">
								    <div class="addP" th:case="결제완료">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">결제완료</strong> <br>
										<form method="post" th:action="@{/mypage/updateCancelPayment}" style="display:inline;">
	                               	 		<input type="hidden" name="purchase_no" th:value="${p.purchase_no}">
	                               	 		<button class="cancelPayment">결제취소</button>&nbsp;
                               	 		</form>
                               	 		<button class="modalButton" onclick="openModal(this)">픽업변경</button>
									</div>
								    <div th:case="픽업대기중">
								    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">픽업대기</strong> <br>
										&nbsp;
                               	 		<!-- <button onclick="openModal(this)">픽업변경</button> -->
                               	 		<form method="post" th:action="@{/mypage/updateCancelPayment}" style="display:inline;">
	                               	 		<input type="hidden" name="purchase_no" th:value="${p.purchase_no}">
	                               	 		<button type="submit" class="cancelPayment" style="margin-left : 30px; margin-top:5px;">결제취소</button>
                               	 		</form>
								    </div>
								    <p th:case="환불완료">
								    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">환불완료</strong> <br>
										<label class="labelArea" th:text="${#dates.format(p.refund_date, 'yyyy.MM.dd HH:mm:ss')}"></label>
								    </p>
								    <div th:case="픽업완료">
								    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">픽업완료</strong> <br>
										&nbsp;
										<form method="get" th:action="@{/mypage/reviewInsert}" style="display:inline;">
											<input type="hidden" name="od_no" th:value="${p.od_no}">
											<input type="hidden" name="product_no" th:value="${p.product_no}">
											<input type="hidden" name="user_no" th:value="${p.user_no}">
											<button type="submit" style="margin-left : 30px; margin-top : 5px;">리뷰등록</button>
										</form>
								    </div>
								    <p th:case="결제취소">
								    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">결제취소</strong> <br>
										<label class="labelArea" th:text="${#dates.format(p.refund_date, 'yyyy.MM.dd HH:mm:ss')}"></label>
								    </p>
								</th:block>
							</th:block>
							<th:block th:if="${p.review_no} != 0">
                            	<th:block th:switch="${p.order_status}">
								    <div class="addP" th:case="결제완료">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">결제완료</strong> <br>
										<form method="post" th:action="@{/mypage/updateCancelPayment}" style="display:inline;">
	                               	 		<input type="hidden" name="purchase_no" th:value="${p.purchase_no}">
	                               	 		<button class="cancelPayment">결제취소</button>&nbsp;
                               	 		</form>
                               	 		<button class="modalButton" onclick="openModal(this)">픽업변경</button>
									</div>
								    <div th:case="픽업대기중">
								    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">픽업대기</strong> <br>
										&nbsp;
                               	 		<!-- <button onclick="openModal(this)">픽업변경</button> -->
                               	 		<form method="post" th:action="@{/mypage/updateCancelPayment}" style="display:inline;">
	                               	 		<input type="hidden" name="purchase_no" th:value="${p.purchase_no}">
	                               	 		<button type="submit" class="cancelPayment" style="margin-left : 30px; margin-top:5px;">결제취소</button>
                               	 		</form>
								    </div>
								    <p th:case="환불완료">
								    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">환불완료</strong> <br>
										<label class="labelArea" th:text="${#dates.format(p.refund_date, 'yyyy.MM.dd HH:mm:ss')}"></label>
								    </p>
								    <div th:case="픽업완료" style="margin-top:16px;">
								    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">구매확정</strong> <br>
										&nbsp;
								    	<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">픽업완료</strong> <br>
										&nbsp;
										<form method="get" th:action="@{/mypage/reviewInsert}" style="display:inline;">
											<input type="hidden" name="od_no" th:value="${p.od_no}">
											<input type="hidden" name="product_no" th:value="${p.product_no}">
											<input type="hidden" name="user_no" th:value="${p.user_no}">
											<button type="submit" style="margin-left : 30px; margin-top : 5px;">리뷰등록</button>
										</form> -->
								    </div>
								    <p th:case="결제취소">
								    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="labelArea">결제취소</strong> <br>
										<label class="labelArea" th:text="${#dates.format(p.refund_date, 'yyyy.MM.dd HH:mm:ss')}"></label>
								    </p>
								</th:block>
							</th:block>
                            </li></ul><div class="modalArea"><form th:action="@{/mypage/pickupModify}" method="post" name="pickupModifyForm" class="test"><div class="modal hidden"><div class="bg"></div><div class="modalBox"><div class="closeArea"><img src="/images/mypage/close.png" class="closeBtn" width="20px" height="20px"></div><h2 align="center" style="margin-top: 20px;">픽업 변경</h2>
                                        <hr style="width: 500px;">
                                        <div class="labelSize">
                                        	<input type="hidden" name="purchase_no" th:value="${p.purchase_no}">
                                            <label for="">상품명 / 수량</label>
                                            <input type="text" style="border: 0px; margin-left: 90px; width: 210px;" th:value="${p.product_kname}" readonly>
                                        	/<label class="labelArea" th:text="${p.od_count}"></label>
                                        </div><hr style="width: 500px;">
                                        <div class="labelSize"><label for="">주문일자</label><input type="text" style="border: 0px; margin-left: 120px; width: 150px;" th:value="${#dates.format(p.purchase_date, 'yyyy-MM-dd (E)')}" readonly>
                                        </div><hr style="width: 500px;">
                                        <div class="labelSize"><label for="">수령점</label>
                                            <select name="pickup_place" id="" style="margin-left: 130px; width:200px;height:30px;">
                                                <option value="DWINE 역삼점" th:selected="${p.pickup_place}=='DWINE 역삼점'">DWINE 역삼점</option>
                                                <option value="DWINE 논현점" th:selected="${p.pickup_place}=='DWINE 논현점'">DWINE 논현점</option>
                                                <option value="DWINE 성수점" th:selected="${p.pickup_place}=='DWINE 성수점'">DWINE 성수점</option>
                                            </select></div><hr style="width: 500px;">
                                        <div class="labelSize"><label for="">수령날짜</label><select onclick="selectDate(this);" id="pickupDate" class="pickupDate" name="pickup_date" style="margin-left: 116px; width:200px;height:30px;">
                                        		<option>[[${p.pickup_date}]]</option>
                                        	</select>
                                        </div>
                                        <hr style="width: 500px;">
                                        <div class="labelSize">
                                            <label for="">수령시간</label>
                                            <select name="pickup_time" style="margin-left: 115px; width:200px; height:30px;">
                                            	<option th:selected="${p.pickup_time}=='09:00~12:00'" value="09:00 ~ 12:00">09:00 ~ 12:00</option>
                                                <option value="12:00 ~ 18:00" th:selected="${p.pickup_time}=='12:00 ~ 18:00'">12:00 ~ 18:00</option>
                                            </select>
                                        </div> 
                                        <input class="submitInput"type="submit" style="margin-top: 30px;" value="변경">
                                    </div>
                                </div>
                            </form>
                        </div></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
   </div>
    <script>
        function openModal(elem){
        	console.log(elem);
        	console.log(elem.className);
        	var test = elem.parentNode; // 추가되 p태그 : test
        	console.log("test : " + test); 
            var test1 = test.parentNode.parentNode;
            console.log("test1" + test1); // p위의 위의 ul
            var a = test1.parentNode;
            console.log("a : " + a);
            
        	var one = a.lastChild; 
        	console.log(one); // ul의 자식 li 찾음 모달영역 div 찾음!
        	// 모달영역인 div를 찾아서 선택하게끔 만들기!
        	//var two = one.firstChild; //form태그
            var two = one.firstChild;
        	console.log(two.className); //form 클래스이름 test
        	var three = two.firstChild.nextSibling;
        	console.log("three : " + three.className); // 
        	var t1 = three.firstChild;
        	console.log("t1" + t1); // class="bg" 찾음
			var t2 = t1.nextSibling;
        	console.log(t2); 
        	var t3 = t2.firstChild.firstChild;
        	console.log(t3); // class=closeBtn
        	console.log(t3.className);
        	var closeBtn = t3.classList;
        	
        	three.classList.remove("hidden");
        	
        	const close =()=> {
        	three.classList.add("hidden");
	    	}
        	
        	t1.addEventListener("click", close);
        	t3.addEventListener("click", close);
        }
        
        function reviewInsert(){
        	location.href="/mypage/reviewInsert";
        }
        
        </script>

        <script>
            // 게시글 목록에 mouseover/mouseout 시 onmouseover 클래스 추가/제거 처리
            const order_list = document.querySelector(".order_list");

            order_list.addEventListener('mouseover', function(){
                
                if(event.target.classList.contains('order_ul')) //ul이라면
                    event.target.classList.add('onmouseover');	//클래스 추가
                else if(event.target.parentNode.classList.contains('order_ul'))
                    event.target.parentNode.classList.add('onmouseover');
            });

            order_list.addEventListener('mouseout', function(){
                
                if(event.target.classList.contains('order_ul'))
                    event.target.classList.remove('onmouseover');
                else if(event.target.parentNode.classList.contains('order_ul'))
                    event.target.parentNode.classList.remove('onmouseover');
            });

        </script>
        
        <script>
        
        	function selectDate(elem){
        		var a = elem.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode;
        		var b = a.firstChild.nextSibling.nextSibling;
        		var c = b.firstChild.firstChild.nextSibling;
        		var d = c.firstChild.nextSibling.firstChild.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling;
        		var e = d.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling;
        		var f = e.firstChild.nextSibling;
        		
        		/* 오늘부터 +7일 출력하기 */
    	        var currentDay = new Date();  
    	        var theYear = currentDay.getFullYear();
    	        var theMonth = currentDay.getMonth();
    	        var theDate  = currentDay.getDate();
    	        var theDayOfWeek = currentDay.getDay();
    	
    	        
    	        const WEEKDAY = ['(일)', '(월)', '(화)', '(수)', '(목)', '(금)', '(토)'];
    	        
    	        var thisWeek = [];
    	         
    	        for(var i=0; i<7; i++) {
    	          var resultDay = new Date(theYear, theMonth, theDate + i, theDayOfWeek);
    	          var mm = Number(resultDay.getMonth()) + 1;
    	          var dd = resultDay.getDate();
    	          var day = resultDay.getDay();
    	          
    	          
    	          mm = String(mm).length === 1 ? '0' + mm : mm;
    	          dd = String(dd).length === 1 ? '0' + dd : dd;
    	          
    	          thisWeek[i] =  mm + '-' + dd + WEEKDAY[day];
    	        }
    	
    	      var optionIndex = 0;
    	
    	      for(var i=0;i<7;i++){
    	
    		      //let selectbox = document.querySelector(".pickupDate"); //f
    		      var objOption = document.createElement("option"); 
    		      objOption.text = thisWeek[i];
    		      objOption.value = thisWeek[i];
    		      f.options.add(objOption);
    	
    	      }
        	}
	        
        </script>

        <script>
        	/* $(function() { $( "#Date" ).datepicker({ }); }); */
        	//datepicker.regional.ko
        	$.datepicker.setDefaults( $.datepicker.regional[ "ko" ] );
            $(function() { 
                $( ".Date" ).datepicker({
                    changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다. 
                    changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다. 
                    minDate: '-100y', // 현재날짜로부터 100년이전까지 년을 표시한다. 
                    nextText: '다음 달', // next 아이콘의 툴팁. prevText: '이전 달', // prev 아이콘의 툴팁. 
                    numberOfMonths: [1,1], // 한번에 얼마나 많은 월을 표시할것인가. [2,3] 일 경우, 2(행) x 3(열) = 6개의 월을 표시한다. 
                    stepMonths: 3, // next, prev 버튼을 클릭했을때 얼마나 많은 월을 이동하여 표시하는가. 
                    yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가. 
                    showButtonPanel: true, // 캘린더 하단에 버튼 패널을 표시한다. 
                    currentText: '오늘 날짜' , // 오늘 날짜로 이동하는 버튼 패널 
                    closeText: '닫기', // 닫기 버튼 패널 
                    dateFormat: "yy.mm.dd D", // 텍스트 필드에 입력되는 날짜 형식. 
                    showAnim: "slide", //애니메이션을 적용한다. 
                    showMonthAfterYear: true , // 월, 년순의 셀렉트 박스를 년,월 순으로 바꿔준다. 
                    dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'], // 요일의 한글 형식. 
                    monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'], // 월의 한글 형식. 
                    yearRange: "2021:2022" //연도 범위 
                });
            }); 
            
        </script>
        
        <script>
        	function reviewInsert(){
        		locaion.href = "/mypage/reviewInsert"
        	}
        </script>
        
        <!-- 결제 취소 api 관련 script -->
        <<!-- script>
        var price = $(".sum").val;
        
		  function cancelPay(pay_no, purchase_price) {
		    $.ajax({
		      url: "{환불요청을 받을 서비스 URL}", // 예: http://www.myservice.com/payments/cancel
		      type: "POST",
		      contentType: "application/json",
		      data: JSON.stringify({
				        merchant_uid: pay_no, // 예: ORD20180131-0000011
				        cancel_request_amount: purchase_price, // 환불금액
				        reason: "테스트 결제 환불" // 환불사유
		      }),
		      dataType: "json"
		    });
		  }
		</script> -->
        
<footer th:include="common/footer :: footer"></footer>
</body>
</html>