<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/mypage/review.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic&display=swap" rel="stylesheet">
<title>나의 리뷰관리</title>
<script>
	const successMessgae = '[[${ message }]]';
	
	if(successMessgae){
		alert(successMessgae);
	}
</script>
</head>
<body>
<header th:include="common/header :: header"></header>
<div class="weather" th:include="recommendWine/weather"></div>
	<div id="container">
        <nav class="snb" th:replace="/mypage/mypageSubmenu.html">
        </nav>
        <script>
        $(document).ready(function () { 
            $('.myreview').css('background-color', 'rgba(131, 19, 30, 0.2)'); 
            $('.myreview').css('color', 'rgb(131,19,30)'); 
            $('.myreview').css('font-weight', 'bold'); 
        });
        </script>
        <div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px; margin:0; padding:0">내가 작성한 리뷰</h3>
                </div>
                <div style="text-align:right;" class="sortArea">
	                <select name="sortStandard">
		               	<option value="recent">최신순</option>
		                <option value="high">별점높은순</option>
		                <option value="name_asc">상품명오름차순</option>
		                <option value="name_desc">상품명내림차순</option>
	               </select>
               </div>
                <hr style="width: 700px; padding-right: 130px;">
                	<input id="userNo" type="hidden" name="user_no" value=${sessionScope.user_no}>
                <div class="review_list">
                    <ul style="height: 100px;" th:each="review : ${reviewList}">
                        <li class="title">
                            <p class="pname" th:text="${review.product_kname}"></p>
                            <p style="text-align: left;" th:text="${review.review_text}"></p>
                        </li>
                        <li class="review_date">
                        	작성일 : <span th:text="${#dates.format(review.review_date, 'yyyy-MM-dd')}"></span>
                        	수정일 : <span th:text="${#dates.format(review.review_modify, 'yyyy-MM-dd')}"></span>
                        </li>
                        <li class="del">
                             <!-- <span><button class="modifybtn" type="submit" th:href="@{/mypage/reviewUpdate/{review_no}(review_no=${review.review_no})}">수정</button></span> -->
                            <a class="modifybtn" th:href="@{/mypage/review/{review_no}(review_no=${review.review_no})}">수정</a>
                            <a class="deletebtn" th:href="@{/mypage/reviewDelete/{review_no}(review_no=${review.review_no})}">삭제</a>
                        </li>
                    </ul>
                </div>
                
            <div class="paging__area">
				 	<ul class="paging_ul">
						<li class="go_first">&lt;&lt;</li>
						<li class="go_prev">&lt;</li>
						<li class="pageNo current_page" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" th:if="${pi.page == page}"></li>
						<li class="pageNo" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" th:unless="${pi.page == page}"></li>
						<li class="go_next">&gt;</li>
						<li class="go_end">&gt;&gt;</li>
					</ul> 
				</div>
            </div>
        </div>
    </div>
    <script>
    var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	$(document).ajaxSend(function(e, xhr, options) {
		xhr.setRequestHeader(header, token);
	});
	
	/* 정렬 기능 추가 test */
	// 정렬 select change 됐을 때
      $(document).on("change", "select[name=sortStandard]", function(){
         clickPage = 1;
         var page = 1;
         var sortStandard = $("select[name=sortStandard]").val();
         
         ajaxPaging(page, sortStandard);
      });
      
      // 페이지 <li> 눌렀을 때
      $(document).on("click", ".pageNo", function(){
         var page = $(this).val();
         var sortStandard = $("select[name=sortStandard]").val();
         
         clickPage = page;
         
         ajaxPaging(page, sortStandard);
         
      });
      
      // "<<" 버튼
      $(document).on("click", ".go_first", function() {
         clickPage = 1;
         var page = 1;
         var sortStandard = $("select[name=sortStandard]").val();
         
         ajaxPaging(page, sortStandard);
      });
      
      
      // ">>" 버튼
      $(document).on("click", ".go_end", function() {
         clickPage = endPage;
         var page = endPage;
         var sortStandard = $("select[name=sortStandard]").val();
         
         ajaxPaging(page, sortStandard);
      });
      
      // "<" 버튼
      $(document).on("click", ".go_prev", function() {
         if(clickPage != 1) {
            var page = clickPage - 1;
            clickPage = clickPage - 1;
            var sortStandard = $("select[name=sortStandard]").val();
            
            ajaxPaging(page, sortStandard);
         }
         
         
      });
      
      // ">" 버튼
      $(document).on("click", ".go_next", function() {
         if(clickPage != endPage) {
            var page = clickPage + 1;
            clickPage = clickPage + 1;
            var sortStandard = $("select[name=sortStandard]").val();
            
            ajaxPaging(page, sortStandard);
         }
         
      });
      
      function dateFormat(date) {
  		let month = date.getMonth() + 1;
  		let day = date.getDate();

  		month = month >= 10 ? month : '0' + month;
  		day = day >= 10 ? day : '0' + day;

  		return date.getFullYear() + '-' + month + '-' + day;
  	}

      function ajaxPaging(page, sortStandard) {
         
         $.ajax({
     			url : "/mypage/review",
     			data : {page : page, sortStandard : sortStandard},
     			type : "post",
     			success : function(data) {
     				var reviewList = data.reviewList;
     				var pi = data.pi;
     				var sortStandard = data.sortStandard; 
     				
     				endPage = pi.endPage;
     				
     				if(reviewList.length == 0) {
     					alert("리뷰가 존재하지 않습니다");
     				} else {
            
                  var tableHTML = '';
                  var pagingHTML = '<li class="go_first">&lt;&lt;</li><li class="go_prev">&lt;</li>';
               
               
                  for(var i = parseInt(pi.startPage); i <= parseInt(pi.endPage) ; i++) {
                     
                     pagingHTML += '<li class="pageNo" value="' + i + '">' + i +'</li>';
                  }  
                  
                  pagingHTML += '<li class="go_next">&gt;</li><li class="go_end">&gt;&gt;</li>';   
                  $(".paging_ul").html(pagingHTML);
                  
                  $.each(reviewList, function(index, item) {

						let review_date = new Date(item.review_date);
						let review_modify = new Date(item.review_modify);

						tableHTML += "<ul style='height: 100px;'>" 
								+ "<li class='title'>"
                      		+ "<p class='pname'>"+ item.product_kname + "</p>"
                         		+ "<p style='text-align: left;'>"+ item.review_text + "</p>"
                  			+ "</li>"
                  			+ "<li class='review_date'>" + "작성일 : <span>"+ dateFormat(review_date) + "</span>"
                  			+ "수정일 : <span>"+ dateFormat(review_modify) + "</span>"
                  			+ "</li>"
                  			+ "<li class='del'><a class='modifybtn' href=\"/mypage/review/" + item.review_no + "\">수정</a>"
                  			+ "<a class='deletebtn' href=\"/mypage/reviewDelete/" + item.review_no + "\">삭제</a>"+ "</li></ul>";
	
						$(".review_list").html(tableHTML);
						
					}); 
                   
                  $('li[value='+ page + ']').addClass("current_page");
                  
               }
            },
            error : function(e) {
               console.log(e);
            }         
         });
      
      }
	
    </script>
<div th:include="common/footer :: goUp"></div>
<footer th:include="common/footer :: footer"></footer>
</body>
</html>