<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<title>리뷰작성</title>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic&display=swap" rel="stylesheet">
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/mypage/reviewInsert.css" rel="stylesheet">
</head>
<body>
<header th:include="common/header :: header"></header>
<div class="weather" th:include="recommendWine/weather"></div>
	<div id="container">
        <nav class="snb" th:replace="/mypage/mypageSubmenu.html">
        </nav>
        <div class="contents">
            <div class="inner">
                
                <div>
                    <h3 style="font-size: 24px;">리뷰 작성</h3>
                </div>
                <hr style="width: 700px; padding-right: 130px;">
                <form th:action="@{/mypage/reviewInsertForm}" method="post" enctype="multipart/form-data">   
                	<input type="hidden" name="star" id="star">
                	<input type="hidden" name="user_no" th:value="${user_no}">
                	<input type="hidden" name="od_no" th:value="${od_no}">
                    <div>
                        <h3>별점</h3>
                        <div class="star-box">
                        	<span class="star star_left"></span>
							<span class="star star_right"></span>
							<span class="star star_left" value="1.5"></span> 
							<span class="star star_right" data-value="2"></span>
							<span class="star star_left" value="2.5"></span> 
							<span class="star star_right" value="3"></span>
							<span class="star star_left" value="3.5"></span> 
							<span class="star star_right" value="4"></span>
							<span class="star star_left" value="4.5"></span> 
							<span class="star star_right" value="5"></span>
							<!-- <span class="star star_left"></span> 
							<span class="star star_right"></span> 
							<span class="star star_left" value="1.5"></span> 
							<span class="star star_right" data-value="2"></span>
							<span class="star star_left" value="2.5"></span> 
							<span class="star star_right" value="3"></span>
							<span class="star star_left" value="3.5"></span> 
							<span class="star star_right" value="4"></span>
							<span class="star star_left" value="4.5"></span> 
							<span class="star star_right" value="5"></span> -->
							
							<input name= "star" type="hidden" id="star">
						</div>
                    </div>
                    <br>
                    <div>
                        <h3>리뷰내용 <span style="font-size: 12px;">(10자 이상 500자 미만)</span></h3>
                        <div>
                            <input type="text" name="review_text" maxlength="500" placeholder="내용을 입력해주세요"
                            style="border: 1px solid lightgray; width: 700px; height: 90px;">
                        </div>
                    </div>
                    <br>
                    <div>
                        <h3>리뷰이미지 첨부 <span style="font-size: 12px;">(1장만 첨부 가능합니다.)&nbsp;</span><input name="reviewImg" type="file" id="imgfile" accept=".gif, .jpg, .png"></h3>
                        <div id="fileArea" style="max-width: 500px; max-height: 500px;">
                            <!-- 이미지 첨부 영역 -->
                        </div>
                    </div>
                    <br>
                    <div class="cmd">
                        <input type="submit" name="save" id="save" value="등록">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script>
       document.getElementById('imgfile').addEventListener('change', function(){
           if(this.files && this.files[0]){
               let reader = new FileReader();
               reader.readAsDataURL(this.files[0]);
               reader.onload = function(){
                   console.log(reader.result);
                   document.getElementById('fileArea').innerHTML = "<img src='" + reader.result + "' width='500px' height='500px'>";
               }
           }
       });
    </script>
    	
    <script>
	    $(".star").on('click',function(){
	   		var result = 1;
	        var idx = $(this).index();
	        $(".star").removeClass("on");
	        for(var i=0; i<=idx; i++){
	        	$(".star").eq(i).addClass("on");
	            result = i;
	       }
	       console.log(result+1);
	       document.getElementById('star').value = (result+1)/2;
	    });
    </script>
    
<footer th:include="common/footer :: footer"></footer>
</body>
</html>