<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymelaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>리뷰수정</title>
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/mypage/reviewInsert.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style>
.star-ratings {
  color: #aaa9a9; 
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}
 
.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}
 
.star-ratings-base {
  z-index: 0;
  padding: 0;
}

    </style>
</head>
<body>
<header th:include="common/header :: header"></header>
<div class="weather" th:include="recommendWine/weather"></div>
	<div id="container">
        <nav class="snb" th:replace="/mypage/mypageSubmenu.html">
        </nav>
        <div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px;">리뷰 작성</h3>
                </div>
                <hr style="width: 700px; padding-right: 130px;">
                <form id="reviewUpdateForm" th:action="@{/mypage/reviewUpdateForm}" method="post" enctype="multipart/form-data">   
                    <div>
                        <h3>별점</h3>
						<!--  별점테스트 2 
						1. 배경 별: (전체) 별 5개가 꽉찰만한 width로 회색으로 채웁니다. 잘 재보세요.
						2. 색깔 별: (점수) 배경 별의 넓이*(점수/총점)을 width로 합니다.-->
						<div class="star-ratings">
					        <div class="star-ratings-fill space-x-2 text-lg">
					            <!-- 24 * 3.5 + 4 * (3.5 - 3.5%1) }px -->
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            
					        </div>
					        <div class="star-ratings-base space-x-2 text-lg">
					            <!-- <span><img src="/images/mypage/star.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star.png" style="width:30px; padding:0px;"></span> -->
					        </div>
					    </div>
                        <!-- <div class="star-box">
							<span class="star star_left">
							</span> 
							<span class="star star_right">
							</span> 
							<span class="star star_left" value="1.5">
								<span style="display:none;">1.5</span>  
							</span> 
							<span class="star star_right" data-value="2"></span>
							<span class="star star_left" value="2.5"></span> 
							<span class="star star_right" value="3"></span>
							<span class="star star_left" value="3.5"></span> 
							<span class="star star_right" value="4"></span>
							<span class="star star_left" value="4.5"></span> 
							<span class="star star_right" value="5"></span>
						</div> -->
                    </div>
                    <br>
                    <div>
                    <input name= "star" type="hidden" id="star" th:value="${review.star}">
                    <input name="user_no" type="hidden" th:value=${review.user_no}>
                    <input name="od_no" type="hidden" th:value=${review.od_no}>
                    <input name="review_no" type="hidden" th:value=${review.review_no}>
                        <h3>리뷰내용 <span style="font-size: 12px;">(10자 이상 500자 미만)</span></h3>
                        <div>
                            <input maxlength="500" type="text" name="review_text" style="border: 1px solid lightgray; width: 700px; height: 90px;" th:value="${review.review_text}">
                        </div>
                    </div>
                    <br>
                    <div>
                        <h3>리뷰이미지 첨부 <span style="font-size: 12px;">(1장만 첨부 가능합니다.)&nbsp;</span><input name="singleFile" type="file" id="imgfile"></h3>
                        <div id="fileArea" style="border: 1px solid lightgray; width: 500px; height: 500px;">
                            <!-- 이미지 첨부 영역 -->
                            <img alt="" th:src="${review.review_image}" width="500px" height="500px">
                        </div>
                    </div>
                    <br>
                    <th:block sec:authorize="hasRole('MEMBER')">
						<div class="cmd">
	                        <input type="submit" name="save" id="save" value="등록">
	                    </div>
					</th:block>
					
					<!-- 권리자 권한을 가지고 있는 경우 등록버튼이 안보이게 처리함 -->
					<th:block sec:authorize="hasRole('ADMIN')">
						<div class="cmd">
	                        <!-- <input type="submit" name="save" id="save" value="등록"> -->
	                    </div>
					</th:block>
                    <!-- <div class="cmd">
                        <input type="submit" name="save" id="save" value="등록">
                    </div> -->
                </form>
            </div>
        </div>
    </div>
    
    <script>
       document.getElementById('imgfile').addEventListener('change', function(){
           if(this.files && this.files[0]){
               let reader = new FileReader();
               reader.readAsDataURL(this.files[0]);
               reader.onload = function(){
                   console.log(reader.result);
                   document.getElementById('fileArea').innerHTML = "<img src='" + reader.result + "' width='500px' height='500px'>";
               }
           }
       });
    </script><script>
	    $(".star").on('click',function(){
	   		var result = 1;
	        var idx = $(this).index();
	        $(".star").removeClass("on");
	        for(var i=0; i<=idx; i++){
	        	$(".star").eq(i).addClass("on");
	            result = i;
	       }
	       console.log(result+1);
	       document.getElementById('star').value = (result+1)/2;
	    });
	    
	    var star = document.querySelector("#star").value;
	    console.log(star);
        switch(star){
            case '0.5' : document.querySelector(".star-ratings-fill").style.width = '15px'; break;
            case '1.0' : document.querySelector(".star-ratings-fill").style.width = '30px'; break;
            case '1.5' : document.querySelector(".star-ratings-fill").style.width = '45px'; break;
            case '2.0' : document.querySelector(".star-ratings-fill").style.width = '60px'; break;
            case '2.5' : document.querySelector(".star-ratings-fill").style.width = '75px'; break;
            case '3.0' : document.querySelector(".star-ratings-fill").style.width = '90px'; break;
            case '3.5' : document.querySelector(".star-ratings-fill").style.width = '105px'; break;
            case '4.0' : document.querySelector(".star-ratings-fill").style.width = '120px'; break;
            case '4.5' : document.querySelector(".star-ratings-fill").style.width = '135px'; break;
            default : document.querySelector(".star-ratings-fill").style.width = '150px'; break;

        }
    </script>
<footer th:include="common/footer :: footer"></footer>
</body>
</html>