<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/mypage/wish.css" rel="stylesheet">
<style>
	label {
		margin : 0;
		padding : 0;
	}
</style>
</head>
<body>
<header th:include="common/header :: header"></header>
	<div id="container">
        <nav class="snb" th:replace="/mypage/mypageSubmenu.html">
        </nav>
        <div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px;">찜 리스트</h3>
                </div>
                <div class="wish_list">
                    <ul class="wish_header">
                        <li class="title">상품정보</li>
                        <li class="wish_date">찜한날짜</li>
                        <li class="del">삭제</li>
                    </ul>
                    <ul style="height: 100px;" th:each="w : ${ wishList }">
                        <li class="title">
                            <div class="parent">
                                <div class="first"><input type="checkbox"></div>
                                <div class="second"><img th:src="${w.thumbnail}" width="80px" height="80px" alt="wineImg"> </div>
                                <div class="third"> <label th:text="${w.product_kname}"></label> </div>
                            </div>
                        </li>
                        <li class="wish_date date1"><label th:text="${#dates.format(w.wish_date, 'yyyy.MM.dd')}"></label></li>
                        <li class="del del1">
                            <a th:href="@{/mypage/wish/{wish_no}(wish_no=${w.wish_no})}"><img class="closeImg" width="20px" height="20px" src="/images/mypage/close.png"></a>
                        </li>
                    </ul>
                </div>
                <div class="cartBtnArea">
                	<!-- <a class="cartBtn" th:href="@{/cart/{user_no}(user_no=${w.user_no})}">선택한 상품 장바구니 담기</a> -->
                    <input class="cartBtn" type="button" value="선택한 상품 장바구니 담기">
                </div>
            </div>
            </div>
        </div>
   
 <footer th:include="common/footer :: footer"></footer>
</body>
</html>