@charset "UTF-8";
* {
          font-family: 'Gowun Batang', serif;
       }
	    .content {
	        margin : 50px auto;
	        height : auto;
	        min-height : 100%;
	        width: 900px;
	    }
	    
    	h2{
    	    margin-left: 20px;
    	}

        .totalList{
            border: black 1px solid;
            width: 850px;
            height: 120px;
            display: flex;
            list-style: none;
            text-align: center;
            margin-bottom: 10px;
            margin-left: 24px;
            margin-top: 18px;
        }
        
        .registArea{
        margin-left: 24px;
        height: auto;
        
        }

        hr {
            width: 850px;
        }

        #todayReceiving{
            margin-right: 200px;
            margin-left: 140px;
        }

        #totalShop {
            margin-right: 200px;
        }
        
        #totalStock{
            margin-right: 150px;
        }
        
       span#count{
        font-size: 45px;
        font-weight: bolder;
        color: #83131E;   
        }
        
        
       span#counts{
        font-size: 45px;
        font-weight: bolder;
        color: black;  
        }

       span#countTitle{
        width: 70px;
        }
        
       
/*시도*/

        .label_area{
            display:inline-block;
            width: 100px;
        }
        
        .receivingArea{
           border: 1px black solid;
           margin-bottom: 20px;
           width: 850px;
           height: 377px;         
       	}
      
        .searchArea {
            margin-top: 20px;
            margin-left: 85px;
            text-align: center;
            
        }

        #selectBtn{
           margin: 5px;
           background: white ;
           border: 1px solid #83131E ;
           color: #83131E;
           width: 50px;
           height: 25px;
           border-radius: 5px; 
        }

      
        .receivingArea input {
		width : 255px;
		height : 25px;
		border: 1px solid;
		margin-bottom: 11px;
		
	    }
        #selectArea{
            text-align: center;
        }
		.cssArea{
		margin-bottom: 5px;
		}

       .btnArea{
        text-align: center;
        border-top: 1px solid #282A35;
        margin-top: 15px;
        padding: 30px;
        }

        #cancleBtn{
            background: white ;
            border: 1px solid #83131E ;
            color: #83131E;
            width:150px;
            height: 25px;
            border-radius: 5px;
        
        }

        #enrollBtn{
            background: #83131E ;
            border: none;
            color:white;
            width:150px;
            height: 25px;
            border-radius: 5px;
            margin-left: 30px;
        }
        
		/*모달 css*/
        .modal {
        position: fixed;
	    top: 40%;
	    left: 40%;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    display: none;
	    background: white;
	    border: 1px solid black;
	    width: 700px;
  		height: 430px;
  		margin-left: -145px;
        }

       .modalBox {
          position: absolute;
          background-color: white;
          width: 400px;
          height: 400px;
          padding: 15px;
          border: 1px solid black;
          
        }

        .modalBox button {
          display: block;
          width: 80px;
          margin: 0 auto;
        }

        .hidden {
          display: none;
        }
        
        <!--모달창 검색 detail css-->
        .mcontent {
            margin : 50px auto;
            height : auto;
            min-height : 100%;
            width: 900px;
            text-align: center;
        }
        
        .msearchArea{
         text-align: center;
        }
        
        #msearchBtn{
         margin: 5px;
         background: white ;
         border: 1px solid #83131E ;
         color: #83131E;
         width: 50px;
         height: 25px;
         border-radius: 5px; 
        }
        
		
		.selectPno {
	    justify-content: space-around;
	    text-align: left;
	    display: grid;
		}
		
        .msearchContext{
             border: 1px solid black;
		    width: 500px;
		    height: 180px;
		    margin-top: 20px;
		    display: inline-block;
		    overflow: auto;
        }
        
       .mbtnArea{
            text-align: center;        
        }
     	

        #mcancleBtn{
            background: white ;
            border: 1px solid #83131E ;
            color: #83131E;
            width:150px;
            height: 25px;
            border-radius: 5px;
            margin-right: 30px;
        }

        #mapplyBtn{
            background: #83131E ;
            border: none;
            color:white;
            width:150px;
            height: 25px;
            border-radius: 5px;
            margin-right: 30px;
        }
        ul{
        padding : 0;
        }
        
        .selectPno li{
        	list-style : none;
        }
                
        .noCss{
            margin-right: 30px;
    		margin-left: -35px;
		}