<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/recommendWine/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
<title>recommend wine by hashtag(main)</title>
</head>
<body>
	
	<header th:include="common/header :: header"></header>
	<div class="wrapper">
		<div class="weather" th:include="recommendWine/weather"></div>
		<div class="container">
			<h1>#해시태그 와인 추천</h1>
			<hr>
			<div class="content">
				<div id="search_area">
					<form id="searchForm" th:action="@{/recommendWine/search}"
						method="post" onsubmit="return validate()">
						<input id="input_box" type="text" name="search_hash"
							placeholder="#해시태그를 입력하세요.">
						<button id="search_btn">검색</button>
					</form>
				</div>
				<div id="content_area">
					<div class="wine_area">
						<img class="img" src="/images/recommendWine/mood.webp">
						<div class="list_area1">
							<ul>
								<li th:each="mood : ${ moodList }" th:value="${ mood.hashNo }"
									th:text="|#${mood.hashName}|"></li>
							</ul>
						</div>
					</div>
					<div class="wine_area">
						<img class="img" src="/images/recommendWine/food.webp">
						<div class="list_area2">
							<ul>
								<li th:each="food : ${ foodList }" th:value="${ food.hashNo }"
									th:text="|#${food.hashName}|"></li>
							</ul>
						</div>
					</div>
				</div>
				<form id="hashListForm" th:action="@{/recommendWine/list}"
					method="post">
					<input type="hidden" name="hashNo"> <input type="hidden"
						name="hashName">
				</form>
			</div>
		</div>
	</div>

	<footer th:include="common/footer :: footer"></footer>
    
    <script>
	    var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
		 
		 function validate() {
			 
			 if($("input[name=search_hash]").val() == null) {
				 alert("검색하실 해시태그명을 입력해주세요.");
				 return false;
			 }
		 }
		 
		$(function(){
			$("input[name=search_hash]").val("");
		});
		 
		$("li").on("click", function(){
			$("input[name=hashNo]").val($(this).val());
			$("input[name=hashName]").val($(this).text());
			$("form").submit();
		});
		 
		 
	</script>

</body>
</html>