<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dwine.hashtag.model.dao.HashtagMapper">
	<resultMap id="hashtagResultMap" type="com.project.dwine.hashtag.model.vo.Hashtag">
		<id property="hashNo" column="HASH_NO"/>
		<result property="hashType" column="HASH_TYPE"/>
		<result property="hashName" column="HASH_NAME"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<select id="selectHashtagList" resultMap="hashtagResultMap">
		SELECT
			  HASH_NO
			, HASH_TYPE
			, HASH_NAME
		 FROM HASHTAG
		 WHERE HASH_TYPE = #{hashType}
		 AND STATUS = 'Y'
	</select>
	
	<select id="hashNameCheck" parameterType="string" resultType="_int">
		SELECT
			COUNT(HASH_NAME)
		FROM HASHTAG
		WHERE HASH_NAME = #{hashName}
	</select>
	
	<insert id="registHashtag">
		INSERT 
		INTO HASHTAG
		(
			  HASH_NO
			, HASH_TYPE
			, HASH_NAME
			, STATUS
		)
		VALUES
		(
			  SEQ_HNO.NEXTVAL
			, #{hashType}
			, #{hashName}
			, DEFAULT
		 )
	</insert>
	
	<select id="selectByHashNo" resultMap="hashtagResultMap">
		SELECT 
			  HASH_NO
			, HASH_TYPE
			, HASH_NAME
			, STATUS
		FROM HASHTAG
		WHERE HASH_NO = #{ hashNo }
	</select>
	
	<update id="modifyHashtag">
		UPDATE HASHTAG
			SET HASH_NAME = #{hashName}
			  , HASH_TYPE = #{hashType}
		WHERE HASH_NO = #{hashNo}
	</update> 
	
	<update id="deleteHashtag">
		UPDATE HASHTAG
			SET STATUS = 'N'
		WHERE HASH_NO = #{hashNo}
	</update>
</mapper>