<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dwine.orderManage.model.dao.OrderManageMapper">

	<resultMap id="purchaseResultMap" type="com.project.dwine.orderManage.model.vo.Purchase">
		<id property="purchaseNo" column="PURCHASE_NO"/>
		<result property="purchaseDate" column="PURCHASE_DATE"/>
		<result property="usePoint" column="USE_POINT"/>
		<result property="purchasePrice" column="PURCHASE_PRICE"/>
		<result property="pickupDate" column="PICKUP_DATE"/>
		<result property="pickupPlace" column="PICKUP_PLACE"/>
		<result property="pickupTime" column="PICKUP_TIME"/>
		<result property="orderStatus" column="ORDER_STATUS"/>
		<result property="status" column="STATUS"/>
		<result property="refundDate" column="REFUND_DATE"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<collection property="orderDetail" resultMap="orderDetailResultMap"/>
	</resultMap>
	
	<resultMap id="orderDetailResultMap" type="com.project.dwine.orderManage.model.vo.OrderDetail">
		<id property="productNo" column="PRODUCT_NO"/>
		<result property="typeName" column="TYPE_NAME"/>
		<result property="productKname" column="PRODUCT_KNAME"/>
		<result property="odCount" column="OD_COUNT"/>
		<result property="odPrice" column="OD_PRICE"/>
	</resultMap>
	
	<select id="selectOrderList" resultMap="purchaseResultMap">
		SELECT
		       P.PURCHASE_NO
		     , P.PURCHASE_DATE
		     , P.USE_POINT
		     , P.PURCHASE_PRICE
		     , P.PICKUP_DATE
		     , P.PICKUP_PLACE
		     , P.PICKUP_TIME
		     , P.ORDER_STATUS
		     , P.STATUS
		     , P.REFUND_DATE
		     , P.USER_NO
		     , M.USER_NAME
		  FROM PURCHASE P
		  LEFT JOIN MEMBER M ON(P.USER_NO = M.USER_NO)
		 WHERE P.STATUS = 'Y'
		 ORDER BY P.PURCHASE_NO DESC
	</select>
	
	<select id="selectSearchList" resultMap="purchaseResultMap">
		SELECT
		       P.PURCHASE_NO
		     , P.PURCHASE_DATE
		     , P.USE_POINT
		     , P.PURCHASE_PRICE
		     , P.PICKUP_DATE
		     , P.PICKUP_PLACE
		     , P.PICKUP_TIME
		     , P.ORDER_STATUS
		     , P.STATUS
		     , P.REFUND_DATE
		     , P.USER_NO
		     , M.USER_NAME
		  FROM PURCHASE P
		  LEFT JOIN MEMBER M ON(P.USER_NO = M.USER_NO)
		 WHERE P.STATUS = 'Y'
		 <if test="searchStatus != null and searchStatus !='- 구분 -'">
		   AND P.ORDER_STATUS = #{ searchStatus }
		 </if>
		 <if test="searchCondition == 'orderNumber'">
		   AND P.PURCHASE_NO LIKE '%' || #{ searchValue } || '%'
		 </if>
		 <if test="searchCondition == 'orderName'">
		   AND M.USER_NAME LIKE '%' || #{ searchValue } || '%'
		 </if>
		 ORDER BY P.PURCHASE_NO DESC
	</select>
	
	<select id="selectOrderDetail" parameterType="_int" resultMap="purchaseResultMap">
		SELECT
		       P.PURCHASE_NO
		     , P.PURCHASE_DATE
		     , P.USE_POINT
		     , P.PURCHASE_PRICE
		     , P.PICKUP_DATE
		     , P.PICKUP_PLACE
		     , P.PICKUP_TIME
		     , P.ORDER_STATUS
		     , P.STATUS
		     , P.REFUND_DATE
		     , P.USER_NO
		     , M.USER_NAME
		     , M.USER_PHONE
		     , O.PRODUCT_NO
		     , T.TYPE_NAME
		     , PR.PRODUCT_KNAME
		     , O.OD_COUNT
		     , O.OD_PRICE
		  FROM PURCHASE P
		  LEFT JOIN MEMBER M ON(P.USER_NO = M.USER_NO)
		  LEFT JOIN ORDER_DETAIL O ON(P.PURCHASE_NO = O.PURCHASE_NO)
		  LEFT JOIN PRODUCT PR ON(O.PRODUCT_NO = PR.PRODUCT_NO)
		  LEFT JOIN TYPE T ON(PR.TYPE_NO = T.TYPE_NO)
		 WHERE O.PURCHASE_NO = #{ purchaseNo }
	</select>
	
	<select id="stateChangeList" parameterType="string" resultMap="purchaseResultMap">
		SELECT
		       P.PURCHASE_NO
		     , P.PURCHASE_DATE
		     , P.USE_POINT
		     , P.PURCHASE_PRICE
		     , P.PICKUP_DATE
		     , P.PICKUP_PLACE
		     , P.PICKUP_TIME
		     , P.ORDER_STATUS
		     , P.STATUS
		     , P.REFUND_DATE
		     , P.USER_NO
		     , M.USER_NAME
		  FROM PURCHASE P
		  LEFT JOIN MEMBER M ON(P.USER_NO = M.USER_NO)
         WHERE P.ORDER_STATUS = #{ state }
           AND STATUS = 'Y'
		 ORDER BY P.PURCHASE_NO DESC
	</select>
	
	<update id="updateOrderStatus" parameterType="com.project.dwine.orderManage.model.vo.Purchase">
		UPDATE PURCHASE
		   SET ORDER_STATUS = #{ orderStatus }
		 WHERE PURCHASE_NO = #{ purchaseNo }
	</update>
	
	<update id="updateAllChange" parameterType="com.project.dwine.orderManage.model.vo.Purchase">
		UPDATE PURCHASE
		   SET ORDER_STATUS = #{ orderStatus }
		 WHERE PURCHASE_NO = #{ purchaseNo }
	</update>
	
	<update id="deleteOrder" parameterType="_int">
		UPDATE PURCHASE
		   SET STATUS = 'N'
		 WHERE PURCHASE_NO = #{ purchaseNo }
	</update>

</mapper>