<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/notice/detail.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
 <title>공지사항 디테일</title>
  
</head>
<body>
<header th:include="common/header :: header"></header>
 <div class="wrapper">
    <div class="content">
    <div class="inner">
    <h2>공지사항 - 상세보기</h2>   
    <hr>
    <br>
      <span class="categoryArea" th:text="${notice.notice_category}"></span>
     <div class="dateArea">
    	등록일 : <span th:text="${#dates.format(notice.create_date, 'yyyy-MM-dd, HH:mm:ss')}"></span><br>
    	수정일 : <span th:text="${#dates.format(notice.modify_date, 'yyyy-MM-dd, HH:mm:ss')}"></span>
    </div>
    <br>
  
    <!-- <select id="selectArea" >
        <option value="일반" th:selected="${notice.notice_category}=='일반'">일반</option>
        <option value="이벤트" th:selected="${notice.notice_category}=='이벤트'">이벤트</option>
    </select></div><br> -->
    <div class="titleArea"><label id="titleLabel">제목</label>
    <input type="text" id="title" name="notice_title" th:value="${notice.notice_title}" readonly></div>
   

    <div id="summernote" th:utext="${notice.notice_context}" readonly></div>

    <div class="btnArea">
        <button id="backBtn" th:onclick="history.back();">뒤로</button> 
        <th:block sec:authorize="hasRole('ADMIN')">
        <input id="modifyBtn" type="submit" value="수정" th:onclick="|location.href='@{/notice/modify/{noticeNo}(noticeNo=${notice.notice_no})}'|">
    	</th:block>
    </div>
<div th:include="common/footer :: goUp"></div>
</div>
</div>
</div>
<footer th:include="common/footer :: footer"></footer>
</body>
</html>