@charset "UTF-8";
	
	* {
		font-family: 'Gowun Batang', serif;
	}
	
	.wrapper {
		display: flex;
		width: 1100px;
		margin: 0 auto;
	}
	
	.contents {
		width: 888px;
		height: 100%;
	}
	
	.inner {
		margin-top: 30px;
		margin-left: 27px;
		width: 795px;
	}
	
	a {
		text-decoration: none;
		color: #000;
	}
	
	.snb {
		width: 210px;
	}
	
	h3 {
		margin-top: 0px;
	}
	
	.snb_inner {
		width: 170px;
		margin: 30px auto 0;
	}
	
	.headerArea, .btnArea {
		display: flex;
		justify-content: space-between;
	}
	
	[class$="Btn"] {
		cursor: pointer;
	}
	
	input:focus, textarea:focus {
		outline: none;
	}
	
	.insertBtn {
		width: 80px;
		height: 30px;
		background: #6B0E1F;
		border-radius: 5px;
		color: white;
		margin-top: auto;
		margin-bottom: auto;
		border: none;
		font-size: 14px;
	}
	
	.deleteBtn {
		border: 1px solid #C4C4C4;
		background: #FFFFFF;
		border-radius: 5px;
		font-size: 14px;
		color: #525252;
		width: 80px;
		height: 30px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.searchBox {
		width: 200px;
		height: 30px;
		background: #FFFFFF;
		border: 1px solid #C4C4C4;
		margin-top: 20px;
	}
	
	.searchBtn {
		margin: 5px;
		background: white;
		border: 1px solid #83131E;
		color: #83131E;
		width: 45px;
		height: 25px;
		border-radius: 5px;
	}
	
	.searchBtn:hover {
		cursor: pointer;
		transform: scale(1.1);
		background: #83131E;
		color: white;
	}
	
	.list_area {
		height: 600px;
	}
	
	table {
		width: 836px;
		text-align: center;
		font-weight: lighter;
		font-size: 15px;
		border-collapse: collapse;
	}
	
	tr {
		height: 35px;
	}
	
	tbody tr:hover {
		background-color: rgba(196, 196, 196, 0.1);
		cursor: pointer;
	}
	
	th {
		font-weight: bold;
		background-color: rgba(196, 196, 196, 0.3);
	}
	
	table .listContent {
		width: 500px;
	}
	
	input[type="checkbox"] {
		-webkit-appearance: none;
		position: relative;
		width: 16px;
		height: 16px;
		cursor: pointer;
		outline: none !important;
		border: 1px solid #c4c4c4;
		border-radius: 2px;
		background: #fbfbfb;
	}
	
	input[type="checkbox"]::before {
		content: "\2713";
		position: absolute;
		top: 50%;
		left: 50%;
		overflow: hidden;
		transform: scale(0) translate(-50%, -50%);
		line-height: 1;
	}
	
	input[type="checkbox"]:hover {
		border-color: rgba(170, 170, 170, 0.5);
	}
	
	input[type="checkbox"]:checked {
		background-color: #83131E;
		border-color: rgba(255, 255, 255, 0.3);
		color: white;
	}
	
	input[type="checkbox"]:checked::before {
		border-radius: 2px;
		transform: scale(1) translate(-50%, -50%)
	}
	
	/* 모달 */
	#modal.modal-overlay {
		position: fixed;
		top: 10%;
		left: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		display: none;
	}
	
	#modal2.modal-overlay {
		position: fixed;
		top: 10%;
		left: 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		display: none;
	}
	
	#modal .modal-window {
		background: #FFFFFF;
		border-radius: 5px;
		border: 1px solid #C4C4C4;
		width: 650px;
		height: 400px;
		position: relative;
	}
	
	#modal2 .modal-window {
		background: #FFFFFF;
		border-radius: 5px;
		border: 1px solid #C4C4C4;
		width: 650px;
		height: 400px;
		position: relative;
	}
	
	#modal .title, #modal2 .title {
		text-align: center;
		display: inline;
		font-size: 16px;
	}
	
	#modal .title h2, #modal2 .title h2 {
		display: inline;
	}
	
	#modal .close-area, #modal2 .close-area {
		display: inline;
		float: right;
		padding-right: 10px;
		cursor: pointer;
		color: black;
	}
	
	span {
		font-size: 12px;
	}
	
	#modal .content, #modal2 .content {
		margin-top: 20px;
		padding: 0px 10px;
		color: black;
	}
	
	#modal label, #modal2 label {
		margin-right: 40px;
		font-size: 14px;
	}
	
	#modal input, #modal2 input {
		border: none;
		width: 550px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	textarea {
		border: none;
	}
	
	.cancleBtn, .registBtn, .updateBtn {
		width: 300px;
		height: 35px;
		border-radius: 5px;
		border: none;
		margin-top: 8px;
	}
	
	.cancleBtn {
		background-color: #FFFFFF;
		border: 1px solid #828282;
		margin-right: 10px;
		margin-left: 8px;
	}
	
	.registBtn, .updateBtn {
		background: #6B0E1F;
		color: #FFFFFF;
	}
	
	#modal .modal_layer, #modal2 .modal_layer {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		z-index: -1;
	}
	
	.innerTitle, .innerContent {
		display: flex;
	}
	
	.dateDiv {
		text-align: right;
		margin-right: 10px;
	}

	/* 페이징 부분 */
	.paging_ul {
		height: 50px;
		line-height: 50px;
		display: flex;
		justify-content: center;
		list-style: none;
		width: 480px;
		margin: 30px auto;
	}
	
	.paging_ul li {
		text-decoration: none;
		display: block;
		text-align: center;
		border: 1px solid #dae0e9;
		margin-left: 10px;
		width: 37px;
		height: 37px;
		line-height: 37px;
		font-size: 12px;
		border-radius: 5px;
		cursor: pointer;
	}
	
	.current_page {
		border: 1px solid #83131E;
		background: #83131E;
		color: white;
		border-radius: 5px;
	}	