<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
	rel="stylesheet">
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/member/joinConfirm.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
<!-- iamport.payment.js -->
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>

<th:block th:if="${#request.getAttribute('join') != null}">
	<th:block th:if="${#request.getAttribute('join') == 'unknownAge'}">
		<script>
			alert('연령대 항목에 동의해주세요.')
			location.href = '/member/joinConfirm';
		</script>
	</th:block>
	<th:block th:if="${#request.getAttribute('join') == 'disagreeInfo'}">
		<script>
			alert('모든 항목에 동의해주세요.')
			location.href = '/member/joinConfirm';
		</script>
	</th:block>
	<th:block th:if="${#request.getAttribute('join') == 'cancleConfirm'}">
		<script>
			alert('네이버 인증을 취소하셨습니다')
			location.href = '/member/joinConfirm';
		</script>
	</th:block>
	<th:block th:if="${#request.getAttribute('join') == 'unableAge'}">
		<script>
			alert('성인만 회원가입이 가능합니다.')
			location.href = '/member/joinConfirm';
		</script>
	</th:block>
</th:block>
<style>
.join_btn {
	min-height: 80%;
	align-content: center;
}

.naver_login img {
	width: 300px;
	font-size: 10px;
}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="joinConfirm_header">
			<label><a href="/home">D.WINE</a></label>
		</div>
		<section class="joinConfirm_main">
			<div class="joinConfirm_box">
				<h1>본인 인증을 진행해 주세요</h1>
				<p class="join_btn">
					<a class="kakao_login"
						href="https://kauth.kakao.com/oauth/authorize?client_id=fae29f41478653a98fe5c415e8f363f3&redirect_uri=http://localhost:8000/member/kakaojoin&response_type=code">
						<img alt="" src="/images/kakao_login.png">
					</a><br> <a class="naver_login"
						href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=5LDpNfva7bgqFzmEnZCl&state=STATE_STRING&redirect_uri=http://localhost:8000/member/naverjoin">
						<img alt="" src="/images/naver_login.png">
					</a>
				</p>
			</div>
		</section>
	</div>
	<footer th:replace="common/footer :: footer"></footer>
	<script>
		
	</script>
</body>
</html>