<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap"
	rel="stylesheet">
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/member/joinConfirm.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
<!-- iamport.payment.js -->
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>

<th:block th:if="${#request.getAttribute('join') != null}">
	<th:block th:if="${#request.getAttribute('join') == 'disagreeInfo'}">
		<script>
			alert('모든 항목에 동의해주세요.')
			location.href = '/member/joinConfirm';
		</script>
	</th:block>
	<th:block th:if="${#request.getAttribute('join') == 'cancleConfirm'}">
		<script>
			alert('네이버 인증을 취소하셨습니다')
			location.href = '/member/joinConfirm';
		</script>
	</th:block>
	<th:block th:if="${#request.getAttribute('join') == 'unableAge'}">
		<script>
			alert('성인만 회원가입이 가능합니다.')
			location.href = '/member/joinConfirm';
		</script>
	</th:block>
	<th:block th:if="${#request.getAttribute('join') == 'alreadyJoin'}">
		<script>
			alert('가입 정보가 존재하는 회원입니다.')
			location.href = '/member/login';
		</script>
	</th:block>
</th:block>
</head>
<body>
	<div class="wrapper">
		<div class="joinConfirm_header">
			<label><a href="/home">D.WINE</a></label>
		</div>
		<section class="joinConfirm_main">
			<div class="joinConfirm_box">
				<h1>본인 인증을 진행해 주세요</h1>
				<textarea rows="20" cols="50" class=" joinInfo" disabled>
제 1조(개인정보의 처리 목적) DWINE은 다음의 목적을 위하여 개인정보를 처리합니다.처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 「개인정보 보호법」 제 18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
							
1. 홈페이지 회원 가입 및 관리
회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별,인증, 회원자격 유지관리, 서비스 부정이용 반지, 만19세 미만 이용자 확인, 각종 고지 고충처리 못적으로 개인 정보를 처리합니다.
							
2. 재화 또는 서비스 제공
서비스 제공, 청구서 발송, 콘텐츠 제공, 맞춤서비스 제공, 본인인증, 연령인증, 요금결제, 정산 목적으로 개인정보를 처리합니다.
							
3. 고충처리
신원 롹인, 고충 사항 확인, 사실조사를 위한 연락, 처리결과 통보의 목적으로 개인정보를 처리합니다.
							
제 2조(개인정보의 처리 및 보유기간) ① <DWINE>은 법령에 따른 개인정보 보유기간 또는 정보주체로부터 개인정보를 수집 시에 동의받은 개인정보 보유기간 내에서 개인정보를 처리, 보유합니다.
							
② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
1. 홈페이지 회원가입 및 관리 : 회원 탈퇴 시까지
다만, 관계 법령 위반에 따른 수사등이 진행 중인 경우에는 해당 수사조사 종료 시까지
2. 재화 또는 서비스 제공 : 재화서비스 공급완료 및 요금결제 완료시까지
				</textarea>
				<p class="join_btn">
					<a class="naver_login"
						href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=5LDpNfva7bgqFzmEnZCl&state=STATE_STRING&redirect_uri=http://localhost:8000/member/naverjoin">
						<img alt="" src="/images/member/naver_login.png">
					</a>
				</p>
			</div>
		</section>
	</div>
	<footer th:replace="common/footer :: footer"></footer>
	<script>
		
	</script>
</body>
</html>