<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>로그인</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
	rel="stylesheet">
<link href="/css/member/loginForm.css" rel="stylesheet">
<link href="/css/common/common.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<div class="loginForm_header">
			<label><a href="/home">D.WINE</a></label>
		</div>
		<section class="loginForm_main">
			<div class="loginForm_box">
				<form th:action="@{/member/login}" method="post">
					<p>
						<input type="text" name="username" placeholder="이메일">
					</p>
					<p>
						<input type="password" name="password" placeholder="비밀번호">
					</p>
					<p class="remember_id">
						<input type="checkbox" id="rememberId"> <label
							for="rememberId"><span></span>&nbsp;아이디 기억하기</label>
					</p>
					<p>
						<input type="submit" value="로그인">
					</p>
				</form>
				<p>
					<input type="button" id="kakaoLogin" value="카카오톡 로그인" onclick="location.href='/oauth2/authorization/kakao'">
				</p>
				<p class="login_subMenu">
					<a href="/member/findId">아이디 찾기</a> | <a href="/member/findPw">비밀번호 찾기</a> | <a
						href="/member/joinConfirm">회원가입</a>
				</p>
			</div>
		</section>
	</div>
	<div th:replace="common/footer :: footer"></div>
</body>
</html>