<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<title>D.WINE</title>
<link rel="icon" type="image/png" href="http://example.com/myicon.png">
<link href="/css/common/common.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
<link href="/css/purchase/purchase_detail.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
	<header th:include="common/header :: header"></header>
	<div th:include="common/footer :: goUp"></div>
	<div class="weather" th:include="recommendWine/weather"></div>
	<div class="wrapper">
		<div class="payment">
			<h2 class="head">회원 정보</h2>
			<div class="payement_member line">
				<div class="payment_member_head">
					<div class="member_info">
						<p class="nick" th:text="|ID : ${member.user_id}|"></p>
						<p class="nick" th:text="|NICKNAME : ${member.user_nickname}님|"></p>
					</div>

				</div>
			</div>


			<div class="order_pickUp">
				<h2>
					상품 매장픽업 매장 / 일자 선택
					</h3>
					<div class="block"></div>
					<div class="main">
						<ul id="ulwrapper">
							<li th:each="orderList : ${purchaseList}" style="padding: 30px 0">
								<div class="order_info">
									<div class="wine_info">
										<img class="wine_img" th:src="${orderList.thumbnail}">
										<div class="wine_name">
											<p class="product_kname" th:text="${orderList.product_kname}"></p>
											<p th:text="${orderList.product_ename}"></p>
											<input type="hidden" class="product_no"
												th:value="${orderList.product_no}"> <input
												type="hidden" class="stock"
												th:value="${orderList.product_count}">
										</div>
									</div>
									<div class="order_value"
										th:each="orderValue : ${orderList.cart}">
										<input type="hidden" class="p_price"
											th:value="${orderList.sale_price * orderValue.cart_count}">
										<span class="price"
											th:text="${#numbers.formatInteger(orderList.sale_price * orderValue.cart_count,0,'COMMA')}"></span>원
										<p class="count" th:text="|${orderValue.cart_count}개|"></p>
										<input type="hidden" class="product_count"
											th:value="${orderValue.cart_count}"> <input
											type="hidden" class="cart_no"
											th:value="${orderValue.cart_no}">
									</div>
								</div>
							</li>
						</ul>


						<div class="pickUp_value">
							<span class="pickUp">매장</span> <select id="shop">
								<option value="">매장을 선택하세요.</option>
								<option value="강남">강남</option>
								<option value="당산">당산</option>
								<option value="종로">종로</option>
							</select>
							<button class="place_info" onclick="shopInfo();" type="button">매장정보</button>
							<span class="pickUp">일자</span> <select id="pickupDate">
								<option value="">일자를 선택하세요.</option>
							</select> <span class="pickUp">시간</span> <select id="time">
								<option value="">픽업시간을 선택하세요.</option>
								<option value="12:00~17:00">12:00 ~ 17:00</option>
								<option value="17:00~21:00">17:00 ~ 21:00</option>
							</select>
						</div>

					</div>

					<p class="shop_info"></p>

					<div class="deliver_head">
						<div class="map_icon">
							<i class="fas fa-map-marker-alt"></i>
						</div>
						<h3>배송방법 : 매장픽업</h3>
					</div>

					<p class="deliver_info">&emsp;해당 매장을 방문하셔서 주문하신 상품을 직접 픽업하세요.</p>



					<!-- --------------------    -->
					<h2 class="point_head head">포인트 사용</h2>
					<div class="point_main line">
						<span class="point">적립금</span> <input class="point_value"
							type="number" onchange='usePoints()'
							placeholder="사용할 적립금을 입력해주세요." />
						<button id="usePoint" type="button">사용</button>
						<input type="hidden" class="hiddenPoint"
							th:value="${member.user_point}"> <span
							class="member_point"
							th:text="|보유 : ( ${member.user_point} Point )|"></span>
					</div>

					<!---------------- -->

					<div class="finalPayment_info">
						<span class="final_price_info">주문금액 <span class="allPrice"></span>원
							- 포인트사용 <span class="pointUse">0</span>원 = <span
							class="final_price fp"></span><span class="final_price">원</span>
							<input type="hidden" class="allPriceValue"><input
							type="hidden" class="pointUseValue" value="0"><input
							type="hidden" class="fpValue">
					</div>

					<div class="clauses">
						<div class="clause_all">
							<input id="cbx_chkAll" type="checkbox"> <label
								for="cbx_chkAll">주문 상품정보 및 서비스 이용약관에 모두 동의하십니까?</label>
						</div>
						<div class="clause">
							<input id="check1" type="checkbox" name="chk"> <label
								for="check1">주문할 상품정보(상품명,상품가격,배송정보)에 동의 하십니까?(전자상거래법
								제8조 2항)</label>
						</div>
						<div class="clause">
							<input id="check2" type="checkbox" name="chk"> <label
								for="check2">전자금융거래 이용약관 동의&emsp;</label> <span
								onclick="clause()">약관보기</span>
						</div>
					</div>

					<div class="order_btn">
						<button type="submit" onclick="return checkForm()">
							<span class="ofp"></span>원 결제하기
						</button>
					</div>
			</div>

			<input type="hidden" class="username" th:value="${member.user_name}">
			<input type="hidden" class="phone" th:value="${member.user_phone}">
			<input type="hidden" class="userId" th:value="${member.user_id}">

		</div>











	<script>
      var header = $("meta[name='_csrf_header']").attr('content');
  	  var token = $("meta[name='_csrf']").attr('content');

	  var allProductPrice = 0;
	
		/* 페이지 로드시 총상품 금액 보여주기*/
        window.onload = function(){
			purchasePrice();
        /* 총 상품 금액 (포인트 적용 전 )*/
		function purchasePrice(){
		
				const plusElem = document.querySelectorAll(".p_price");
			
				
				for(const elem of plusElem){
					 allProductPrice = allProductPrice + Number(elem.value);
		           }
				 
				 
				document.querySelector(".allPrice").innerText = allProductPrice.toString()
                .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				document.querySelector(".allPriceValue").value = allProductPrice;

				document.querySelector(".fp").innerText = allProductPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				document.querySelector(".fpValue").value = allProductPrice;
				document.querySelector(".ofp").innerText = allProductPrice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
			}
        
		}

    
        var havePoint = Number(document.querySelector(".hiddenPoint").value);
     	var usePoint = Number(document.querySelector(".point_value").innerText);
        var userPointBtn = document.getElementsByClassName("userPoint");
        
        
			/* 주문자가 작성한 Point 값 넣기 */
			 function usePoints()  {
				  const pv = Number(document.querySelector(".point_value").value);
				  usePoint = pv;
			}
			 
			 
			 /* 포인트 사용버튼 눌렀을때 처리  (유효한 값인지 확인) */
			 
			document.getElementById("usePoint").addEventListener('click',function(){
				var allprice = Number(document.querySelector(".allPriceValue").value);

	        	console.log("총가격 : " + allprice);
				
				
				if(havePoint < usePoint){
					alert(havePoint + 'Point 이하로 사용해주세요.');
					
				} else if(usePoint > allprice){
					alert(allprice + '이하로 사용해주세요.')
				} else if(usePoint == 0 ){
					alert('사용할 포인트를 입력해주세요.')
				} else{
					alert('사용가능합니다.');
					document.querySelector(".pointUse").innerText = usePoint.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
					document.querySelector(".pointUseValue").value = usePoint;
					/* 총 결제해야할 금액 */
			        document.querySelector(".fp").innerText = (allProductPrice - usePoint).toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
			        document.querySelector(".fpValue").value = (allProductPrice - usePoint);
			        document.querySelector(".ofp").innerText = (allProductPrice - usePoint).toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
				}
			});
			

			 
			 
			 
			 
			/* 주문할 상품 이름(들) */
		    var product_kname = document.querySelectorAll(".product_kname");
		    var orderNames = "";
		    
		    	for(const elem of product_kname){
		  			//  console.log(elem.innerText);
		  			orderNames = orderNames + "," + elem.innerText;
		        }
		    	
		    	
		    	
		    var username = document.querySelector(".username").value;
		    var phone = document.querySelector(".phone").value;
		    var userId = document.querySelector(".userId").value;
		    orderNames = orderNames.substring(1); 
			 
		    
		    /* 주문번호 만들기 로직 */
		    var date = new Date();
	        var year = date.getFullYear().toString();

	        var month = date.getMonth() + 1;
	        month = month < 10 ? '0' + month.toString() : month.toString();

	        var day = date.getDate();
	        day = day < 10 ? '0' + day.toString() : day.toString();

	        var today =  year + month + day ;
			
		
		
			var random = "";
			for (var i = 0; i < 6; i++) { 
				random = random + Math.floor(Math.random() * 10) ;
			}
		
			var purchase_no = today+ "_" + random;

		    
		    /* 결제하기 버튼 눌렀을때 유효성 검사 및 결제 창 띄워주기(import) */
		    function checkForm(){
				var shop = document.getElementById("shop");
				var pickupDate = document.getElementById("pickupDate");
				var time = document.getElementById("time");
				var cbx_chkAll = document.getElementById("cbx_chkAll");
				
				var shopSelect = shop.options[shop.selectedIndex].value;
				var dateSelect = pickupDate.options[pickupDate.selectedIndex].value;
				var timeSelect = time.options[time.selectedIndex].value;
				
				if(shopSelect == ""){
					alert('지점을 선택해주세요.');
					return false;
				}
				
				else if(dateSelect == ""){
					alert('픽업일자를 선택해주세요.');
					return false;
				}
				
				else if(timeSelect == ""){
					alert('픽업시간을 선택해주세요.');
					return false;
				}
				
				else if(cbx_chkAll.checked == false){
					alert('약관에 동의해주세요.');
					return false;
				} 
				
				iamport();
				
				function iamport(){
					//가맹점 식별코드
					IMP.init('imp88153348');
					IMP.request_pay({
				    pg : 'kcp',
				    pay_method : 'card',
				    merchant_uid : 'merchant_' + new Date().getTime(),
				    name : orderNames ,   //결제창에서 보여질 이름
				    amount : 100, //실제 결제되는 가격
				    buyer_email : userId,	// 구매자 이메일
				    buyer_name : username,	// 구매자 이름
				    buyer_tel : phone,		// 구매자 번호
				    buyer_postcode : '123-456'
					}, function(rsp) {
						console.log(rsp);
						pay_no = rsp.imp_uid;
						
						pay_method = rsp.card_name;
						// 결제검증
						$.ajax({
				        	type : "POST",
				        	beforeSend: function(xhr){
		    			        xhr.setRequestHeader(header, token);
		    			    },
				        	url : "/verifyIamport/" + rsp.imp_uid
				        }).done(function(data) {
				        	
				        	console.log(data);
				        	// 위의 rsp.paid_amount 와 data.response.amount를 비교한후 로직 실행 (import 서버검증)
				        	if(rsp.paid_amount == data.response.amount){
					        	alert("결제가 완료되었습니다.");
					        	
					        	productCountMinus();
					        	purchaseInsert();
					        	paymentInsert(rsp.imp_uid, rsp.card_name);
					        	odInsert();
					        	cartDelete();
					        	
				        	} else {
				        		alert("결제 실패");
				        	}
				        });
					});
				}
				
				
				var ofp = Number(document.querySelector(".fpValue").value);
				var pointUse = Number(document.querySelector(".pointUseValue").value);
				var param = {};
				param.use_point = pointUse;
				param.purchase_price = ofp;
				param.pickup_date = dateSelect;
				param.pickup_place = shopSelect;
				param.pickup_time = timeSelect;
				
				/* purchase에 값 추가 */
				function purchaseInsert(){
					$.ajax({
						url : "/purchase/insert",
						beforeSend: function(xhr){
					        xhr.setRequestHeader(header, token);
					    },
						type : "POST",
						data: { 
							use_point : pointUse,
							purchase_price : ofp,
							pickup_date : dateSelect,
							pickup_place : shopSelect,
							pickup_time : timeSelect,
							havePoint : havePoint,
							purchase_no : purchase_no
						},
					});
				}
				

				/* 상품 제고 update */
				function productCountMinus(){
					
					var productNo = document.querySelectorAll(".product_no");
					var productCount = document.querySelectorAll(".product_count");
					var stock = document.querySelectorAll(".stock");
					
					var length = productNo.length;
					
					var productNo_Arr = new Array;
					var productCount_Arr  = new Array;
					var stock_Arr = new Array;
					var updateStock_Arr = new Array;
					
					
					for(const elem of productNo){
						  console.log("상품 번호 : " + elem.value);
						  productNo_Arr.push(elem.value);
					}
					
					for(const elem of productCount){
						  console.log("구매 개수 : " + elem.value);
						  productCount_Arr.push(elem.value);
					}
					
					for(const elem of stock){
						  console.log("상품 재고 : " + elem.value);
						  stock_Arr.push(elem.value);
					}
					
					for (var i = 0; i < length; i++) {
						
						updateStock_Arr.push(stock_Arr[i] - productCount_Arr[i]);
						
					}
					
					console.log("재고 업데이트 : " + updateStock_Arr);
					
					
					
					$.ajax({
						url : "/purchase/stockUpdate",
						beforeSend: function(xhr){
					        xhr.setRequestHeader(header, token);
					    },
						type : "POST",
						dataType : 'json', 
						data : {
							 productNo :productNo_Arr,
					         stockArr : updateStock_Arr
					         }
					});
			  	}
								
		
				
				/* payment에 값 추가 */
				function paymentInsert(pay_no, pay_method){
					
					 console.log("구매방법 :" + pay_method);
					 console.log("주문상세번호 : " + pay_no);
					 
					 if(pay_method == null){
						 pay_method = "앱결제";
					 }
					 
					 $.ajax({
							url : "/purchase/paymentInsert",
							beforeSend: function(xhr){
						        xhr.setRequestHeader(header, token);
						    },
							type : "POST",
							data: {
								pay_no : pay_no,
								pay_method : pay_method,
								purchase_no : purchase_no
							},
						});
				}
				 
				
			/* orderDetail에 값 추가 */
				function odInsert(){
				  	  
				  	var od_count = document.querySelectorAll(".product_count");
					var od_price = document.querySelectorAll(".p_price");
					var product_no = document.querySelectorAll(".product_no");
					var length = od_count.length;
				  	  
					var productCount_Arr = new Array;
					var productPrice_Arr = new Array; 
					var productNo_Arr = new Array; 

					for(const elem of od_count){
						 console.log(elem.value);
						 productCount_Arr.push(elem.value);
					}
				 
				  	 console.log("배열 : " + productCount_Arr);
				  	
				   	for(const elem of od_price){
						  console.log(elem.value);
						  productPrice_Arr.push(elem.value);
					}
					
					 console.log("배열 : " + productPrice_Arr);
					 
					 for(const elem of product_no){
						  console.log(elem.value);
						  productNo_Arr.push(elem.value);
					}
					
					console.log("배열 : " + productNo_Arr); 
				  	  
					for (var i = 0; i < length; i++) {
						console.log(productCount_Arr[i]);
						console.log(productPrice_Arr[i]);
						console.log(productNo_Arr[i]);
						
					}
					
					for (var i = 0; i < length; i++) {
						$.ajax({
							url : "/purchase/orderDetail",
							beforeSend: function(xhr){
						        xhr.setRequestHeader(header, token);
						    },
							type : "POST",
							data: {
								od_count : productCount_Arr[i],
								od_price : productPrice_Arr[i],
								purchase_no : purchase_no,
								product_no : productNo_Arr[i],
							},
						});

					} 
				}
		    
				
				/* 구매한 상품 장바구니에서 삭제 */
				function cartDelete(){
					var cartNo = document.querySelectorAll(".cart_no");
					
					
					
					var cartNo_Arr = new Array; 
					
					 for(const elem of cartNo){
						  console.log(elem.value);
						  cartNo_Arr.push(elem.value);
					}
					 
						$.ajax({
							url : "/purchase/cartDelete",
							beforeSend: function(xhr){
						        xhr.setRequestHeader(header, token);
						    },
							type : "POST",
							data : {
						         valueArr : cartNo_Arr
						         }
						});

						location.href="/purchase/complete/" + purchase_no;	
				}	
				
		    }
		    
        </script>

		<!-- 매장 정보 출력 -->
		<script>
                function shopInfo(){
                	const shop_info = document.querySelector("shop_info");
                	var shop = document.getElementById("shop");
                	
                	if(shop.options[shop.selectedIndex].value == "강남"){ 
                		document.querySelector(".shop_info").innerHTML = 
                		"<p style='color : #83131E'> 도로명 : 서울특별시 강남구 테헤란로14길 6 남도빌딩 2층, 3층, 4층 <br>지 번 : 서울특별시 강남구 역삼동 823-25 </p>"; 
                	}else if(shop.options[shop.selectedIndex].value == "당산"){ 
                		document.querySelector(".shop_info").innerHTML = 
                		"<p style='color : #83131E'> 도로명 : 서울특별시 영등포구 선유동2로 57 이레빌딩 <br>지 번 : 서울특별시 영등포구 양평동4가 2 </p>"; 
               		}else if(shop.options[shop.selectedIndex].value == "종로"){ 
               			document.querySelector(".shop_info").innerHTML = 
               			"<p style='color : #83131E'> 도로명 : 서울특별시 중구 남대문로 120 대일빌딩 2층, 3층 <br>지 번 : 서울특별시 중구 남대문로1가 18 </p>";
                	} else{
                		alert('매장을 선택해주세요.');
                	}

   
                }
     </script>


		<script type="text/javascript">
     
     function clause(){
         window.open("/purchase/clause", "popup1", "width=500, height=600");
     }
     
     /* 오늘부터 +7일 출력하기 */
     var currentDay = new Date();  
     var theYear = currentDay.getFullYear();
     var theMonth = currentDay.getMonth();
     var theDate  = currentDay.getDate();
     var theDayOfWeek = currentDay.getDay();

     
     const WEEKDAY = ['(일)', '(월)', '(화)', '(수)', '(목)', '(금)', '(토)'];
     
     var thisWeek = [];
      
     for(var i=0; i<7; i++) {
       var resultDay = new Date(theYear, theMonth, theDate + i, theDayOfWeek);
       var mm = Number(resultDay.getMonth()) + 1;
       var dd = resultDay.getDate();
       var day = resultDay.getDay();
       
       
       mm = String(mm).length === 1 ? '0' + mm : mm;
       dd = String(dd).length === 1 ? '0' + dd : dd;
       
       thisWeek[i] =  mm + '-' + dd + WEEKDAY[day];
     }

	var optionIndex = 0;

	for(var i=0;i<7;i++){

	let selectbox = document.querySelector("#pickupDate");
	var objOption = document.createElement("option"); 
	objOption.text = thisWeek[i];
	objOption.value = thisWeek[i];
	selectbox.options.add(objOption);

	}
	
	/* checkbox All Check*/
		$(document).ready(function() {
			$("#cbx_chkAll").click(function() {
				if($("#cbx_chkAll").is(":checked")) $("input[name=chk]").prop("checked", true);
				else $("input[name=chk]").prop("checked", false);
			});
			
			$("input[name=chk]").click(function() {
				var total = $("input[name=chk]").length;
				var checked = $("input[name=chk]:checked").length;
				
				if(total != checked) $("#cbx_chkAll").prop("checked", false);
				else $("#cbx_chkAll").prop("checked", true); 
			});
		});
	</script>
		<div th:replace="common/footer :: footer"></div>
</body>
</html>