
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<title>D.WINE</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<link href="/css/common/common.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
<link href="/css/purchase/wine_detail.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2abd06745bbc257210e3730b1c6379ea"></script>
</head>
<body>
	<header th:include="common/header :: header"></header>
	<div th:include="common/footer :: goUp"></div>
	<div class="weather" th:include="recommendWine/weather"></div>
	<div class="wrapper">
		<div class="wine_detail_view">
			<div class="product_view">
				<div class="img_score">
					<div class="img">
						<img th:src="${ product.thumbnail }" />
					</div>


					<div class="product_score">
						고객리뷰&emsp;
						<div class="star-ratings">
							<div class="star-ratings-fill space-x-2 text-lg allStar">
								<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
							</div>
							<div class="star-ratings-base space-x-2 text-lg">
								<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
							</div>
						</div>
						<span class="allStarAvg"></span>&ensp;<span class="commentCount"></span>
					</div>


				</div>
				<ul class="product_info">
					<li>
						<h2 th:text="${product.product_kname}"></h2>
						<h2 th:text="${product.product_ename}"></h2>
					</li>
					<li><span class="price"
						th:text="${#numbers.formatInteger(product.sale_price,0,'COMMA')}"></span><span
						class="price">원</span><br></li>
					<li><span th:each="hash : ${product.hash_names}"> <span
							class="hashtag" th:text="|#${hash.hash_name}|"></span>
					</span></li>
					<li class="graph">
						<div class="graph_info">
							<label class="wine_info">당도</label>
							<div class="slidecontainer">
								<input type="range" min="0" max="5" value="" class="slider"
									id="myRange" name="sweetness" disabled>
							</div>
						</div>
						<div class="graph_info">
							<label class="wine_info">산도</label>
							<div class="slidecontainer">
								<input type="range" min="0" max="5" value="" class="slider"
									id="myRange" name="acidity" disabled>
							</div>
						</div>
						<div class="graph_info">
							<label class="wine_info">바디</label>
							<div class="slidecontainer">
								<input type="range" min="0" max="5" value="" class="slider"
									id="myRange" name="body" disabled>
							</div>
						</div>
						<div class="graph_info">
							<label class="wine_info">탄닌</label>
							<div class="slidecontainer">
								<input type="range" min="0" max="5" value="" class="slider"
									id="myRange" name="tannin" disabled>
							</div>
						</div>
						<div class="slider_value">row&emsp;&emsp;&emsp;&emsp;&ensp;high</div>
					</li>
					<li>

						<div class="price_count">
							<button class="minus" onclick='count("minus")'>
								<i class="fas fa-minus"></i>
							</button>
							<div id='count'>1</div>
							<button class="plus" onclick='count("plus")'>
								<i class="fas fa-plus"></i>
							</button>
						</div>

						<div class="payment_price">
							<span class="total">합계 : </span> <span class="total_price"
								id="tprice"
								th:text="${#numbers.formatInteger(product.sale_price,0,'COMMA')}"></span>
							<span class="won">원</span>
						</div>
					</li>

					<li class="btns">
						<div th:if="${product.product_count == 0}">
							<button class="noStock">품 절</button>
						</div>
						<div th:unless="${product.product_count == 0}">
							<button class="btn1" onclick='submit("cart");'>장바구니</button>
							<button class="btn2" onclick='submit("buy");'>구매하기</button>
						</div> <input type="hidden" id="product_no" name="product_no"
						th:value="${product.product_no}"> <input type="hidden"
						id="product_count" name="product_count"
						th:value="${product.product_count}"> 
						<input type="hidden" id="wish_no"
						name="wish_no" th:value="${wish.wish_no}"> <i
						class="far fa-heart" id="heard" onclick="wishbutton()"></i>
					</li>
				</ul>
			</div>
	
			<!-- 상세 정보-->
			<div class="product_detail_view">
				<h2>상품 상세 정보</h2>
				<p class="under_line"></p>
				<ul class="alert_ul">
					<li>
						<p class="alert">※경고※</p> 알코올은 발암물질로 지나친 음주는 간암, 위암등을 발생 시킵니다.<br>
						임신 중 음주는 기형아 출생 위험을 높입니다.<br>
					</li>
					<li>※주류 품목 구매 시 결제수단이 <span class="alert">제한</span>될 수 있으니 구매
						시 참고 바랍니다.
					</li>
					<li>
						<p class="alert">※비알콜 음료는 성인용 음료입니다.※</p> 비알콜 음료의 경우 알코올이 1%미만 소량
						함유되어 있으니 알코올에 취약한 임산부 등의 취식에 주의 바랍니다.
					</li>
				</ul>
				<div class="prod_info_group">
					<p class="kor_name" th:text="${product.product_kname}"></p>
					<p class="for_name" th:text="${product.product_ename}"></p>

					<div class="prod_info">
						<div class="prod">
							<div class="icon_content">
								<div class="icon">
									<i class="fas fa-wine-bottle"></i>
								</div>
								<div class="icon_info">
									<div class="info1">와인종류</div>
									<span class="info2" th:text="${product.type_name}"></span><span
										class="info2">와인</span>
								</div>
							</div>
							<div class="icon_content">
								<div class="icon">
									<i class="fas fa-wine-glass-alt"></i>
								</div>
								<div class="icon_info">
									<div class="info1">용량</div>
									<span class="info2" th:text="${product.capacity}"></span><span
										class="info2">ml</span>
								</div>
							</div>
							<div class="icon_content">
								<div class="icon">
									<i class="fas fa-beer"></i>
								</div>
								<div class="icon_info">
									<div class="info1">도수</div>
									<span class="info2" th:text="${product.abv}"></span><span
										class="info2">%</span>
								</div>
							</div>
						</div>
						<img class="detail_wine_img" th:src="${ product.thumbnail }" />
					</div>
				</div>
				<ul class="wine_category">
					<li><span class="category_title">국가/지역</span> <span
						class="category_content" th:text="${product.country_name}"></span><br>
					</li>
					<li><span class="category_title">와이너리</span>&nbsp;&nbsp; <span
						class="category_content" th:text="${product.winery}"></span><br>
					</li>
					<li><span class="category_title">포도품종</span>&nbsp;&nbsp; <span
						class="category_content" th:text="${product.variety_name}"></span><br>
					</li>
				</ul>


				<div class="information inf">
					<h3 class="wine_color">INFORMATION</h3>
					<p th:text="${product.information}"></p>
				</div>

				<div class="awards inf">
					<h3 class="wine_color">AWARDS</h3>
					<p th:text="${product.award}"></p>
				</div>

				<div class="tip inf">
					<h3 class="wine_color">TIP</h3>
					<p th:text="${product.tip}"></p>
				</div>
				<img class="wine_info_img" th:src="${ product.label_image }">

				<h3 class="product_h3">상품 필수정보</h3>
				<table class="essential_table" summary="상품 필수정보 보여주는 표">
					<colgroup>
						<col style="width: 29%">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th scope="row"><div class="in">품명 및 모델명</div></th>
							<td><div class="in">상세설명참조</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">식품의 유형</div></th>
							<td><div class="in">상세설명참조</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">생산자 및 소재지</div></th>
							<td><div class="in">상세설명참조 (제조국 : 칠레)</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">수입자</div></th>
							<td><div class="in">상세설명참조</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">제조연월일/유통기한</div></th>
							<td><div class="in">상세설명참조/상세설명참조</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">포장 단위별 내용물의 용량 (중량),
									수량, 크기</div></th>
							<td><div class="in">상세설명참조</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">주원료/함량(원료 원산지)</div></th>
							<td><div class="in">상세설명참조</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">영양성분</div></th>
							<td><div class="in">해당사항 없음</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">유전자 변형식품 여부</div></th>
							<td><div class="in">해당사항 없음</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">사용할 때 주의사항</div></th>
							<td><div class="in">상세설명참조</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">소비자 상담 관련 전화번호</div></th>
							<td><div class="in">상세설명참조</div></td>
						</tr>
						<tr>
							<th scope="row"><div class="in">수입식품안전관리특별법에 따른 수입신고
									필함 여부</div></th>
							<td><div class="in">수입식품안전관리특별법에 따른 수입신고를 필함</div></td>
						</tr>
					</tbody>
				</table>
				<!-- <div th:if="${#lists.isEmpty(review)}">  -->

				<h3 class="product_h3">고객리뷰</h3>
				<ul class="review">
					<div th:unless="${#lists.isEmpty(review)}">
						<li th:each="reviews : ${review}">
							<div class="review_info">
								<p class="review_nick" th:text="|${reviews.nickname}님|"></p>
								<p class="report_btn">
									<input type="hidden" class="reviewUserNo"
										th:value="${reviews.user_no}"> <input type="hidden"
										class="reviewNo" th:value="${reviews.review_no}">
									<button class="report">신고</button>
								</p>

							</div>


							<div class="star-ratings">
								<div class="star-ratings-fill space-x-2 text-lg commentStar">
									<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
								</div>
								<div class="star-ratings-base space-x-2 text-lg">
									<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
								</div>
								<input type="hidden" class="star" th:value="${reviews.star}">
							</div>



							<div th:if="${reviews.review_date == reviews.review_modify}">
								<span class="review_date"
									th:text="${#dates.format(reviews.review_date, 'yyyy-MM-dd hh:mm')}"></span>
							</div>

							<div th:unless="${reviews.review_date == reviews.review_modify}">
								<span class="review_date"
									th:text="|${#dates.format(reviews.review_modify, 'yyyy-MM-dd hh:mm')} (수정됨)|"></span>
							</div>


							<div class="review_content">
								<div class="review_text" th:text="${reviews.review_text}">
								</div>
								<div th:if="${reviews.review_image != null}">
									<div class="review_img">
										<img th:src="${reviews.review_image}">
									</div>
								</div>
							</div>
						</li>
					</div>
				</ul>

				<!-- 페이징 -->
				<div class="paging__area">
					<ul class="paging_ul">
						<li class="go_first">&lt;&lt;</li>
						<li class="go_prev">&lt;</li>
						<li class="pageNo current_page" th:if="${pi.page == page} and ${pi.endPage != 0}" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" ></li>
              			<li class="pageNo" th:unless="${pi.page == page} or ${pi.endPage == 0}" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" ></li>
						<li class="go_next">&gt;</li>
						<li class="go_end">&gt;&gt;</li>
					</ul>
				</div>
				<!-- 페이징 -->
			</div>

			<h3 class="product_h3">교환 및 반품 안내</h3>
			<table class="product_change">
				<colgroup>
					<col class="col_claim1">
					<col class="col_calim2">
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">
							<div class="in">교환/반품 신청기간</div>
						</th>
						<td>
							<div class="in">
								<ul>
									<li>단순변심 및 사이즈/색상 불만에 관련된 교환/반품 신청은 배송완료 후 7일 이내에 가능합니다.</li>
									<li>상품이 표기/광고내용과 다르거나 계약내용과 다른 경우 상품을 받으신 날부터 3개월 이내,</li>
									<li>또는 사실을 알게된 날(알 수 있었던 날)부터 30일 이내에 신청 가능합니다.</li>
								</ul>
							</div>
						</td>
					</tr>
					<tr>
					</tr>
					<tr>
						<th class="row">
							<div class="in">교환/반품 불가 안내</div>
						</th>
						<td>
							<div class="in">
								<ul>
									<li><span class="cdtl_tx_bold">전자상거래 등에서 소비자보호에 관한
											법률에 따라 다음의 경우 청약철회가 제한될 수 있습니다.</span></li>
									<li class="ty_space">고객님이 상품 포장을 개봉하여 사용 또는 설치 완료되어 상품의
										가치가 훼손된 경우<br>
									<span class="subinfo">(단, 내용 확인을 위한 포장 개봉의 경우는 예외)</span>
									</li>
									<li>고객님의 단순변심으로 인한 교환/반품 신청이 상품 수령한 날로부터 7일이 경과한 경우</li>
									<li>고객님의 사용 또는 일부 소비에 의해 상품의 가치가 훼손된 경우</li>
									<li>시간 경과에 따라 상품 등의 가치가 현저히 감소하여 재판매가 불가능한 경우</li>
									<li>기타, 상품의 교환, 환불 및 상품 결함 등의 보상은 소비자분쟁해결기준(공정거래위원회 고시)에
										의함</li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<p class="notice">자세한 내용은 고객센터로 문의 부탁드립니다.</p>
		</div>
	</div>
	</div>
	<div th:replace="common/footer :: footer"></div>
	
	
	
		<script th:inline="javascript">
			$(function(){
				/*<![CDATA[*/
			    var tasteGraph = /*[[${product.taste_graph}]]*/ '0/0/0/0';
				/*]]>*/
				
				var arr = tasteGraph.split("/");
				
				var sweetness =  $("input[name=sweetness]");
				sweetness.val(arr[0]);
				var acidity = $("input[name=acidity]");
				acidity.val(arr[1]);
				var body = $("input[name=body]");
				body.val(arr[2]);
				var tannin = $("input[name=tannin]")
				tannin.val(arr[3]);
				
				/* background: linear-gradient(to right, #83131E 0%, #83131E 50%, #c4c4c4 50%, #fff 100%); */
				
				sweetness.css('background', 'linear-gradient(to right, #83131E ' + sweetness.val() * 20 + '%, #c4c4c4 ' + sweetness.val() + '%, #c4c4c4 100%');
				acidity.css('background', 'linear-gradient(to right, #83131E ' + acidity.val() * 20 + '%, #c4c4c4 ' + acidity.val() + '%, #c4c4c4 100%');
				body.css('background','linear-gradient(to right, #83131E 0%, #83131E ' + body.val() * 20 + '%, #c4c4c4 ' + body.val() + '%, #c4c4c4 100%)');
				tannin.css('background','linear-gradient(to right, #83131E 0%, #83131E ' + tannin.val() * 20 + '%, #c4c4c4 ' + tannin.val() + '%, #c4c4c4 100%)');
			});
		</script>
	
				
			

		<script>
		
		
			var header = $("meta[name='_csrf_header']").attr('content');
			var token = $("meta[name='_csrf']").attr('content');
		 	
			$(function() {
				star();
				
			})
	
	
			
			$(document).bind('ready ajaxComplete', function(){
				
				star();
				}); 
			 
			
			function submit(type)  {
				let product_no = document.querySelector("#product_no").value;
				let count = document.getElementById('count').innerText;
		        let price = document.getElementById("tprice").innerText;
		   
				console.log(product_no);
				console.log(count);
				console.log(price);
				
				var param = {};
				param.product_no = product_no;
				param.cart_count = count;
				// param.price = price;
				
				console.log(param);
	
			if(type === 'cart'){
			 	$.ajax({
					url : "/cart/add",
					beforeSend: function(xhr){
				        xhr.setRequestHeader(header, token);
				    },
					data: JSON.stringify(param),
					contentType : "application/json; charset=utf-8",
					type : "POST",
					success : function(data){
						console.log("확인 : " + data);
						
						if(typeof data == 'string' && data.includes("loginForm_header")){
							location.href="/member/login";
							return;
						}
						
						if(data.msg == "등록 성공"){
							var confirmflag = confirm("장바구니에 등록되었습니다. 장바구니로 이동하시겠습니까?");
							
							if(confirmflag){
								location.href="/cart/list";
					           }
							
						} else{
							
							alert(data.msg);
						}
					},
					error : function(e){
						console.log(e);
					}
				});
			} else if(type === 'buy'){
				$.ajax({
					url : "/cart/add",
					beforeSend: function(xhr){
				        xhr.setRequestHeader(header, token);
				    },
					data: JSON.stringify(param),
					contentType : "application/json; charset=utf-8",
					type : "POST",
					success : function(data){
						console.log("확인 : " + data);
						
						if(typeof data == 'string' && data.includes("loginForm_header")){
							location.href="/member/login";
							return;
						}
						
						if(data.msg == "등록 성공" || data.msg == "장바구니에 이미 있는 상품입니다."){
							location.href="/cart/list";
						}
					},
					error : function(e){
						console.log(e);
					}
				});
			}
		}
	
		</script>






			<!-- 찜 등록 삭제 -->
			<script>
				const wish_no = document.querySelector("#wish_no").value;
			    const heart = document.getElementsByClassName("fa-heart")[0];
			    let product_no = document.querySelector("#product_no").value;
			 
				if(wish_no == 0){
					console.log('비로그인이거나 위시리스트가 없는것');
					heart.style.color= "black";
				}else{
					console.log('로그인면서 위시리스트가 있는것');
					heart.style.color= "red";
						
				}
			
			   function wishbutton(){
			
			        if(heart.style.color == "red"){
			        	 $.ajax({
			 				url : "/wish/delete",
			 				beforeSend: function(xhr){
			 			        xhr.setRequestHeader(header, token);
			 			    },
			 				data: JSON.stringify(product_no),
			 				contentType : "application/json; charset=utf-8",
			 				type : "POST",
			 				success : function(data){
			 					console.log(data);
			 					
			 					if(typeof data == 'string' && data.includes("loginForm_header")){
									location.href="/member/login";
									return;
								}
			
								if(data.msg == "찜 삭제되었습니다."){
									heart.style.color= "black";
			 					}
			 				},
			 				error : function(e){
			 					console.log(e);
			 					return;
			 				}
			 			});	
			            heart.style.color= "black";
			        } else{
			            $.ajax({
							url : "/wish/add",
							beforeSend: function(xhr){
						        xhr.setRequestHeader(header, token);
						    },
							data: JSON.stringify(product_no),
							contentType : "application/json; charset=utf-8",
							type : "POST",
							success : function(data){
								console.log(data);
								
								if(typeof data == 'string' && data.includes("loginForm_header")){
									location.href="/member/login";
									return;
								}
			
								if(data.msg == "찜 등록되었습니다."){
									heart.style.color= "red";
			 					}
							},
							error : function(e){
								console.log(e);
								return;
							}
						});	 
			        }
			    }	

		</script>
	
	
	
	
	
		<!-- 와인 수량 변경 -->
		<script th:inline="javascript">
 
        function count(type)  {
            // 결과를 표시할 element
            const resultElement = document.getElementById('count');
            const product_count = Number(document.getElementById('product_count').value);
            const tpElement = document.getElementById("tprice");
          
            // 현재 화면에 표시된 값
            let number = Number(resultElement.innerText);
            
            console.log("구매원하는 수량 : " + number);
            console.log("재고수량 : " + product_count);
            

            let price = /*[[${product.sale_price}]]*/  'default';

  
            var total_price = 0;
            
            // 더하기/빼기
            if(type === "plus") {
            	console.log('plus');
            	if((number) == product_count){
					alert('재고가 부족합니다.');
					return;
            	}

                number = parseInt(number) + 1;

            	total_price = price * number;
            	
                
            }else if(type === "minus")  {
                if(number == 1){
                    alert('1개이상 주문해주세요.');
                    total_price = price;
                } else{
                    number = parseInt(number) - 1;
                   	total_price = (price * number);                    	
                }
            }

            // 결과 출력
            resultElement.innerText = number;
            tpElement.innerText = total_price.toString()
            .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }
    </script>




		<script>
      	var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

		 $(function() {
			star();
			
		})
 
		
		
		endPage = $(".pageNo").last().val();
		clickPage = 1;
      	
		
		
 		var productNo = document.querySelector("#product_no").value;
	
		console.log("asdasd : " + productNo);
 
		// 페이지 <li> 눌렀을 때
		$(document).on("click", ".pageNo", function(){
			var page = $(this).val();
	
			clickPage = page;
			
			ajaxPaging(page, productNo);
			
		});
		
		// "<<" 버튼
		$(document).on("click", ".go_first", function() {
			clickPage = 1;
			var page = 1;

			
			clickPage = page;
			
			ajaxPaging(page, productNo);
			

			
		});
		
		
		// ">>" 버튼
		$(document).on("click", ".go_end", function() {
			clickPage = endPage;
			var page = endPage;
			
			ajaxPaging(page, productNo);

		});
		
		// "<" 버튼
		$(document).on("click", ".go_prev", function() {
			if(clickPage != 1) {
				var page = clickPage - 1;
				clickPage = clickPage - 1;
				
				ajaxPaging(page, productNo);
			}
			
			
		});
		
		// ">" 버튼
		$(document).on("click", ".go_next", function() {
			if(clickPage != endPage) {
				var page = clickPage + 1;
				clickPage = clickPage + 1;
				
				ajaxPaging(page, productNo);
				
			}
			
		});
		
	

	function ajaxPaging(page, productNo) {
			
			$.ajax({
				url : "/purchase/reviewlist",
				data : {page : page, productNo : productNo},
				type : "post",
				success : function(data) {
					var reviewList = data.review;
					var pi = data.pi;
					
					endPage = pi.endPage;
				
					console.log("reviewList : " + reviewList);
					let html = '';

						var pagingHTML = '<li class="go_first">&lt;&lt;</li><li class="go_prev">&lt;</li>';
						
						for(var i = parseInt(pi.startPage); i <= parseInt(pi.endPage) ; i++) {
							
							pagingHTML += '<li class="pageNo" value="' + i + '">' + i +'</li>';
						}  
						
						pagingHTML += '<li class="go_next">&gt;</li><li class="go_end">&gt;&gt;</li>';	
						$(".paging_ul").html(pagingHTML);
						

						
						$.each(reviewList, function(index, item){


							let date = '';
							
							if(item.review_date == item.review_modify){
								date = item.review_date ;
							} else{
								date = item.review_modify + '(수정됨)';
							}
							
							
							
							
							 html += '<div><li><div class="review_info"><p class="review_nick">' + item.nickname + '님' 
				                   + '</p><p class="report_btn"><input type="hidden" class="reviewUserNo" value="' + item.user_no + '">'
			                       + '<input type="hidden" class="reviewNo" value="' + item.review_no + '">'
			                       + '<button class="report">신고</button></p></div><div class="star-ratings">'
			   					   + '<div class="star-ratings-fill space-x-2 text-lg commentStar"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>'
								   + '</div><div class="star-ratings-base space-x-2 text-lg"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>'
								   + '<input type="hidden" class="star" value="' + item.star + '"></div>'
								   + '<span class="review_date">'+date+'</span>'
								   + '<div class="review_content"><div class="review_text">' + item.review_text + '</div><div class="review_img">'
								   + '<img src="' + item.review_image + '"></div></div></li></div>';
							$(".review").html(html);
							
							
						 });
						
						
						$('li[value='+ page + ']').addClass("current_page");
					
				},
				error : function(e) {
					console.log(e);
				}			
			});
		
		}
		
		
      	</script>


		<script th:inline="javascript">

    	// 상품의 모든 댓글 개수
      	var commentCount = [[${allReviewList.size}]]; 
      	
      	
      	console.log("commentCount : "  + commentCount);
      	
      	
      	// 상품의 모든 평점
      	var allstar = 0.0;
      	
      	[# th:each="star, stat : ${allReviewList}"]
      	
        var star[[${stat.count}]] = [[${star}]];
      	
      	
      	allstar = allstar + [[${star.star}]];
      	console.log(star[[${stat.count}]]);
      	
        [/]
      
		console.log("모든 평점 : " + allstar);

   
        document.querySelector(".commentCount").innerText = commentCount + "건";
    

        var allStarValueAvg = Number(allstar / commentCount);
        console.log("값 : " + allStarValueAvg);
        
        
        document.querySelector(".allStar").style.width = allStarValueAvg*20 + '%';
        
        if(commentCount == 0){
        	document.querySelector(".allStarAvg").innerText = '(0.0)';
        } else{
            document.querySelector(".allStarAvg").innerText = '(' + (allStarValueAvg).toFixed(2) + ')';
        }
         
        
	
		</script>


			<script>

	        	
	        	$(document).on('click', '.report',function(){
        		  var userNo = (this.closest("li").querySelector(".reviewUserNo").value);
        		  var reviewNo = (this.closest("li").querySelector(".reviewNo").value);
	        	  reviewReport(userNo,reviewNo);
	        	});
	        	
	        /* 리뷰 신고 팝업창 */
	      	function reviewReport(userNo,reviewNo){
	        	  window.open("/purchase/reviewReport?userNo=" + userNo + "&reviewNo=" + reviewNo, "_blank","toolbar=yes,menubar=yes,width=500, height=630");  
	      	}
	        
    		</script>

			<script type="text/javascript">
                
                function star(){
                
                /* 댓글 별점 부여 로직 */
                var stars = document.querySelectorAll(".commentStar");
                var starValues = document.querySelectorAll(".star");
				
                var starValueArray = new Array;
               	var starArray = new Array;
                var length = starValues.length;
                
                for(const starValue of starValues){
                	starValueArray.push(starValue.value * 20);	
                }
 
                for(const star of stars){
                	starArray.push(star);

                }

                for(var i = 0; i<length; i++){
                	var val = starValueArray[i];
                	starArray[i].style.width = val + '%';
                }
                } 
                </script>

	
	
</body>
</html>