<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/purchase/wine_list.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
</head>
<body>
	<header th:include="common/header :: header"></header>
	<div th:include="common/footer :: goUp"></div>
	<div class="weather" th:include="recommendWine/weather"></div>
	<div class="wrapper">
		<div class="wine_list">
			<form id="wineListForm">
				<div class="search">
					<select name="type" id="type">
						<option value="">와인종류</option>
						<option value="레드">레드</option>
						<option value="화이트">화이트</option>
						<option value="로제">로제</option>
						<option value="주정강화">주정강화</option>
						<option value="스파클링">스파클링</option>
						<option value="etc">기타</option>
					</select><select name="price" id="price">
						<option value="">가격대</option>
						<option value="10000">1만원이하</option>
						<option value="30000">1만~3만</option>
						<option value="50000">3만~5만</option>
						<option value="100000">5만~10만</option>
						<option value="200000">10만~20만</option>
						<option value="300000">20만~30만</option>
					</select><select name="country" id="country">
						<option value="">국가</option>
						<option value="프랑스">프랑스</option>
						<option value="이탈리아">이탈리아</option>
						<option value="스페인">스페인</option>
						<option value="포르투갈">포르투갈</option>
						<option value="독일">독일</option>
						<option value="미국">미국</option>
						<option value="뉴질랜드">뉴질랜드</option>
						<option value="호주">호주</option>
						<option value="칠레">칠레</option>
						<option value="아르헨티나">아르헨티나</option>
						<option value="남아프리카 공화국">남아프리카 공화국</option>
						<option value="기타국가">기타 국가</option>
					</select><select name="variety" id="variety">
						<option value="">포도품종</option>
						<option value="카베르네 소비뇽">카베르네 소비뇽</option>
						<option value="메를로">메를로</option>
						<option value="카르메네르">카르메네르</option>
						<option value="시라/쉬라즈">시라/쉬라즈</option>
						<option value="피노 누아">피노 누아</option>
						<option value="말벡">말벡</option>
						<option value="산지오베제">산지오베제</option>
						<option value="템프라니요">템프라니요</option>
						<option value="그르나슈">그르나슈</option>
						<option value="까베르네 프랑">까베르네 프랑</option>
						<option value="코르비나">코르비나</option>
						<option value="샤르도네">샤르도네</option>
						<option value="소비뇽 블랑">소비뇽 블랑</option>
						<option value="리슬링">리슬링</option>
						<option value="세미용">세미용</option>
						<option value="베르데호">베르데호</option>
						<option value="게부르츠트라미너">게부르츠트라미너</option>
						<option value="블랜딩">블랜딩</option>
						<option value="기타">기타</option>
					</select> <input class="wine_name" type="text" id="wine_name" value=""><input
						type="button" class="winebtn" value="와인검색">
				</div>
			</form>

			<form id="wineListForm2" th:action="@{/purchase/wine_list}"
				method="get">
				<div class="search2">
					<select id="wineSort" name="sortStandard">
						<option value="popular" th:selected="${ sortStandard }=='popular'">판매순</option>
						<option value="latest" th:selected="${ sortStandard }=='latest'">최신순</option>
						<option value="hprice" th:selected="${ sortStandard }=='hprice'">높은가격순</option>
						<option value="lprice" th:selected="${ sortStandard }=='lprice'">낮은가격순</option>
					</select>

				</div>
			</form>

			<ul class="product_list">
				<li th:each="product : ${wineList}">
					<div class="product_explain">
						<div class="product_img">
							<a th:href="@{'/purchase/' + ${product.product_no} }"> <img
								th:src="${product.thumbnail}">
							</a>
						</div>
						<div class="product_explain">
							<div class="product_KoreaName" th:text="${product.product_kname}"></div>
							<div class="product_foreignName"
								th:text="${product.product_ename}"></div>
							<span class="product_price"
								th:text="${#numbers.formatInteger(product.sale_price,0,'COMMA')}"></span>&nbsp;원<br>
						</div>
					</div>
				</li>
			</ul>

			<!-- 페이징 -->
			<div class="paging__area">
				<ul class="paging_ul">
					<li class="go_first">&lt;&lt;</li>
					<li class="go_prev">&lt;</li>
					<li class="pageNo current_page" th:if="${pi.page == page} and ${pi.endPage != 0}" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" ></li>
               		<li class="pageNo" th:unless="${pi.page == page} or ${pi.endPage == 0}" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" ></li>
					<li class="go_next">&gt;</li>
					<li class="go_end">&gt;&gt;</li>
				</ul>
			</div>
			<!-- 페이징 -->
		</div>
	</div>

	<script>
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

		
		
		endPage = $(".pageNo").last().val();
		clickPage = 1;
		
		
		// 정렬 select, 검색 버튼 눌렀을 때
		$(document).on("click", ".winebtn", function(){
			var page = 1;
			var sortStandard = $("select[name=sortStandard]").val();
			var type = $("#type option:selected").val();
			var price = $("#price option:selected").val();
			var country = $("#country option:selected").val();
			var variety = $("#variety option:selected").val();
			var name = document.querySelector("#wine_name").value;
			
			ajaxPaging(page, sortStandard, type, price, country, variety, name);
			
		});
		
		
		// 정렬 select change 됐을 때
		$(document).on("change", "select[name=sortStandard]", function(){
			var page = 1;
			var sortStandard = $("select[name=sortStandard]").val();
			
			var type = $("#type option:selected").val();
			var price = $("#price option:selected").val();
			var country = $("#country option:selected").val();
			var variety = $("#variety option:selected").val();
			var name = document.querySelector("#wine_name").value;

			
			ajaxPaging(page, sortStandard, type, price, country, variety, name);
		});

		
		// 페이지 <li> 눌렀을 때
		$(document).on("click", ".pageNo", function(){
			var page = $(this).val();
			var sortStandard = $("select[name=sortStandard]").val();
			
			var type = $("#type option:selected").val();
			var price = $("#price option:selected").val();
			var country = $("#country option:selected").val();
			var variety = $("#variety option:selected").val();
			
			var name = document.querySelector("#wine_name").value;
			
	
			clickPage = page;
			
			ajaxPaging(page, sortStandard, type, price, country, variety, name);
			
		});
		
		// "<<" 버튼
		$(document).on("click", ".go_first", function() {
			clickPage = 1;
			var page = 1;
			var sortStandard = $("select[name=sortStandard]").val();
			
			var type = $("#type option:selected").val();
			var price = $("#price option:selected").val();
			var country = $("#country option:selected").val();
			var variety = $("#variety option:selected").val();
			var name = document.querySelector("#wine_name").value;
			
			
			clickPage = page;
			
			ajaxPaging(page, sortStandard, type, price, country, variety, name);
			

			
		});
		
		
		// ">>" 버튼
		$(document).on("click", ".go_end", function() {
			clickPage = endPage;
			var page = endPage;
			var sortStandard = $("select[name=sortStandard]").val();
			
			var type = $("#type option:selected").val();
			var price = $("#price option:selected").val();
			var country = $("#country option:selected").val();
			var variety = $("#variety option:selected").val();
			var name = document.querySelector("#wine_name").value;
			
			
			ajaxPaging(page, sortStandard, type, price, country, variety, name);
			

		});
		
		// "<" 버튼
		$(document).on("click", ".go_prev", function() {
			if(clickPage != 1) {
				var page = clickPage - 1;
				clickPage = clickPage - 1;
				var sortStandard = $("select[name=sortStandard]").val();
				
				var type = $("#type option:selected").val();
				var price = $("#price option:selected").val();
				var country = $("#country option:selected").val();
				var variety = $("#variety option:selected").val();
				var name = document.querySelector("#wine_name").value;
		
				
				ajaxPaging(page, sortStandard, type, price, country, variety, name);
			}
			
			
		});
		
		// ">" 버튼
		$(document).on("click", ".go_next", function() {
			if(clickPage != endPage) {
				var page = clickPage + 1;
				clickPage = clickPage + 1;
				var sortStandard = $("select[name=sortStandard]").val();
				
				var type = $("#type option:selected").val();
				var price = $("#price option:selected").val();
				var country = $("#country option:selected").val();
				var variety = $("#variety option:selected").val();
				var name = document.querySelector("#wine_name").value;
				
				
				ajaxPaging(page, sortStandard, type, price, country, variety, name);
				
			}
			
		});
		
		
		
		
		
		
		
		function ajaxPaging(page, sortStandard, type, price, country, variety, name) {
			
			$.ajax({
				url : "/purchase/list",
				data : {page : page, sortStandard: sortStandard, type: type, price: price, country: country, variety: variety, name: name},
				type : "post",
				success : function(data) {
					var productList = data.productList;
					var pi = data.pi;
					var sortStandard = data.sortStandard;
					var type = data.type;
					var price = data.price;
					var country = data.country;
					var variety = data.variety;
					var name = data.name;
					
					endPage = pi.endPage;
					
					console.log("page : " + page);
					console.log("clickPage : " + clickPage);
					let html = '';
					
					if(productList.length == 0) {
						alert("해당 상품은 존재하지 않습니다.");
						location.reload();
					} else{
						console.log(productList);
						var pagingHTML = '<li class="go_first">&lt;&lt;</li><li class="go_prev">&lt;</li>';
						
						for(var i = parseInt(pi.startPage); i <= parseInt(pi.endPage) ; i++) {
							
							pagingHTML += '<li class="pageNo" value="' + i + '">' + i +'</li>';
						}  
						
						pagingHTML += '<li class="go_next">&gt;</li><li class="go_end">&gt;&gt;</li>';	
						$(".paging_ul").html(pagingHTML);
						
						
						$.each(productList, function(index, item){
							 html += '<li><div class="product_explain"><div class="product_img"><a href="/purchase/' + item.product_no + '"><img src="' + item.thumbnail + '"></a></div>'
							+ '<div class="product_explain"><div class="product_KoreaName"}>' + item.product_kname + '</div><div class="product_foreignName">'
							+ item.product_ename + '</div><span class="product_price">'+ item.sale_price + '</span>&nbsp;원<br></li>';
							$(".product_list").html(html);
						 });
							
						
						$('li[value='+ page + ']').addClass("current_page");
					}
				},
				error : function(e) {
					console.log(e);
				}			
			});
		
		}
		
		</script>



	<footer th:replace="common/footer :: footer"></footer>
</body>
</html>