<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>FAQ</title>
    <script>
	const successMessgae = '[[${ message }]]';
	
	if(successMessgae){
		alert(successMessgae);
	}
	</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/common/common.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <link href="/css/faq/list.css" rel="stylesheet">
</head>
<body>
	<header th:include="common/header :: header"></header>
    <div class="wrapper">
        <nav class="snb" th:replace="/common/adminSubmenu.html"></nav>
        <script>
        $(document).ready(function () { 
            $('.faq').css('background-color', 'rgba(131, 19, 30, 0.2)'); 
            $('.faq').css('color', 'rgb(131,19,30)'); 
            $('.faq').css('font-weight', 'bold'); 
        });
        </script>
        <div class="contents">
            <div class="inner">
                <div class="headerArea">    
                    <h3 style="font-size: 24px; margin-bottom: 15px;">FAQ 관리</h3>
                    <button type="button" class="insertBtn">등록</button>              
                </div>
                <hr style="padding-right: 130px;">

                <div class="list_area">
                    <div class="btnArea">
                        <button type="button" class="deleteBtn">선택 삭제</button>
                        <div>
                            <input type="search" class="searchBox" name="searchValue" placeholder="제목 검색">
                            <button type="button" class="searchBtn">검색</button>
                        </div>
                    </div>

                    <table>
                    	<thead>
	                        <tr>
	                            <th><input type="checkbox" onclick="selectAll()" id="checkBox"></th>
	                            <th>번호</th>
	                            <th>제목</th>
	                            <th>내용</th>
	                        </tr>
                        </thead>
                        <tbody id="fList">
	                        <tr th:each="f : ${ faqList }" class="trFaq">
	                            <td onclick="event.cancelBubble=true"><input name="chk" type="checkbox" th:value="${ f.faqNo }"></td>
	                            <td th:text="${ f.faqNo }"></td>
	                            <td th:text="${ f.faqTitle }" class="fTitle"></td>
	                            <td th:text="${ f.faqContent }" class="listContent fContent"></td>
	                        </tr>
                        </tbody>
                    </table>
                </div>    

				<!-- 등록 모달 -->
                <div id="modal" class="modal-overlay">
                    <div class="modal-window">
                        <div class="close-area">X</div>
                        <div class="title">
                            <h4>FAQ 등록</h4>
                        </div>
                        
                        <form id="faqResgistForm" th:action="@{/faq/regist}" method="post">
                        <input type="hidden" name="user_no" th:value="${ userNo }">
                        <div class="content">
                            <hr style="color: #C4C4C4;">
                            <label>제목</label>
                            <input type="text" placeholder="제목을 입력해주세요." name="title" maxlength="30">
                            <hr style="color: #C4C4C4;">
                            <div class="innerContent">
                            	<div><label>내용</label></div>
                            	<div><textarea rows="9" cols="80" placeholder="내용을 입력해주세요." 
                            		name="content" maxlength="500" style="resize: none"></textarea></div>
                            </div>
                            <hr style="color: #C4C4C4;">
                            <button type="button" class="cancleBtn">취소</button>
                            <button type="submit" class="registBtn">등록</button>
                        </div>
                        </form>
                    </div>

                    <div class="modal_layer"></div>
                </div>
                
                <!-- 조회/수정 모달 -->
                <div id="modal2" class="modal-overlay">
                    <div class="modal-window">
                        <div class="close-area">X</div>
                        <div class="title">
                            <h4>FAQ 수정</h4>
                        </div>
                        <div class="dateDiv">
                        	<span class="registDate"></span>
                        	<span class="updateDate"></span>
                        </div>
                        <form id="faqUpdateForm" th:action="@{/faq/update}" method="post">
                        <input type="hidden" name="faq_no" id="faqNo">
                        
                        <div class="content">
                            <hr style="color: #C4C4C4;">
	                           	<label>제목</label>
	                            <input type="text" name="title" id="modalTitle" maxlength="100">
                            <hr style="color: #C4C4C4;">
                            <div class="innerContent">
	                            <div><label>내용</label></div>
	                            <div><textarea rows="7" cols="80" name="content" id="modalContent" 
	                            		maxlength="500" style="resize: none"></textarea></div>
	                        </div>    		
                            <hr style="color: #C4C4C4;">
                            <button type="button" class="cancleBtn">취소</button>
                            <button type="submit" class="updateBtn">수정</button>
                        </div>
                        </form>
                    </div>

                    <div class="modal_layer"></div>
                </div>
            </div>
            
            <!-- 페이징 -->
 			<div class="paging__area">
			 	<ul class="paging_ul">
					<li class="go_first">&lt;&lt;</li>
					<li class="go_prev">&lt;</li>
					<li class="pageNo current_page" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" th:if="${pi.page == page} and ${pi.endPage != 0}"></li>
					<li class="pageNo" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" th:unless="${pi.page == page} or ${pi.endPage == 0}"></li>
					<li class="go_next">&gt;</li>
					<li class="go_end">&gt;&gt;</li>
				</ul> 
			</div>
 			<!-- 페이징 -->
        </div>
    </div>
    <footer th:include="common/footer :: footer"></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
	    var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
	    
	    // 등록 모달창
        $(document).on("click",".insertBtn", function(){
            $("#modal").css("display", "block");
        });

        $(document).on("click",".close-area", function(){
            $("#modal").css("display", "none");
        });

        $(document).on("click",".cancleBtn", function(){
            $("#modal").css("display", "none");
        });

        // 조회/수정 모달창
        $(document).on("click",".trFaq", function(){
            $("#modal2").css("display", "block");
        });

        $(document).on("click",".close-area", function(){
            $("#modal2").css("display", "none");
        });

        $(document).on("click",".cancleBtn", function(){
            $("#modal2").css("display", "none");
        });
 
        // 목록 내용 말줄임 처리
       $(".listContent").each(function(){
        	var content = $(this).text();
        	
        	if(content.length > 40){
            	content = content.substr(0, 40) + '...';
            	$(this).text(content);
    	    } else {
    	    	$(this).text(content);
    	    }
        });
       	 
     	// 체크박스 전체 체크
        function selectAll(){
            if($("#checkBox").is(":checked")){
       			$("input[type='checkbox']").prop("checked", true);
       		} else {
       			$("input[type='checkbox']").prop("checked", false);
       		}
        }
     	
    	// 선택삭제
        $(document).on("click",".deleteBtn", function(){
        	if(confirm("정말 삭제하시겠습니까?")){
		        var checkArr = new Array();
		        
		        $("input[name=chk]:checked").each(function(){
		        	checkArr.push(this.value);
		        })
		        		        
		        $.ajax({
		        	url : "/faq/delete",
		        	type : "post",
		        	data : {checkArr : checkArr},
		        	success : function(data){
		        		console.log(data);
		        		if(data == "success")
		        			alert("정상적으로 삭제되었습니다.");
		        		else
		        			alert("삭제에 실패하였습니다.");
		        		
		        		location.reload();
		        	},
		        	error : function(e){
		        		console.log(e);
		        	}
		        });
        	}
        });
    	
    	// 날짜포맷
    	function dateFormat(date){
        	let month = date.getMonth() + 1;
        	let day = date.getDate();
            
            month = month >= 10 ? month : '0' + month;
            day = day >= 10 ? day : '0' + day;
            
            return date.getFullYear() + '-' + month + '-' + day;
        }
    	
    	// 상세보기
    	$(document).on('click', "tbody tr:not(1)", function(){
    		console.log(this);
    		var faqNo = $(this).children().eq(1).text();
    		
    		$.ajax({
    			url : "/faq/detail",
    			type : "post",
    			data : {faqNo : faqNo},
    			success : function(data){
    				
    				let registDate = new Date(data.createDate);
    				
    				$("#modalTitle").val(data.faqTitle);
    				$("#modalContent").val(data.faqContent);
    				$("#faqNo").val(data.faqNo);
    				$(".registDate").text("등록일 : " + dateFormat(registDate));
    				
    				if(data.updateDate != null){
    					let updateDate = new Date(data.updateDate);
    					$(".updateDate").text(", 수정일 : " + dateFormat(updateDate));
    				} else {
    					$(".updateDate").text("");
    				}
    			},
    			error : function(e){
    				console.log(e);
    			}
    		});
    	});
    	
    	// 제목 검색
    	$(document).on("click",".searchBtn", function(){
			var searchValue = $("input[name=searchValue]").val();
			
			ajaxPaging(1, searchValue);
		});
    	
    	endPage = $(".pageNo").last().val();
		clickPage = 1;
		
		// 페이지 <li> 눌렀을 때
		$(document).on("click", ".pageNo", function(){
			var page = $(this).val();
			clickPage = page;
			var searchValue = $("input[name=searchValue]").val();
 	
			ajaxPaging(page, searchValue);
		});
		
		// "<<" 버튼
		$(document).on("click", ".go_first", function() {
			clickPage = 1;
			var page = 1;
			var searchValue = $("input[name=searchValue]").val();
			
			ajaxPaging(page, searchValue);
		});

		// ">>" 버튼
		$(document).on("click", ".go_end", function() {
			clickPage = endPage;
			var page = endPage;
			var searchValue = $("input[name=searchValue]").val();
			
			ajaxPaging(page, searchValue);
		});
		
		// "<" 버튼
		$(document).on("click", ".go_prev", function() {
			if(clickPage != 1) {
				var page = clickPage - 1;
				clickPage = clickPage - 1;
				var searchValue = $("input[name=searchValue]").val();
				
				ajaxPaging(page, searchValue);
			}	
		});
		
		// ">" 버튼
		$(document).on("click", ".go_next", function() {
			if(clickPage != endPage) {
				var page = clickPage + 1;
				clickPage = clickPage + 1;
				var searchValue = $("input[name=searchValue]").val();
				
				ajaxPaging(page, searchValue);
			}	
		});
		
		// 페이징 전송
		function ajaxPaging(page, searchValue) {
			
			$.ajax({
				url : "/faq/paging",
				data : {page : page,
						searchValue : searchValue},
				type : "post",
				success : function(data) {
	
					var faqList = data.faqList;
					var pi = data.pi;
					
					endPage = pi.endPage;
					
					tableHTML = '';
					if(faqList.length != 0) {
						
						var pagingHTML = '<li class="go_first">&lt;&lt;</li><li class="go_prev">&lt;</li>';					
					
						for(var i = parseInt(pi.startPage); i <= parseInt(pi.endPage) ; i++) {
							pagingHTML += '<li class="pageNo" value="' + i + '">' + i +'</li>';
						}  
						
						pagingHTML += '<li class="go_next">&gt;</li><li class="go_end">&gt;&gt;</li>';	
						$(".paging_ul").html(pagingHTML);
						
						$.each(faqList, function(index, item){
        					
							tableHTML += "<tr  class='trFaq'><td onclick='event.cancelBubble=true'><input name='chk' type='checkbox' value='" + item.faqNo + "'></td>"
		                     		   + "<td>" + item.faqNo + "</td>"
		                     		   + "<td class='fTitle'>" + item.faqTitle + "</td>"
		                     		   + "<td class='listContent fContent'>" + item.faqContent + "</td></tr>";
	           		
			 					$("#fList").html(tableHTML);
			 					
			 					$(".listContent").each(function(){
			 			        	var content = $(this).text();
			 			        	
			 			        	if(content.length > 40){
			 			            	content = content.substr(0, 40) + '...';
			 			            	$(this).text(content);
			 			    	    } else {
			 			    	    	$(this).text(content);
			 			    	    }
			 			        });
            			});
					} else {
        				tableHTML += "<tr><td colspan='4' rowspan='5'>검색 결과가 존재하지 않습니다.</td></tr>"
        						   + "<tr></tr><tr></tr><tr></tr><tr></tr>";
        				$("#fList").html(tableHTML);
        			}
							 
					$('li[value='+ page + ']').addClass("current_page"); 
				},
				error : function(e) {
					console.log(e);
				}			
			});
		}
    	
        
    </script>
</body>
</html>