<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>FAQ</title>
    <script>
	const successMessgae = '[[${ message }]]';
	
	if(successMessgae){
		alert(successMessgae);
	}
	</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/common/common.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <link href="/css/faq/user.css" rel="stylesheet">
</head>
<body>
	<header th:include="common/header :: header"></header>
    <div class="wrapper">
    	<div class="weather" th:include="recommendWine/weather"></div>
        <div class="contents">
            <div class="inner">
                <div class="headerArea">    
                    <h3 style="font-size: 24px; margin-bottom: 15px;">FAQ</h3>
                </div>
                <hr style="padding-right: 130px;">

                <div class="list_area">
                    <div class="btnArea">
                    	<input type="search" class="searchBox" name="searchValue" placeholder="제목 검색">
                    	<button type="button" class="searchBtn">검색</button>
                    </div>

                    <table>
                    	<thead>
	                        <tr>
	                            <th>번호</th>
	                            <th>제목</th>
	                            <th>내용</th>
	                        </tr>
                        </thead>
                        <tbody id="fList">
	                        <tr th:each="f : ${ faqList }" class="trFaq">
	                            <td th:text="${ f.faqNo }"></td>
	                            <td th:text="${ f.faqTitle }"></td>
	                            <td th:text="${ f.faqContent }" class="listContent"></td>
	                        </tr>
                        </tbody>
                    </table>
                </div>    

                <!-- 조회 모달 -->
                <div id="modal" class="modal-overlay">
                    <div class="modal-window">
                        <div class="close-area">X</div>
                        <div class="title">
                            <h4>FAQ 조회</h4>
                        </div>
                        <div class="content">
                            <hr style="color: #C4C4C4;">
	                           	<label>제목</label>
	                            <input type="text" name="title" id="modalTitle" maxlength="100" readonly="readonly">
                            <hr style="color: #C4C4C4;">
                            <div class="innerContent">
	                            <div><label>내용</label></div>
	                            <div><textarea rows="6" cols="70" name="content" id="modalContent" 
	                            		maxlength="500" style="resize: none" readonly="readonly"></textarea></div>
	                        </div>    		
                            <hr style="color: #C4C4C4;">
                            <button type="button" class="cancleBtn">닫기</button>
                        </div>
                    </div>

                    <div class="modal_layer"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="common/footer :: goUp"></div>
    <footer th:include="common/footer :: footer"></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
	    var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
	    
		// 모달창 이벤트
        $(document).on("click",".trFaq", function(){
            $("#modal").css("display", "block");
        });

        $(document).on("click",".close-area", function(){
            $("#modal").css("display", "none");
        });

        $(document).on("click",".cancleBtn", function(){
            $("#modal").css("display", "none");
        });
 
        // 목록 내용 말줄임 처리
       $(".listContent").each(function(){
        	var content = $(this).text();
        	
        	if(content.length > 50){
            	content = content.substr(0, 50) + '...';
            	$(this).text(content);
    	    } else {
    	    	$(this).text(content);
    	    }
        });
 
    	// 제목 검색
    	$(document).on("click",".searchBtn", function(){
			var searchValue = $("input[name=searchValue]").val();
						
			$.ajax({
				url : "/faq/search",
				type : "post",
				data : {searchValue : searchValue},
				success : function(data){
					tableHTML = '';
					
					if(data.length != 0) {
        				$.each(data, function(index, item){
        					
        					tableHTML += "<tr  class='trFaq'><td>" + item.faqNo + "</td>"
                            		   + "<td>" + item.faqTitle + "</td>"
                            		   + "<td class='listContent'>" + item.faqContent + "</td></tr>";
   		           		
        					$("#fList").html(tableHTML);
        					
        					$(".listContent").each(function(){
        			        	var content = $(this).text();
        			        	
        			        	if(content.length > 40){
        			            	content = content.substr(0, 40) + '...';
        			            	$(this).text(content);
        			    	    } else {
        			    	    	$(this).text(content);
        			    	    }
        			        });
            			});	
        			} else {
        				tableHTML += "<tr><td colspan='4' rowspan='5'>검색 결과가 존재하지 않습니다.</td></tr>"
        						   + "<tr></tr><tr></tr><tr></tr><tr></tr>";
        				$("#fList").html(tableHTML);
        			}
				},
				error : function(e){
					console.log(e);
				}
			});
		});

    	
    	// 상세보기
    	$(document).on('click', "tbody tr", function(){
    		var faqNo = $(this).children().eq(0).text();
    		console.log(faqNo);
    		
    		$.ajax({
    			url : "/faq/detail",
    			type : "post",
    			data : {faqNo : faqNo},
    			success : function(data){
    				
    				$("#modalTitle").val(data.faqTitle);
    				$("#modalContent").val(data.faqContent);
    				
    			},
    			error : function(e){
    				console.log(e);
    			}
    		});
    	});
        
    </script>
</body>
</html>