@charset "UTF-8";

* {
	font-size: 18px;
	font-family: 'Gowun Batang', serif;
}

#container {
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.snb {
	width: 200px;
	height: 100%;
}

.contents {
	width: 888px;
	height: 100%;
}

.inner {
	margin-top: 30px;
	margin-left: 27px;
	width: 836px;
	height: 100%;
}

a {
	text-decoration: none;
	color: #000;
}

.snb {
	width: 210px;
}

.snb_inner {
	width: 170px;
	margin: 30px auto 0;
}

.snb_inner>h2 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 17px;
}

#userId {
	border: 0;
	background-color: #ebebeb;
	padding-left: 10px;
}

.idArea {
	width: 300px;
	height: 50px;
	margin-right: 50px;
	margin-left: 102px;
}

label {
	height: 40px;
	width: 300px;
}

.modifyArea {
	margin-top: 50px;
}

#save {
	padding: 10px 15px;
	border-radius: 5px;
	background-color: #83131E;
	color: #fff;
	border: 0px;
	cursor: pointer;
}

.cmd {
	margin-left: 380px;
	margin-top: 50px;
}
@media screen and (max-width: 1400px) {
      .weather {
         display:none;
      }
   }