@charset "UTF-8";
#container {
            width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            /* border: 1px solid red; */
        }

        .snb {
            width: 200px;
            /* height: 2500px; */
            height: 100%;
            /* border: 1px solid blue; */
        }

        .contents {
            width: 888px;
            height: 100%;
            /*2500px -> 100%*/
            /* border: 1px solid black; */
        }

        .inner {
            margin-top: 30px;
            margin-left: 27px;
            width: 836px;
            height: 100%;
        }
        a {
            text-decoration: none;
            color: #000;
        }

        .snb {
            width: 210px;
        }

        .snb_inner {
            width: 170px;
            margin: 30px auto 0;
        }

        .snb_inner>h2 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 17px;
        }

        /* .snb_inner>ul>li {
            margin-bottom: 20px;
            list-style: none;
            cursor : pointer;
        } */
        ul > li {
            list-style: none;
            
        }

        
        .order_list {
            font-size: 15px;
            /* margin: 20px 30px; */
            min-height: 565px;
            /* margin: 0 auto; */
        }
        .order_list>ul {
            border-bottom: 1px solid #f3f5f7;
            height: 50px;
            display: flex;
            justify-content: space-around;
            list-style: none;
        }
        .rediv >ul {
        	border-bottom: 1px solid #EBEBEB;
        }
        .order_list>ul.last {
            border: 0;
        }
        .order_list>ul>li {
            text-align: center;
        }
        .order_header {
            background-color: #E5E5E5;
        }
        .order_list .order_date {
            width: 90px;
            margin-left: -50px;
        }
        .order_list .pname {
            width: 225px;
        }
        .order_list .count {
            width: 30px;
        }
        .order_list .status {
            width: 160px;
        }
        .order_list .sum {
            width: 80px;
        }
        .fsmall {
            font-size: 12px;
            margin-top: 1px;
        }
        .pnameSize {
            font-size: 14px;
        }
        .csli {
            padding-top: 6px;
        }
        button {
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #83131E;
            color: #fff;
            border : 0px;
            cursor: pointer;
        }
        .csul {
            padding-top: 15px;
            padding-left : 15px;
        }
        .dateul {
            padding-top: 5px;
        }
        .nameul {
            padding-top: 5px;
        }
        .stul {
            padding-top: 15px;
        }
        .countSize {
            padding-left: 20px;
        }
        .order_ul {
            margin-top: -15px;
        }
        .modal {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .modal .bg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
        }

        .modalBox {
          position: absolute;
          background-color: #fff;
          width: 580px;
          height: 480px;
          padding: 15px;
        }

        .modalBox button {
          display: block;
          width: 80px;
          margin: 0 auto;
        }

        .hidden {
          display: none;
        }
        .closeArea img{
           float: right;
           
        }
        .closeArea img:hover{
           cursor: pointer;
        }
        .labelSize {
            margin-bottom: 20px;
            margin-top: 20px;
        }
        label {
            margin-left: 105px;
        }
        .submitInput{
            padding: 10px 15px;
            border-radius: 5px;
            background-color: #83131E;
            color: #fff;
            border : 0px;
            cursor: pointer;
            width: 80px;
            margin-left: 240px;
        }
        .labelArea {
        	margin : 0;
        	padding : 0;
        }
        .sumSize {
        	text-align : center;
        }
        .labelp {
        	margin-top : 7px;
        	margin-bottom : 1px;
        }
        *{
	font-family: 'Gowun Batang', serif;
}
.sub_inner>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
}

.sub_ul>li a {
	display: block;
	color: #000;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
.ahover:hover {
	background-color: rgba(131, 19, 30, 0.2);
	color: #83131E;
	font-weight: bold;
}

.snb_inner>ul>li span {
	background: no-repeat 0 0/20px url(/images/mypage/order.png);
	/*주문목록*/
	padding-left: 30px;
	font-size: 14px;
	
}

.snb_inner>ul>li:nth-child(2) span {
	background-image: url(/images/mypage/wish.png);
	/*찜*/
}

.snb_inner>ul>li:nth-child(3) span {
	background-image: url(/images/mypage/sub_review.png);
	/*리뷰관리*/
}

.snb_inner>ul>li:nth-child(4) span {
	background-image: url(/images/mypage/point.png);
}

.snb_inner>ul>li:nth-child(5) span {
	background-image: url(/images/mypage/member.png);
}

.snb_inner>ul>li:nth-child(6) span {
	background-image: url(/images/mypage/member.png);
}

.snb_inner>ul>li:nth-child(7) span {
	background-image: url(/images/mypage/member.png);
}

.sub_ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	margin-top:10px;
}
   /* 페이징 부분 1201 변경*/
   .paging_ul {
      height: 50px;
      line-height: 50px;
      display: flex;
      justify-content: center;
      list-style: none;
      width: 480px;
      margin: 30px auto;
   }
   .paging_ul a {
      text-decoration: none;
      color: #282A35;
      display: block;
      text-align: center;
      border: 1px solid #dae0e9;
       margin-left: 10px;
      width: 37px;
      height: 37px;
      line-height : 37px;
       font-size: 12px;
       border-radius : 5px;
   }
   .paging_ul a.current_page {
      border: 1px solid  #83131E;
       background:  #83131E;
       color: #fff;
       border-radius : 5px;
   }
   @media screen and (max-width: 1400px) {
      .weather {
         display:none;
      }
   }