@charset "UTF-8";

#container {
	width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	height: auto;
}

.snb {
	width: 200px;
	/* height: 2500px; */
	height: 100%;
}

.contents {
	width: 888px;
	height: 100%;
}

.inner {
	margin-top: 30px;
	margin-left: 27px;
	width: 836px;
}

a {
	text-decoration: none;
	color: #000;
}

.snb {
	width: 210px;
}

.snb_inner {
	width: 170px;
	margin: 30px auto 0;
}

.date {
	margin-left: 100px;
}

.modifybtn {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 3px;
	line-height: 27px;
	border-radius: 5px;
	background-color: #83131E;
	color: #fff;
	border: 0px;
	cursor: pointer;
	width: 60px;
	height: 30px;
}

.deletebtn {
	display: block;
	padding-top: 3px;
	border-radius: 5px;
	background-color: #fff;
	color: #83131E;
	border: 1px solid #83131E;
	cursor: pointer;
	width: 60px;
	height: 30px;
}

.reviewContent {
	margin-top: 20px;
}

.pname {
	font-weight: bold;
	text-align: left;
}

.review_list {
	/* margin: 20px 30px; */
	min-height: 565px;
	/* margin: 0 auto; */
}

.review_list>ul {
	border-bottom: 1px solid #EBEBEB;
	height: 50px;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.review_list>ul.last {
	border: 0;
}

.review_list>ul>li {
	text-align: center;
}

.review_list .review_date {
	width: 150px;
	margin-top: 22px;
}

.review_list .del {
	width: 50px;
}

.review_list .title {
	width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
}
.limitP {
	width: 350px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.paging_ul {
	height: 50px;
	line-height: 50px;
	display: flex;
	justify-content: center;
	list-style: none;
	width: 480px;
	margin: 30px auto;
}

.paging_ul li {
	text-decoration: none;
	display: block;
	text-align: center;
	border: 1px solid #dae0e9;
	margin-left: 10px;
	width: 37px;
	height: 37px;
	line-height: 37px;
	font-size: 12px;
	border-radius: 5px;
}

.paging_ul li:hover {
	cursor: pointer;
}

.current_page {
	border: 1px solid #83131E;
	background: #83131E;
	color: white;
	border-radius: 5px;
}
@media screen and (max-width: 1400px) {
      .weather {
         display:none;
      }
   }