@charset "UTF-8";

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Gowun Batang', sans-serif;
	height: 93.35%;
}

.wrapper {
	position: relative;
	min-height: 100%;
}
button{
	cursor: pointer;
}

input[type=button]{
	cursor: pointer;
}

.menu_nav a {
	text-decoration: none;
	color: #808080;
	font-size: 20px;
	font-weight: bold;
	transition: 0.5s;
	color: #808080;
}

.menu_nav a:hover {
	color: #6B0E1F;
	font-size: 25px;
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 20px 0;
}

.main_logo {
	width: 20%;
	text-align: center;
}

.main_logo img {
	display: inline-block;
	height: 150px;
}

.menu_nav {
	width: 40%;
	display: flex;
	list-style: none;
	text-align: center;
	padding-left: 60px;
}

.menu_nav li {
	padding: 8px 0 8px 50px;
}

.member_nav {
	width: 40%;
	display: flex;
	padding: 8px 60px 8px 0;
	justify-content: end;
}

.member_nav img {
	padding: 20px;
	height: 50px;
	padding-bottom: 10px;
}

.member_nav li {
	list-style: none;
	width: 120px;
	text-align: center;
	padding-bottom: 5px;
}

.member_nav img:hover {
	cursor: pointer;
}

.member_nav li:hover ul.member_sub {
	display: block;
	text-align: center;
}

.member_sub {
	display: none;
	position: absolute;
	padding-left: 0px;
	text-align: center;
}

.submenu a {
	text-decoration: none;
	color: #808080;
	font-weight: bold;
	font-size: 17px;
	transition: 0.5s;
	white-space: pre;
}

.submenu a:hover {
	color: #6B0E1F;
	font-size: 20px;
}

footer {
	width: 100%;
	position: relative;
	bottom: 0px;
	background: #6B0E1F;
	padding: 15px 0;
	margin-top: 20px;
}

.footer_content {
	margin-left: 100px;
	color: white;
}

.footer_info label {
	font-size: 30px;
}

.footer_info {
	text-align: left;
}

.footer_info a {
	text-decoration: none;
	color: white;
	font-weight: bolder;
	font-size: 12px;
}

.footer_contact {
	text-align: left;
	font-weight: lighter;
	font-size: 0.9rem;
}

@media screen and (max-width: 1100px) {
	header {
		flex-direction: column;
	}
	.main_logo {
		order: 1;
		z-index: 1;
	}
	.menu_nav {
		display: inline;
		padding: 0px;
		justify-content: center;
		width: 100%;
		order: 2;
	}
	.menu_nav li {
		padding: 5px 0px;
		width: 100%;
	}
	.member_nav {
		position: absolute;
		order: 1;
		justify-content: end;
		padding: 0px;
		margin: 0px;
	}
	.member_nav {
		position: absolute;
		order: 1;
		width: 100%;
		justify-content: end;
		padding: 0px;
		margin: 0px;
	}
}

@media screen and (max-width: 800px) {
	.member_nav {
		position: absolute;
		order: 1;
		right: 0px;
		justify-content: end;
		padding: 0px;
		margin: 0px;
		width: 100px;
	}
	.submenu {
		position: absolute;
		right: -20px;
	}
	.member_nav li img {
		width: 35px;
		height: 35px;
	}
	.main_logo img {
		width: 100px;
		height: 100px;
	}
}