<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>매출조회</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/common/common.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link href="/css/salesInquiry/daily.css" rel="stylesheet">
</head>
<body>
	<header th:include="common/header :: header"></header>
    <div id="container">
        <nav class="snb" th:replace="/common/adminSubmenu.html"></nav>
        <script>
        $(document).ready(function () { 
            $('.salesInquiry').css('background-color', 'rgba(131, 19, 30, 0.2)'); 
            $('.salesInquiry').css('color', 'rgb(131,19,30)'); 
            $('.salesInquiry').css('font-weight', 'bold'); 
        });
        </script>
        <div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px;">매출 조회</h3>
                </div>
                <hr style="padding-right: 130px;">
                
                <div class="subHeader">일별 매출 현황</div>

                <form name="searchDateForm" method="get">
                    <div class="searchDate">
                        <label>조회 기간</label>
                        <input type="text" id="selectDate" placeholder="날짜를 입력해주세요">

                    </div>
                </form>

                <div class="list_area">
                    <table>
                    	<thead>
                        <tr>
                            <th rowspan="2">일자</th>
                            <th colspan="3">결제완료 주문</th>
                            <th rowspan="2">결제합계</th>
                            <th rowspan="2">환불합계</th>
                            <th rowspan="2">매출액</th>
                        </tr>
                        <tr>
                            <th>주문수</th>
                            <th>상품구매합계</th>
                            <th>할인</th>
                        </tr>
                        </thead>
						<tbody id="dailyList">
                        <tr th:each="d : ${ dailyList }">
                            <!-- 일자 -->
                            <td th:text="${#dates.format(d.daily, 'yyyy.MM.dd (E)')}"></td>
                            <!-- 주문수 -->
                            <td th:text="${d.totalOrder}"></td>
                            <!-- 상품구매합계 -->
                            <td th:text="${d.totalPrice}"></td>
                            <!-- 할인 -->
                            <td th:if="${d.point == 0}" th:text="0"></td>
                            <td th:unless="${d.point == 0}" th:text="${d.point}"></td>
                            <!-- 결제합계 -->
                            <td th:text="${d.totalPrice - d.point}"></td>
                            <!-- 환불합계 -->
                            <td th:if="${d.totalRefund == 0}" th:text="0"></td>
                            <td th:unless="${d.totalRefund == 0}" th:text="${d.totalRefund}"></td>
                            <!-- 매출액 -->
                            <td th:text="${d.totalPrice - d.point - d.totalRefund}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>합계</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            
            <!-- 페이징 -->
 			<div class="paging__area">
			 	<ul class="paging_ul">
					<li class="go_first">&lt;&lt;</li>
					<li class="go_prev">&lt;</li>
					<li class="pageNo current_page" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" th:if="${pi.page == page} and ${pi.endPage != 0}"></li>
					<li class="pageNo" th:each="page: ${#numbers.sequence(pi.startPage, pi.endPage)}" th:value="${page}" th:text="${page}" th:unless="${pi.page == page} or ${pi.endPage == 0}"></li>
					<li class="go_next">&gt;</li>
					<li class="go_end">&gt;&gt;</li>
				</ul> 
			</div>
 			<!-- 페이징 -->
        </div>
    </div>
    <div th:include="common/footer :: goUp"></div>
	<footer th:include="common/footer :: footer"></footer>

    <script>
	    var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
	    
	    // 합계
	    var result1 = 0;	// 주문수
	    var result2 = 0;	// 결제구매합계
	    var result3 = 0;	// 할인
	    var result4 = 0;	// 결제합계
	    var result5 = 0; 	// 환불합계
	    var result6 = 0;	// 매출액
	    
	    $("tbody tr").each(function(){
		    
	    	result1 += parseInt($(this).children().eq(1).text());
	    	result2 += parseInt($(this).children().eq(2).text());
	    	result3 += parseInt($(this).children().eq(3).text());
	    	result4 += parseInt($(this).children().eq(4).text());
	    	result5 += parseInt($(this).children().eq(5).text());
	    	result6 += parseInt($(this).children().eq(6).text());
	    	
		    $("tfoot tr td").eq(1).text(result1);
		    $("tfoot tr td").eq(2).text(result2);
		    $("tfoot tr td").eq(3).text(result3);
		    $("tfoot tr td").eq(4).text(result4);
		    $("tfoot tr td").eq(5).text(result5);
		    $("tfoot tr td").eq(6).text(result6);
	    });
	    
	    // 자릿수 포맷
	    function comma(value){
	        return value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	    }
	    
	    $("tbody tr, tfoot tr").each(function(){
	    	let c2 = comma($(this).children().eq(2).text());
	    	let c3 = comma($(this).children().eq(3).text());
	    	let c4 = comma($(this).children().eq(4).text());
	    	let c5 = comma($(this).children().eq(5).text());
	    	let c6 = comma($(this).children().eq(6).text());
	    	
	    	$(this).children().eq(2).text(c2);
	    	$(this).children().eq(3).text(c3);
	    	$(this).children().eq(4).text(c4);
	    	$(this).children().eq(5).text(c5);
	    	$(this).children().eq(6).text(c6);	
	    });
	    
	 	// 날짜포맷1
        function dateFormat1(date){
        	let month = date.getMonth() + 1;
        	let day = date.getDate();
            
            month = month >= 10 ? month : '0' + month;
            day = day >= 10 ? day : '0' + day;
           
            return date.getFullYear() + '/' + month + '/' + day;
        }
	
		// 날짜조회 (flatpickr)
	 	start = null;		// 날짜 선택하면 담기 위한 전역변수
	 	end = null;
	    $("#selectDate").flatpickr({ 
	    	dateFormat: "Y-m-d",
	    	mode: "range",
	    	onClose: function(selectDates){
	    		var startDate = dateFormat1(selectDates[0]);
	    		var endDate = dateFormat1(selectDates[1]);
	    		start = startDate;
	    		end = endDate;
	    		ajaxPaging(1, startDate, endDate);
	    	}
	    });

        endPage = $(".pageNo").last().val();
		clickPage = 1;
		
		// 페이지 <li> 눌렀을 때
		$(document).on("click", ".pageNo", function(){
			var page = $(this).val();
			clickPage = page;
			var startDate = start;
    		var endDate = end;
 	
			ajaxPaging(page, startDate, endDate);
		});
		
		// "<<" 버튼
		$(document).on("click", ".go_first", function() {
			clickPage = 1;
			var page = 1;
			var startDate = start;
    		var endDate = end;
			
			ajaxPaging(page, startDate, endDate);
		});

		// ">>" 버튼
		$(document).on("click", ".go_end", function() {
			clickPage = endPage;
			var page = endPage;
			var startDate = start;
    		var endDate = end;
			
			ajaxPaging(page, startDate, endDate);
		});
		
		// "<" 버튼
		$(document).on("click", ".go_prev", function() {
			if(clickPage != 1) {
				var page = clickPage - 1;
				clickPage = clickPage - 1;
				var startDate = start;
	    		var endDate = end;
				
				ajaxPaging(page, startDate, endDate);
			}	
		});
		
		// ">" 버튼
		$(document).on("click", ".go_next", function() {
			if(clickPage != endPage) {
				var page = clickPage + 1;
				clickPage = clickPage + 1;
				var startDate = start;
	    		var endDate = end;
				
				ajaxPaging(page, startDate, endDate);
			}	
		});
		
		// 날짜포맷2
		function dateFormat2(date) {
			let month = date.getMonth() + 1;
			let day = date.getDate();
			let week = date.getUTCDay();

			month = month >= 10 ? month : '0' + month;
			day = day >= 10 ? day : '0' + day;

			return date.getFullYear() + '.' + month + '.' + day + '(' + '일월화수목금토'.charAt(week) + ')';
		}

		// 페이징 전송
		function ajaxPaging(page, startDate, endDate) {
			
			$.ajax({
				url : "/salesInquiry/daily",
				data : {page : page,
						startDate : startDate,
						endDate : endDate},
				type : "post",
				success : function(data) {
					
					var dailyList = data.dailyList;
					var pi = data.pi;
					
					endPage = pi.endPage;
							tableHTML = '';
					
					if(dailyList.length == 0) {
						alert("조회할 데이터가 없습니다.");
					} else {
					
						var pagingHTML = '<li class="go_first">&lt;&lt;</li><li class="go_prev">&lt;</li>';
					
					
						for(var i = parseInt(pi.startPage); i <= parseInt(pi.endPage) ; i++) {
							pagingHTML += '<li class="pageNo" value="' + i + '">' + i +'</li>';
						}  
						
						pagingHTML += '<li class="go_next">&gt;</li><li class="go_end">&gt;&gt;</li>';	
						$(".paging_ul").html(pagingHTML);
						
						$.each(dailyList, function(index, item) {
	
							let daily = new Date(item.daily);
							
							tableHTML += "<tr><td>" + dateFormat2(daily) + "</td>"
	                       			   + "<td>" + item.totalOrder + "</td>"
	                        		   + "<td>" + item.totalPrice + "</td>"
	                        		   + "<td class='point'>" + item.point + "</td>"
	                        		   + "<td>" + (item.totalPrice - item.point) + "</td>"
	                        		   + "<td class='refund'>" + item.totalRefund + "</td>"
	                        		   + "<td>" + (item.totalPrice - item.point - item.totalRefund) + "</td></tr>";
	                        
							$("#dailyList").html(tableHTML);
						});
						
						// 합계
					    var result1 = 0;	// 주문수
					    var result2 = 0;	// 결제구매합계
					    var result3 = 0;	// 할인
					    var result4 = 0;	// 결제합계
					    var result5 = 0; 	// 환불합계
					    var result6 = 0;	// 매출액
					    
					    $("tbody tr").each(function(){
						    
					    	result1 += parseInt($(this).children().eq(1).text());
					    	result2 += parseInt($(this).children().eq(2).text());
					    	result3 += parseInt($(this).children().eq(3).text());
					    	result4 += parseInt($(this).children().eq(4).text());
					    	result5 += parseInt($(this).children().eq(5).text());
					    	result6 += parseInt($(this).children().eq(6).text());
					    	
						    $("tfoot tr td").eq(1).text(result1);
						    $("tfoot tr td").eq(2).text(result2);
						    $("tfoot tr td").eq(3).text(result3);
						    $("tfoot tr td").eq(4).text(result4);
						    $("tfoot tr td").eq(5).text(result5);
						    $("tfoot tr td").eq(6).text(result6);
					    });

					    $("tbody tr, tfoot tr").each(function(){
					    	let c2 = comma($(this).children().eq(2).text());
					    	let c3 = comma($(this).children().eq(3).text());
					    	let c4 = comma($(this).children().eq(4).text());
					    	let c5 = comma($(this).children().eq(5).text());
					    	let c6 = comma($(this).children().eq(6).text());
					    	
					    	$(this).children().eq(2).text(c2);
					    	$(this).children().eq(3).text(c3);
					    	$(this).children().eq(4).text(c4);
					    	$(this).children().eq(5).text(c5);
					    	$(this).children().eq(6).text(c6);	
					    });
							 
						$('li[value='+ page + ']').addClass("current_page");
					}
				},
				error : function(e) {
					console.log(e);
				}			
			});
		
		}
	    
    </script>
</body>
</html>