<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>입고관리 - 입고</title>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
<link href="/css/manage/inventoryMg/regist.css" rel="stylesheet">
<link href="/css/common/common.css" rel="stylesheet">
</head>
<body>
<header th:include="common/header :: header"></header>
<div class="content">
<div th:include="common/footer :: goUp"></div>
    <h2>입고관리</h2>    
    <hr>
    <div class="totalList">
     <input type="hidden" name="totalStock" th:value="${totalStock.totalStock}">
     <input type="hidden" name="totalShop" th:value="${totalShop.totalShop}">
     <input type="hidden" name="todayReceiving" th:value="${todayReceiving.todayReceiving}">
        
        <div id="todayReceiving">
            <span id="count" th:text="${todayReceiving.todayReceiving}">9</span>
            <span id="countTitle">Today Inventory</span>
        </div>
        
        <div id="totalShop">
            <span id="counts" th:text="${totalShop.totalShop}"></span> 
            <span id="countTitle">Total Shop</span>
        </div>
        <div id="totalStock">
            <span id="count"  th:text="${totalStock.totalStock}"></span> 
            <span id="countTitle">Total Stock</span>
        </div>
        
    </div> 
    
            <form class="registArea" th:action="@{/manage/inventoryMg/regist(${_csrf.parameterName}=${_csrf.token})}" method="post">
                <div class="receivingArea">
                <div class="receivingInput" id="selectArea">
                
                <div class="searchArea">
                <select id="selectCategory">
                    <option value="productName">상품명</option>
                    <option value="productNo">상품번호</option>
                </select>
                <button type="button" class="openBtn" id="selectBtn">검색</button></div><br>
                <input type="hidden" id="product_no" name="product_no">
                <div class="receivingInput"><span class="label_area"><label>상품명(한글) : </label></span>
                <input type="text" id="productNameK" readonly></div>
                <div class="receivingInput"><span class="label_area"><label>상품명(영어) : </label></span> 
                <input type="text" id="productNameE" readonly></div>
                <div class="receivingInput"><span class="label_area"><label>판매가 : </label></span>
                <input type="text" id="productPrice" readonly></div>
                <div class="receivingInput"><span class="label_area"><label>현재수량 : </label></span>
                <input type="text" id="currentCount" readonly></div>
 
                <div class="receivingInput"><span class="label_area"><label>입고수량 : </label></span>
                <input type="text" id="inven_count" name="inven_count" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></div>
                <div class="receivingInput"><span class="label_area"><label>입고단가 : </label></span>
                <input type="text" id="inven_cost" name="inven_cost" onkeyup="calc(this.value)" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></div>
                <div class="receivingInput"><span class="label_area"><label>지불 금액 : </label></span>
                <input type="text" id="inven_price"  readonly>
                <div class="cssArea"></div></div><br>
                
            </div>
            
                <div class="btnArea">
                <button id="cancleBtn" onClick="history.back(); return false ;">취소</button> 
                <input id="enrollBtn" type="submit" value="등록">
                </div>
          </div>      
    </form>
    
    <div class="modal">
	    <div class="mcontent">
	    <h1 align="center">상품 검색</h1>
			     <div class="msearchArea">
			        <select id="mselectCategory" name="search_select">
			            <option value="name">상품명</option>
			            <option value="no">상품번호</option>
			        </select>
			        <input type="text" id="msearchTitle" name="search_product"> 
			        <button id="msearch_btn">검색</button>
			
			    	<div class="msearchContext"></div>
			     </div>
		   	  <br>
			    <div class="mbtnArea">
			        <button id="mcancleBtn">취소</button>
			        <button id="mapplyBtn">적용</button>
			    </div>
	    </div>
	     <div class="modal_layer"></div>
    </div>
    
    
</div>

<div th:replace="common/footer :: footer"></div>
<script>

//modal click
	$(".openBtn").click(function(){
		$(".modal").css("display", "block");
	});
	$("#mcancleBtn").click(function(){
		$(".modal").css("display", "none");
		$(".msearchContext").text(" ");
		$("#msearchTitle").val(" ");
		
	});
	$("#mapplyBtn").click(function(){
		$(".modal").css("display", "none");
	});

//모달함수
	function openModal(elem){
		console.log(elem);
		console.log(elem.className);
		
		modaltest.classList.remove("hidden");
		
		var closetest= modaltest.firstChild.nextSibling.firstChild
		console.log(closetest)
		
		 const open = () => {
		document.querySelector(".modal").classList.remove("hidden");
		}
		
		const close =()=> {
			modaltest.classList.add("hidden");
		} 
		
		closetest.addEventListener("click", close);
	}
	
	//crsf토큰
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	$(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });


	// 상품 검색
	$("#msearch_btn").on("click", function() {
		var searchStandard = $("select[name=search_select]").val();
		var searchValue = $("input[name=search_product]").val();

		var tableHTML;
		$.ajax({
			url : "/manage/inventoryMg/search",
			data : {searchStandard : searchStandard, searchValue : searchValue},
			type : "post",
			success : function(data) {
				
				if (data.length == 0) {
					alert("검색 결과가 없습니다.");
				} else {
					
					var tableHTML = '<ul class="selectPno" id="selectPno">';
									
					$.each(data, function(index, item) {

					tableHTML += "<li value='" + item.productNo +"'><label class='noCss'>" + item.productNo + "</label>" + "   " + item.productKName +"</li>"
							 
					$(".msearchContext").html(tableHTML);
					
				});
					tableHTML += '</ul>'
				
				}
			},
			error : function(e) {
				console.log(e);
			}						
		});
	});
		
	//모달 CSS 클릭시, 배경
	var productNo = null;
	
	$(document).on("click", ".selectPno li", function() {
		$(this).css('background', '');
		productNo = $(this).val();
		$(this).css("background-color", "rgba(196, 196, 196, 0.1)");
		$("li").not($(this)).css("background-color", "white");
	});

	
	
	//regist에 검색결과 추가
	$("#mapplyBtn").click(function(){ 
		   $.ajax({
				url : "/manage/inventoryMg/searchByProductNo",
				data : {productNo : productNo},
				type : "post",
				success : function(data) {
							
					$(this).css('background', '');
					
						  $('#productNameK').attr('value',data.productKName);
						  $('#productNameE').attr('value',data.productEName);
						  $('#productPrice').attr('value',data.salePrice);
						  $('#currentCount').attr('value',data.productCount);
						  $('#product_no').attr('value',data.productNo);
				},
				error : function(e) {
					console.log(e);
				}						
			});
		});


	function calc(val){ //입고 가격 자동계산하기.
	   
	    var iCount = $("#inven_count").val();
		var iPrice = $("#inven_cost").val();

		var inven_price = iCount*iPrice;
	    
	    if(val == ""){
	        document.getElementById('inven_price').value = "0";
	    }else{
	        document.getElementById('inven_price').value = inven_price;
	    }
	}	

	
</script>
</body>
</html>