<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymelaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>리뷰관리-상세</title>
<link href="/css/mypage/reviewInsert.css" rel="stylesheet">
<link href="/css/manage/reviewMg/rdetail.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
<div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px;">리뷰 상세보기</h3>
                </div>
                <hr style="width: 700px; padding-right: 130px;">
                <form id="reviewUpdateForm" th:action="@{/mypage/reviewUpdateForm}" method="post" enctype="multipart/form-data">   
                    <div>
                    
                        <h3>별점</h3>
				
						<div class="star-ratings">
					        <div class="star-ratings-fill space-x-2 text-lg">
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            <span><img src="/images/mypage/star_on.png" style="width:30px; padding:0px;"></span>
					            
					        </div>
					       
					    </div>
                       
                    </div>
                    <br>
                    <div>
                    <input name= "star" type="hidden" id="star" th:value="${review.star}">
                    <input name="user_no" type="hidden" th:value=${review.user_no}>
                    <input name="od_no" type="hidden" th:value=${review.od_no}>
                    <input name="review_no" type="hidden" th:value=${review.review_no}>
                        <h3>리뷰내용 <span style="font-size: 12px;">(10자 이상 500자 미만)</span></h3>
                        <div>
                            <input type="text" class="review_text" name="review_text"  readonly style="border: 1px solid lightgray; width: 700px; height: 90px;" th:value="${review.review_text}">
                        </div>
                    </div>
                    <br>
                    <div>
                        <h3>리뷰이미지 첨부 </h3>
                        <div th:if="${review.review_image != null}">
                        <div id="fileArea" style="border: 1px solid lightgray; width: 500px; height: 500px;">
                            <img alt="" th:src="${review.review_image}" width="500px" height="500px">
                        </div>
                        </div>
                    </div>
                    <br>
                  </form>
                  <h3>신고 상세창</h3>
                  <hr>
                  <div class="reporterList">
                  	 <table class="reporteTable">
		                <tr>
		                <th>신고자</th>
		                <th>신고 사유</th>
		                <th>신고날짜</th>
		                </tr>
					<tbody class="trArea">                
						<tr class="allinven" th:each="report: ${ review }">
                			<td th:text="${ report.user_id1 }"></td>
		                    <td th:text="${ report.reason_context }"></td>
                			<td th:text="${ #dates.format(report.report_date, 'yyyy-MM-dd') }"></td>
		                </tr>
		                </tbody>
          			  </table>
                  </div>
            </div>
        </div>
        
        <script>
        var star = null;
        star = $("#star").val();
        console.log(star);
       	
	    $(".star").on('click',function(){
	   		var result = 1;
	        var idx = $(this).index();
	        $(".star").removeClass("on");
	        for(var i=0; i<=idx; i++){
	        	$(".star").eq(i).addClass("on");
	            result = i;
	       }
	       console.log(result+1);
	       document.getElementById('star').value = (result+1)/2;
	    });
	    
	    var star = document.querySelector("#star").value;
	    console.log(star);
        switch(star){
            case '0.5' : document.querySelector(".star-ratings-fill").style.width = '15px'; break;
            case '1.0' : document.querySelector(".star-ratings-fill").style.width = '30px'; break;
            case '1.5' : document.querySelector(".star-ratings-fill").style.width = '45px'; break;
            case '2.0' : document.querySelector(".star-ratings-fill").style.width = '60px'; break;
            case '2.5' : document.querySelector(".star-ratings-fill").style.width = '75px'; break;
            case '3.0' : document.querySelector(".star-ratings-fill").style.width = '90px'; break;
            case '3.5' : document.querySelector(".star-ratings-fill").style.width = '105px'; break;
            case '4.0' : document.querySelector(".star-ratings-fill").style.width = '120px'; break;
            case '4.5' : document.querySelector(".star-ratings-fill").style.width = '135px'; break;
            default : document.querySelector(".star-ratings-fill").style.width = '150px'; break;

        }
    </script>

</body>
</html>