<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>주문관리</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/common/common.css" rel="stylesheet">
    <link href="/css/orderManage/list.css" rel="stylesheet">
	<script>
		const successMessage = '[[${ message }]]';
		
		if(successMessage){
			alert(successMessage);
		}
	</script>
</head>
<body>
	<header th:include="common/header :: header"></header>
    <div id="container">
        <nav class="snb">
            <!-- <div class="snb_inner">
            </div> -->
        </nav>
        <div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px;">주문 관리</h3>
                </div>
                <hr style="padding-right: 130px;">
                
                <div class="orderState">
                    <label>주문 상태</label>
                    <select id="orderState">
                        <option selected>- 구분 -</option>
                        <option value="결제완료">결제완료</option>
                        <option value="결제취소">결제취소</option>
                        <option value="픽업대기중">픽업대기중</option>
                        <option value="픽업완료">픽업완료</option>
                        <option value="환불완료">환불완료</option>
                    </select>
                </div>

                <form name="searchDateForm" method="get">
                    <div class="searchDate">
                        <label>조회 기간</label>
                        <input type="date"> ~ <input type="date">
                        <input type="button" value="오늘" class="dateBtn">
                        <input type="button" value="1주일" class="dateBtn">
                        <input type="button" value="1개월" class="dateBtn">
                    </div>
                </form>

                <form method="get" action="">
                    <div class="searchBox">
                        <label>조건 검색</label>
                        <select name="searchCondition">
                            <option value="orderName">주문자명</option>
                            <option value="orderNumber">주문번호</option>
                        </select>
                        <input type="search" name="searchValue">
                        <button type="submit" class="searchBtn">이미지</button>
                    </div>
                </form>

                <div>
                    <div class="btnAndInfo">
                        <div class="btnArea">
                            <button type="button" onclick="" class="deleteBtn">선택 삭제</button>
                            <button type="button" onclick="" class="changeBtn" id="changeBtn">상태 일괄 변경</button>
                        </div>
                        <div class="infoArea">총 주문 수 : <span id="totalCnt"></span>, 검색 주문 수 : <span id="searchCnt">10</span></div>    
                    </div>

                    <table id="orderList">
                        <tr>
                            <th><input type="checkbox" id="checkBox" onclick="selectAll()"></th>
                            <th>주문번호</th>
                            <th>주문일시</th>
                            <th>주문자명</th>
                            <th>주문금액</th>
                            <th>주문상태</th>
                            <th>기능</th>
                        </tr>
                        <tbody id="odList">
	                        <tr th:each="orderList : ${ orderList }">
	                            <td><input type="checkbox" name="" value=""></td>
	                            <td th:text="${ orderList.purchaseNo }" class="purchaseNo"></td>
	                            <td th:text="${#dates.format(orderList.purchaseDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
	                            <td th:text="${ orderList.userName }"></td>
	                            <td th:text="${ orderList.purchasePrice }"></td>
	                            <td>
	                                <select class="odStatus">
	                                    <option th:selected="${ orderList.orderStatus }=='결제완료'">결제완료</option>
	                                    <option th:selected="${ orderList.orderStatus }=='결제취소'">결제취소</option>
	                                    <option th:selected="${ orderList.orderStatus }=='픽업대기중'">픽업대기중</option>
	                                    <option th:selected="${ orderList.orderStatus }=='픽업완료'">픽업완료</option>
	                                    <option th:selected="${ orderList.orderStatus }=='환불완료'">환불완료</option>
	                                </select>
	                            </td>
	                            <td>
	                                <button type="button" class="applyBtn">적용</button>
	                                <button type="button" class="detailBtn" id="detailBtn">상세보기</button>
	                            </td>
	                        </tr>
                        </tbody>
                    </table>
                </div>

				<!-- 상태 일괄 변경 모달 -->
                <div id="modal" class="modal-overlay">
                    <div class="modal-window">
                        <div class="title">
                            <h4>상태 일괄 변경</h4>
                        </div>   
                        <div class="content">
                            결제완료&nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp;
                            <select>
                                <option value="결제완료">결제완료</option>
                                <option value="결제취소">결제취소</option>
                                <option value="픽업대기중">픽업대기중</option>
                                <option value="픽업완료">픽업완료</option>
                                <option value="환불완료">환불완료</option>
                            </select>

                            <button type="button" class="cancleBtn" id="cancleBtn">취소</button>
                            <button type="submit" class="applyBtn">적용</button>
                        </div>
                    </div>

                    <div class="modal_layer"></div>
                </div>

                <div id="modal2" class="modal-overlay">
                    <div class="modal-window">   
                        <div class="close-area closeBtn">X</div>
                        <div class="content">
                            <h5>픽업정보</h5>
                            <hr>
                            <table>
                                <tr>
                                    <th>픽업매장</th>
                                    <td>D.WINE 역삼점 (서울시 강남구 역삼동 KH정보교육원 7층)</td>
                                </tr>
                                <tr>
                                    <th>픽업일시</th>
                                    <td>2021.10.28(목) 12:00 ~ 18:00</td>
                                </tr>
                            </table>

                            <h5>주문정보</h5>
                            <hr>
                            <table>
                                <tr>
                                    <th>주문번호</th>
                                    <td>2021102801</td>
                                    <th>결제수단</th>
                                    <td>신용카드</td>
                                </tr>
                                <tr>
                                    <th>주문일시</th>
                                    <td>2021.10.28 11:12:56</td>
                                    <th>사용적립금</th>
                                    <td>1,000원</td>
                                </tr>
                                <tr>
                                    <th>주문자명</th>
                                    <td>홍길동</td>
                                    <th>결제금액</th>
                                    <td>37,000원</td>
                                </tr>
                                <tr>
                                    <th>연락처</th>
                                    <td>010-1111-2222</td>
                                    <th>환불일시</th>
                                    <td style="text-align: center;">-</td>
                                </tr>
                            </table>

                            <h5>상품정보</h5>
                            <hr>
                            <table id="productInfo">
                                <tr>
                                    <th>상품번호</th>
                                    <th>카테고리</th>
                                    <th>상품명</th>
                                    <th>수량</th>
                                    <th>상품금액</th>
                                </tr>
                                <tr>
                                    <td>0001</td>
                                    <td>레드</td>
                                    <td>롤라이오 레드 와인</td>
                                    <td>2</td>
                                    <td>38,000</td>
                                </tr>
                            </table>
                            <br>
                        </div>
                    </div>

                    <div class="modal_layer"></div>
                </div>
                
            </div>
        </div>
    </div>
    <footer th:include="common/footer :: footer"></footer>

    <script>
	    var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
    	
	    // 체크박스 전체 체크
        function selectAll(){
            if($("#checkBox").is(":checked")){
       			$("input[type='checkbox']").prop("checked", true);
       		} else {
       			$("input[type='checkbox']").prop("checked", false);
       		}
        }

        $("#changeBtn").click(function(){
            $("#modal").css("display", "block");
        });

        $("#cancleBtn").click(function(){
            $("#modal").css("display", "none");
        });

        $(".detailBtn").click(function(){
            $("#modal2").css("display", "block");
        });

        $(".closeBtn").click(function(){
            $("#modal2").css("display", "none");
        });
        
        // 주문 건수 출력
        $(function(){
        	$.ajax({
        		url : "/orderManage/totalCnt",
        		success : function(data){
        			var totalCnt = $("#totalCnt");

        			totalCnt.text(data.totalCnt);
        		},
        		error : function(e){
        			console.log(e);
        		}
        	});
        });
        
        function dateFormat(date){
        	let month = date.getMonth() + 1;
        	let day = date.getDate();
        	let hour = date.getHours();
        	let minute = date.getMinutes();
            let second = date.getSeconds();
            
            month = month >= 10 ? month : '0' + month;
            day = day >= 10 ? day : '0' + day;
            hour = hour >= 10 ? hour : '0' + hour;
            minute = minute >= 10 ? minute : '0' + minute;
            second = second >= 10 ? second : '0' + second;
            
            return date.getFullYear() + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }
       
        // 주문상태로 조회
        $("#orderState").change(function(){
        	 
        	$.ajax({
        		url : "/orderManage/state",
        		data : {state : $("#orderState").val()},
        		type : "post",
        		success : function(data){
        			
            		var tableHTML = '';
            		
        			if(data.length != 0) {
        				$.each(data, function(index, item){
            				
            				let date = new Date(item.purchaseDate);
            				
           					tableHTML += "<tr><td><input type='checkbox'></td>"
   		                	 	   	   + "<td>" + item.purchaseNo + "</td>"
   		                 		       + "<td>" + dateFormat(date) + "</td>"
   		                 		       + "<td>" + item.userName + "</td>"
   		                 		       + "<td>" + item.purchasePrice + "</td>"
   		                 	           + "<td><select class='odStatus'>"
   		                               + "<option value='결제완료'>결제완료</option>"
   		                               + "<option value='결제취소'>결제취소</option>"
   		                               + "<option value='픽업대기중'>픽업대기중</option>"
   		                               + "<option value='픽업완료'>픽업완료</option>"
   		                               + "<option value='환불완료'>환불완료</option></select></td>"
   		                   		       + "<td><button type='button' class='applyBtn'>적용</button>"
   		                 		       + "<button type='button' class='detailBtn' id='detailBtn'>상세보기</button></td></tr>";
   		           		
        					$("#odList").html(tableHTML);
   		                	$(".odStatus").val(item.orderStatus).prop("selected", true);
            				
            			});	
        			} else {
        				tableHTML += "<tr><td colspan='7' rowspan='7'>검색 결과가 존재하지 않습니다.</td></tr>"
        						   + "<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>";
        				$("#odList").html(tableHTML);
        			}
        		},
        		error : function(e){
        			console.log(e);
        		}
        	});
        });
        
        // 주문상태 수정
        $(".applyBtn").click(function(){
        	
        	alert("주문상태를 변경하시겠습니까?");
        	
        	var tr = $(this).parent().parent();
        	var td = tr.children();

        	var purchaseNo = td.eq(1).text();
        	var odStatus = td.eq(5).children().val();
        	
        	$.ajax({
        		url : "/orderManage/update",
        		data : {purchaseNo : purchaseNo,
        				odStatus : odStatus},
        		type : "post",
        		success : function(data){
        			alert("주문상태가 변경되었습니다.");
        		},
        		error : function(e){
        			console.log(e);
        			alert("주문상태 변경에 실패하였습니다.");
        		}
        	});
        });
        
        
        
        

    </script>
</body>
</html>