<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>주문관리</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/common/common.css" rel="stylesheet">
    <link href="/css/orderManage/list.css" rel="stylesheet">
</head>
<body>
	<header th:include="common/header :: header"></header>
	
    <div id="container">
        <nav class="snb" th:replace="/manage/adminSubmenu.html"></nav>
        <div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px;">주문 관리</h3>
                </div>
                <hr style="padding-right: 130px;">
                
                <div class="orderState">
                    <label>주문 상태</label>
                    <select id="orderState">
                        <option selected>- 구분 -</option>
                        <option value="결제완료">결제완료</option>
                        <option value="결제취소">결제취소</option>
                        <option value="픽업대기중">픽업대기중</option>
                        <option value="픽업완료">픽업완료</option>
                        <option value="환불완료">환불완료</option>
                    </select>
                </div>

                <form name="searchDateForm" method="get">
                    <div class="searchDate">
                        <label>조회 기간</label>
                        <input type="date"> ~ <input type="date">
                        <input type="button" value="오늘" class="dateBtn">
                        <input type="button" value="1주일" class="dateBtn">
                        <input type="button" value="1개월" class="dateBtn">
                    </div>
                </form>

                <div class="searchBox">
                    <label>조건 검색</label>
                    <select name="searchCondition">
                        <option value="orderName">주문자명</option>
                        <option value="orderNumber">주문번호</option>
                    </select>
                    <input type="search" name="searchValue">
                    <button type="submit" class="searchBtn">이미지</button>
                </div>

                <div>
                    <div class="btnAndInfo">
                        <div class="btnArea">
                            <button type="button" class="deleteBtn">선택 삭제</button>
                            <button type="button" onclick="" class="changeBtn" id="changeBtn" disabled>상태 일괄 변경</button>
                        </div>
                        <div class="infoArea">총 주문 수 : <span id="totalCnt"></span>, 검색 주문 수 : <span id="searchCnt">10</span></div>    
                    </div>
			
                    <table id="orderList">
                        <tr>
                            <th><input type="checkbox" id="checkBox" onclick="selectAll()"></th>
                            <th>주문번호</th>
                            <th>주문일시</th>
                            <th>주문자명</th>
                            <th>주문금액</th>
                            <th>주문상태</th>
                            <th>기능</th>
                        </tr>
                        <tbody id="odList">
	                        <tr th:each="o : ${ orderList }">
	                            <td><input type="checkbox" name="chk" th:value="${ o.purchaseNo }"></td>
	                            <td th:text="${ o.purchaseNo }" class="purchaseNo"></td>
	                            <td th:text="${#dates.format(o.purchaseDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
	                            <td th:text="${ o.userName }"></td>
	                            <td th:text="${ o.purchasePrice }"></td>
	                            <td>
	                                <select class="odStatus">
	                                    <option th:selected="${ o.orderStatus }=='결제완료'">결제완료</option>
	                                    <option th:selected="${ o.orderStatus }=='결제취소'">결제취소</option>
	                                    <option th:selected="${ o.orderStatus }=='픽업대기중'">픽업대기중</option>
	                                    <option th:selected="${ o.orderStatus }=='픽업완료'">픽업완료</option>
	                                    <option th:selected="${ o.orderStatus }=='환불완료'">환불완료</option>
	                                </select>
	                            </td>
	                            
	                            <td>
	                                <button type="button" class="applyBtn">적용</button>
	                                <button type="button" class="detailBtn">상세보기</button>
	                            </td>  
	                        </tr>
                        </tbody>
                    </table>
                    </form>
                </div>

				<!-- 상태 일괄 변경 모달 -->
                <div id="modal" class="modal-overlay">
                    <div class="modal-window">
                        <div class="title">
                            <h4>상태 일괄 변경</h4>
                        </div>   
                        <div class="content">
                            <span id="beforeStatus">결제완료</span>&nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp;
                            <select id="afterStatus">
                                <option value="결제완료">결제완료</option>
                                <option value="결제취소">결제취소</option>
                                <option value="픽업대기중">픽업대기중</option>
                                <option value="픽업완료">픽업완료</option>
                                <option value="환불완료">환불완료</option>
                            </select>

                            <button type="button" class="cancleBtn" id="cancleBtn">취소</button>
                            <button type="submit" class="allApplyBtn">적용</button> 
                        </div>
                    </div>

                    <div class="modal_layer"></div>
                </div>

                <div id="modal2" class="modal-overlay">
                    <div class="modal-window">   
                        <div class="close-area closeBtn">X</div>
                        <div class="content">
                            <h5>픽업정보</h5>
                            <hr>
                            <table id="pickupInfo">
                                <!-- Ajax -->
                            </table>

                            <h5>주문정보</h5>
                            <hr>
                            <table id="orderInfo">
                                <!-- Ajax -->
                            </table>

                            <h5>상품정보</h5>
                            <hr>
                            <table>
                                <tr>
                                    <th>상품번호</th>
                                    <th>카테고리</th>
                                    <th>상품명</th>
                                    <th>수량</th>
                                    <th>상품금액</th>
                                </tr>
                                <tbody id="productInfo">
                                    <!-- Ajax로 리스트 불러오기 -->
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                    <div class="modal_layer"></div>
                </div>
                
            </div>
        </div>
    </div>
    <footer th:include="common/footer :: footer"></footer>

    <script>
	    var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    $(document).ajaxSend(function(e, xhr, options) { xhr.setRequestHeader(header, token); });
    	
        $(document).on("click","#changeBtn", function(){
            $("#modal").css("display", "block");
        });

        $(document).on("click","#cancleBtn", function(){
            $("#modal").css("display", "none");
        });

        $(document).on("click",".detailBtn", function(){
            $("#modal2").css("display", "block");
        });

        $(document).on("click",".closeBtn", function(){
            $("#modal2").css("display", "none");
        });
        
	    // 체크박스 전체 체크
        function selectAll(){
            if($("#checkBox").is(":checked")){
       			$("input[type='checkbox']").prop("checked", true);
       		} else {
       			$("input[type='checkbox']").prop("checked", false);
       		}
        }
	    
     	// 선택삭제
        $(document).on("click",".deleteBtn", function(){
        	if(confirm("정말 삭제하시겠습니까?")){
		        var checkArr = new Array();
		        
		        $("input[name=chk]:checked").each(function(){
		        	checkArr.push(this.value);
		        })
		        
		        $.ajax({
		        	url : "/orderManage/delete",
		        	type : "post",
		        	data : {checkArr : checkArr},
		        	success : function(data){
		        		if(data == "success")
		        			alert("정상적으로 삭제되었습니다.");
		        		else
		        			alert("삭제에 실패하였습니다.");
		        		
		        		location.reload();
		        	},
		        	error : function(e){
		        		console.log(e);
		        	}
		        });
        	}
        });
        
        // 주문 건수 출력
        $(function(){
        	$.ajax({
        		url : "/orderManage/totalCnt",
        		success : function(data){
        			var totalCnt = $("#totalCnt");

        			totalCnt.text(data.totalCnt);
        		},
        		error : function(e){
        			console.log(e);
        		}
        	});
        });
        
        function dateFormat(date){
        	let month = date.getMonth() + 1;
        	let day = date.getDate();
        	let hour = date.getHours();
        	let minute = date.getMinutes();
            let second = date.getSeconds();
            
            month = month >= 10 ? month : '0' + month;
            day = day >= 10 ? day : '0' + day;
            hour = hour >= 10 ? hour : '0' + hour;
            minute = minute >= 10 ? minute : '0' + minute;
            second = second >= 10 ? second : '0' + second;
            
            return date.getFullYear() + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }
       
        // 주문상태로 조회
        $("#orderState").change(function(){
        	 
        	$.ajax({
        		url : "/orderManage/state",
        		data : {state : $("#orderState").val()},
        		type : "post",
        		success : function(data){
        			
            		var tableHTML = '';
            		
        			if(data.length != 0) {
        				$.each(data, function(index, item){
            				
            				let date = new Date(item.purchaseDate);
            				
           					tableHTML += "<tr><td><input type='checkbox'></td>"
   		                	 	   	   + "<td class='purchaseNo'>" + item.purchaseNo + "</td>"
   		                 		       + "<td>" + dateFormat(date) + "</td>"
   		                 		       + "<td>" + item.userName + "</td>"
   		                 		       + "<td>" + item.purchasePrice + "</td>"
   		                 	           + "<td><select class='odStatus'>"
   		                               + "<option value='결제완료'>결제완료</option>"
   		                               + "<option value='결제취소'>결제취소</option>"
   		                               + "<option value='픽업대기중'>픽업대기중</option>"
   		                               + "<option value='픽업완료'>픽업완료</option>"
   		                               + "<option value='환불완료'>환불완료</option></select></td>"
   		                   		       + "<td><button type='button' class='applyBtn'>적용</button>"
   		                 		       + "<button type='button' class='detailBtn'>상세보기</button></td></tr>";
   		           		
        					$("#odList").html(tableHTML);
   		                	$(".odStatus").val(item.orderStatus).prop("selected", true);
            				
            			});	
        			} else {
        				tableHTML += "<tr><td colspan='7' rowspan='7'>검색 결과가 존재하지 않습니다.</td></tr>"
        						   + "<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>";
        				$("#odList").html(tableHTML);
        			}
        		},
        		error : function(e){
        			console.log(e);
        		}
        	});
        });
        
        // 주문상태 수정
        $(document).on("click",".applyBtn", function(){
        	
        	var tr = $(this).parent().parent();
        	var td = tr.children();

        	var purchaseNo = td.eq(1).text();
        	var odStatus = td.eq(5).children().val();
        	
        	if(confirm("주문상태를 변경하시겠습니까?")){
        		
	        	$.ajax({
	        		url : "/orderManage/update",
	        		data : {purchaseNo : purchaseNo,
	        				odStatus : odStatus},
	        		type : "post",
	        		success : function(data){
	        			alert("주문상태가 변경되었습니다.");
	        		},
	        		error : function(e){
	        			console.log(e);
	        			alert("주문상태 변경에 실패하였습니다.");
	        		}
	        	});
        	}
        });
        
		// 상세보기
		$(document).on("click",".detailBtn", function(){
			
			var tr = $(this).parent().parent();
        	var td = tr.children();

        	var purchaseNo = td.eq(1).text();
        	        	
        	$.ajax({
        		url : "/orderManage/detail",
        		type : "post",
        		data : {purchaseNo : purchaseNo},
        		success : function(data){
        			
        			// 픽업 정보
        			var pickupHTML = '';
				
        			pickupHTML += '<tr><th>픽업매장</th>';
        			pickupHTML += '<td>' + data.pickupPlace + '</td>';
        			pickupHTML += '</tr><tr>';
        			pickupHTML += '<th>픽업일시</th>';
        			pickupHTML += '<td>' + data.pickupTime + '</td></tr>';
        			
        			$("#pickupInfo").html(pickupHTML);
        			
        			// 주문 정보
        			var orderHTML = '';
        			let date = new Date(data.purchaseDate);
        			let refundDate = '';
        			if(data.refundDate != null){
        				refundDate = dateFormat(new Date(data.refundDate));
        			} else {
        				refundDate = '-';
        			}
        			
        			orderHTML += '<tr><th>주문번호</th>';
        			orderHTML += '<td>' + data.purchaseNo + '</td>';
        			orderHTML += '<th>결제수단</th>';
        			orderHTML += '<td>신용카드</td>';
        			orderHTML += '</tr><tr>';
        			orderHTML += '<th>주문일시</th>';
        			orderHTML += '<td>' + dateFormat(date) + '</td>';
        			orderHTML += '<th>사용적립금</th>';
        			orderHTML += '<td>' + data.usePoint + '</td>';
        			orderHTML += '</tr><tr>';
        			orderHTML += '<th>주문자명</th>';
        			orderHTML += '<td>' + data.userName + '</td>';
        			orderHTML += '<th>결제금액</th>';
        			orderHTML += '<td>' + (data.purchasePrice - data.usePoint) + '</td>';
        			orderHTML += '</tr><tr>';
        			orderHTML += '<th>연락처</th>';
        			orderHTML += '<td>' + data.userPhone + '</td>';
        			orderHTML += '<th>환불일시</th>';
        			orderHTML += '<td style="text-align: center;">' + refundDate + '</td></tr>';
        			
        			$("#orderInfo").html(orderHTML);
 
        			// 상품 정보
        			$.each(data.orderDetail, function(index, item){
        				productHTML = '';
        				productHTML += '<tr><td>'+ item.productNo + '</td>';
        				productHTML += '<td>' + item.typeName + '</td>';
        				productHTML += '<td>' + item.productKname + '</td>';
        				productHTML += '<td>' + item.odCount + '</td>';
        				productHTML += '<td>' + (item.odPrice * item.odCount) + '</td></tr>';

            			$("#productInfo").html(productHTML);
        			})	
        		},
        		error : function(e){
        			console.log(e);
        		}
        	});
		});

		// 상태 일괄 변경 활성화
		$("#orderState").change(function(){
			
			$("#changeBtn").attr("disabled", false);
			$("#changeBtn").css("color", "black");
			
			let beforeStatus = $("#orderState").val();
			
			$("#beforeStatus").text(beforeStatus);
		});             
                        
		// 상태 일괄 변경
        $(".allApplyBtn").click(function(){
        	
        	var afterStatus = $("#afterStatus").val();
        	
        	var pNoArr = new Array();
	        $(".purchaseNo").each(function(index){
	        	pNoArr.push($(this).text());
	        });
	        	                	
	        $.ajax({
        		url : "/orderManage/allChange",
        		type : "post",
        		data : {odStatus : afterStatus,
        				pNoArr : pNoArr},
        		success : function(data){
        			if(data == "success"){
        				alert("상태 일괄 변경에 성공하였습니다.");
        				location.reload();
        			} else
        				alert("상태 일괄 변경에 실패하였습니다.");
        		},
        		error : function(e){ 
        			console.log(e);
        		}
        	});
        });
		
		// 조건 검색
		$(document).on("click",".searchBtn", function(){
			var searchCondition = $("select[name=searchCondition]").val();
			var searchValue = $("input[name=searchValue]").val();
			var searchStatus = $("#orderState").val();
			
			$.ajax({
				url : "/orderManage/search",
				type : "post",
				data : {searchStatus : searchStatus,
						searchCondition : searchCondition,
						searchValue : searchValue},
						
				success : function(data){
					tableHTML = '';
					
					if(data.length != 0) {
        				$.each(data, function(index, item){
            				
            				let date = new Date(item.purchaseDate);
            				
           					tableHTML += "<tr><td><input type='checkbox'></td>"
   		                	 	   	   + "<td class='purchaseNo'>" + item.purchaseNo + "</td>"
   		                 		       + "<td>" + dateFormat(date) + "</td>"
   		                 		       + "<td>" + item.userName + "</td>"
   		                 		       + "<td>" + item.purchasePrice + "</td>"
   		                 	           + "<td><select class='odStatus'>"
   		                               + "<option value='결제완료'>결제완료</option>"
   		                               + "<option value='결제취소'>결제취소</option>"
   		                               + "<option value='픽업대기중'>픽업대기중</option>"
   		                               + "<option value='픽업완료'>픽업완료</option>"
   		                               + "<option value='환불완료'>환불완료</option></select></td>"
   		                   		       + "<td><button type='button' class='applyBtn'>적용</button>"
   		                 		       + "<button type='button' class='detailBtn'>상세보기</button></td></tr>";
   		           		
        					$("#odList").html(tableHTML);
   		                	$(".odStatus").val(item.orderStatus).prop("selected", true);
            			});	
        			} else {
        				tableHTML += "<tr><td colspan='7' rowspan='7'>검색 결과가 존재하지 않습니다.</td></tr>"
        						   + "<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>";
        				$("#odList").html(tableHTML);
        			}
				},
				error : function(e){
					console.log(e);
				}
			});		
		});

    </script>
</body>
</html>