<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 관리</title>
    <link href="/css/orderManage/orderManage.css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <nav class="snb">
            <!-- <div class="snb_inner">
            </div> -->
        </nav>
        <div class="contents">
            <div class="inner">
                <div>
                    <h3 style="font-size: 24px;">주문 관리</h3>
                </div>
                <hr style="padding-right: 130px;">
                
                <form name="orderStateForm" method="get">
                    <div class="orderState">
                        <label>주문 상태</label>
                        <select>
                            <option selected>- 전체 -</option>
                            <option value="결제완료">결제완료</option>
                            <option value="결제취소">결제취소</option>
                            <option value="픽업대기중">픽업대기중</option>
                            <option value="픽업완료">픽업완료</option>
                            <option value="환불완료">환불완료</option>
                        </select>
                    </div>
                </form>

                <form name="searchDateForm" method="get">
                    <div class="searchDate">
                        <label>조회 기간</label>
                        <input type="date"> ~ <input type="date">
                        <input type="button" value="오늘" class="dateBtn">
                        <input type="button" value="1주일" class="dateBtn">
                        <input type="button" value="1개월" class="dateBtn">
                    </div>
                </form>

                <form method="get" action="">
                    <div class="searchBox">
                        <label>조건 검색</label>
                        <select name="searchCondition">
                            <option value="orderName">주문자명</option>
                            <option value="orderNumber">주문번호</option>
                        </select>
                        <input type="search" name="searchValue">
                        <button type="submit" class="searchBtn">이미지</button>
                    </div>
                </form>

                <div>
                    <div class="btnAndInfo">
                        <div class="btnArea">
                            <button type="button" onclick="" class="deleteBtn">선택 삭제</button>
                            <button type="button" onclick="" class="changeBtn">상태 일괄 변경</button>
                        </div>
                        <div class="infoArea">총 주문 수 : <span>35</span>, 검색 주문 수 : <span>10</span></div>    
                    </div>

                    <table>
                        <tr>
                            <th><input type="checkbox" onclick=""></th>
                            <th>주문번호</th>
                            <th>주문일시</th>
                            <th>주문자명</th>
                            <th>주문금액</th>
                            <th>주문상태</th>
                            <th>기능</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" value=""></td>
                            <td>2021102601</td>
                            <td>2021.10.26 11:12:56</td>
                            <td>홍길동</td>
                            <td>38,000원</td>
                            <td>
                                <select>
                                    <option value="결제완료">결제완료</option>
                                    <option value="결제취소">결제취소</option>
                                    <option value="픽업대기중">픽업대기중</option>
                                    <option value="픽업완료">픽업완료</option>
                                    <option value="환불완료">환불완료</option>
                                </select>
                            </td>
                            <td>
                                <button type="button" class="applyBtn">적용</button>
                                <button type="button" class="detailBtn">상세보기</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="modal" class="modal-overlay">
                    <div class="modal-window">
                        <div class="title">
                            <h4>상태 일괄 변경</h4>
                        </div>

                       
                        <div class="content">
                            결제완료 >>
                            <select>
                                <option selected>- 전체 -</option>
                                <option value="결제완료">결제완료</option>
                                <option value="결제취소">결제취소</option>
                                <option value="픽업대기중">픽업대기중</option>
                                <option value="픽업완료">픽업완료</option>
                                <option value="환불완료">환불완료</option>
                            </select>

                            <button type="button" class="cancleBtn">취소</button>
                            <button type="submit" class="applyBtn">적용</button>
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script>
    
    </script>
</body>
</html>