@charset "UTF-8";

figure {
	width: 210px;
	height: 210px;
	animation: rotation 20s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	transform-style: preserve-3d;
}

.face {
	width: 220px;
	height: 220px;
	position: absolute;
	transform-origin: center;
	background: white;
	text-align: center;
}

.face img {
	width: 120px;
	cursor: pointer;
}

.a {
	transform: translate3d(0, 0, 400px);
}

.b {
	transform: rotateY(30deg) translate3d(0, 0, 400px);
}

.c {
	transform: rotateY(60deg) translate3d(0, 0, 400px);
}

.d {
	transform: rotateY(90deg) translate3d(0, 0, 400px);
}

.e {
	transform: rotateY(120deg) translate3d(0, 0, 400px);
}

.f {
	background-color: balck;
	transform: rotateY(150deg) translate3d(0, 0, 400px);
}

.g {
	background-color: balck;
	transform: rotateY(180deg) translate3d(0, 0, 400px);
}

.h {
	background-color: balck;
	transform: rotateY(-150deg) translate3d(0, 0, 400px);
}

.i {
	background-color: balck;
	transform: rotateY(-120deg) translate3d(0, 0, 400px);
}

.j {
	background-color: balck;
	transform: rotateY(-90deg) translate3d(0, 0, 400px);
}

.k {
	background-color: balck;
	transform: rotateY(-60deg) translate3d(0, 0, 400px);
}

.l {
	background-color: balck;
	transform: rotateY(-30deg) translate3d(0, 0, 400px);
}

@keyframes rotation {
	from { 
		transform:rotateY(0);
	}
	
	to {
		transform: rotateY(-360deg);
	}
}