@charset "UTF-8";
	* {
          font-family: 'Gowun Batang', serif;
       }
	.wrapper {
		display : flex;
		width: 1100px;
		margin : 0 auto;
	}
	.contents {
	    width: 888px;
	    height: 100%;
	}
	h3 {
		margin-top: 0;
	}
	.inner {
	    margin-top: 30px;
	    margin-left: 27px;
	    width: 795px;
	    height: 700px;
	}
	.input_area {
		display: flex;
		margin-bottom: 20px;
	}
	
	.label_area {
		width: 200px;
	}
	
	.text_area {
		resize: none;
		width: 400px;
		height: 300px;
		overflow-y: scroll;
	}
	
	input[type=range] {
		display: inline;
		background: #c4c4c4;
		-webkit-appearance: none;
		border-radius: 5px;
		height: 0.5em;
	}
	
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none;
		background: #83131E;
		cursor: pointer;
		border: 1px solid #000000;
		height: 1em;
		width: 1em;
		border-radius: 50%;
	}
	
	.image_area {
		width: 350px;
		height: 350px;
		border: 1px solid black;
	}
	
	.cancle_btn {
		border: 1px solid #83131E;
		border-radius: 5px;
		background: white;
		color: #83131E;
	}
	
	.modify_btn {
		border: 1px solid #83131E;
		border-radius: 5px;
		background: #83131E;
		color: white;
	}
	
	.btn {
		height: 40px;
		width: 100px;
		left: 0px;
		top: 0px;
		border-radius: 5px;
	}
	
	#modifyForm {
		width: 800px;
	}
	
	#btn_area {
		text-align: center;
	}
	
	#hash_btn {
		background: #83131E;
		color: white;
		margin-left: 20px;
		border-radius: 5px;
		border: 1px solid #83131E;
	}
	.category > select {
		width: 140px;
	}
	.name_area {
		width: 400px;
	}
	.img {
		width: 350px;
		height: 350px;
	}
	.snb_inner {
	    width: 170px;
	    margin: 30px auto 0;
	}