<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap"
	rel="stylesheet">
<title>DWine</title>
<link href="/css/common/common.css" rel="stylesheet">
<link href="/css/home/home.css" rel="stylesheet">
</head>
<body>
	<header th:include="common/header :: header"></header>
	<div class="wrapper">
		<figure>
			<div class="face a">
				<img src="images/member/lolailo.PNG" onclick="alert('a')">
			</div>

			<div class="face b">
				<img src="images/member/malbec.PNG" onclick="alert('b')">
			</div>

			<div class="face c">
				<img src="images/member/michelle.PNG" onclick="alert('c')">
			</div>

			<div class="face d">
				<img src="images/member/rose.PNG" onclick="alert('d')">
			</div>

			<div class="face e">
				<img src="images/member/blanc.PNG" onclick="alert('e')">
			</div>

			<div class="face f">
				<img src="images/member/lolailo.PNG" onclick="alert('f')">
			</div>
			<div class="face g">
				<img src="images/member/michelle.PNG" onclick="alert('g')">
			</div>

			<div class="face h">
				<img src="images/member/malbec.PNG" onclick="alert('h')">
			</div>

			<div class="face i">
				<img src="images/member/rose.PNG" onclick="alert('i')">
			</div>

			<div class="face j">
				<img src="images/member/malbec.PNG" onclick="alert('j')">
			</div>

			<div class="face k">
				<img src="images/member/michelle.PNG" onclick="alert('k')">
			</div>
			<div class="face l">
				<img src="images/member/lolailo.PNG" onclick="alert('l')">
			</div>
		</figure>
	</div>
	<footer th:include="common/footer :: footer"></footer>

</body>
</html>