@charset "UTF-8";

.joinForm_header {
	text-align: center;
	margin: 50px;
}

.joinForm_header a {
	cursor: pointer;
	text-decoration: none;
	font-size: 96px;
	color: #6B0E1F;
}

.joinForm_main {
	text-align: center;
}

.joinForm_box {
	display: inline-block;
	padding: 50px;
	border: solid #6B0E1F;
	border-radius: 5%;
	width: 600px;
}

.joinForm_box p {
	text-align: left;
}

.joinForm_box input {
	width: 400px;
	height: 50px;
	border-radius: 12px;
	font-size: 15px;
	padding-left: 10px;
	margin-top: 5px;
	border: 1px solid #808080;
}

.joinForm_box input[readonly] {
	background: lightgray;
}

.joinForm_box input:focus {
	border: 1px solid #6B0E1F;
	outline: 1px solid #6B0E1F;
}

.joinForm_box label {
	margin-right: 330px;
	font-size: 18px;
	color: #808080;
}

#check_email, #check_nickName, #check_confirm {
	width: 150px;
	height: 50px;
	color: white;
	background-color: #6B0E1F;
	cursor:pointer;

}

.joinForm_box input[value="회원가입"] {
	width: 300px;
	background-color: #6B0E1F;
	color: white;
	margin-top: 30px;
	cursor:pointer
}

#pwdresult, #pwdform {
	color: #6B0E1F;
	font-size: 12px;
	font-weight: bold;
}