@charset "UTF-8";

.joinConfirm_header {
	text-align: center;
	margin: 50px;
}

.joinConfirm_header a {
	cursor: pointer;
	text-decoration: none;
	font-size: 96px;
	color: #6B0E1F;
}

.joinConfirm_main {
	text-align: center;
}

.join_btn {
	position: relative;
}

.join_btn a {
	display: inline-block;
}

.joinInfo {
	border-color: #6B0E1F;
	resize: none;
	padding: 0px 15px;
	font-weight: bold;
	border-radius: 5px;
}

.joinInfo::-webkit-scrollbar {
	width: 10px;
}

.joinInfo::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

.joinInfo::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.joinConfirm_box {
	display: inline-block;
	width: 550px;
	height: 550px;
	border: solid #6B0E1F;
	border-radius: 10%;
}