@charset "UTF-8";

.loginForm_header {
	text-align: center;
	font-family: 'Acme', sans-serif;
	margin: 50px;
}

.loginForm_header a {
	cursor: pointer;
	text-decoration: none;
	font-size: 96px;
	color: #6B0E1F;
}

.loginForm_main {
	text-align: center;
}

.loginForm_main p {
	margin-top: 20px;
}

.loginForm_box {
	display: inline-block;
	padding: 50px;
	border: solid #6B0E1F;
	border-radius: 10%;
}

.loginForm_box input[name=username], .loginForm_box input[name=password] {
	width: 400px;
	height: 80px;
	border-radius: 12px;
	font-size: 20px;
	padding-left: 10px;
	border: 1px solid #808080;
}

.loginForm_box input:focus {
	border: 1px solid #6B0E1F;
	outline: 1px solid #6B0E1F;
}

.remember_id {
	margin-right: 250px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label span {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	border: 1px solid #808080;
	border-radius: 50%;
	cursor: pointer;
}

input[type="checkbox"]:checked+label span {
	background: black;
	width: 18px;
	height: 18px;
	border: 2px solid white;
	outline: 1px solid black;
}

input[type="submit"] {
	width: 416px;
	height: 80px;
	border-radius: 12px;
	border: none;
	background-color: #6B0E1F;
	font-size: 30px;
	color: white;
	cursor:pointer
}

#kakaoLogin {
	width: 416px;
	height: 80px;
	border-radius: 12px;
	border: none;
	background-color: #FFD400;
	font-size: 30px;
	color: white;
	cursor: pointer;
}

.login_subMenu a {
	text-decoration: none;
	color: #808080;
}